<template lang="html">
  <div class="">
    <EditRoomBookings :data="data" />
    <b-button variant="link" class="m-r-15 c-blue" @click="$router.go(-1)"><i class="fa fa-chevron-left"></i> Back</b-button>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import EditRoomBookings from '~/components/EditRoomBookings'

export default {
  layout: 'dashboard',
  components: {
    EditRoomBookings
  },
  async asyncData({ app, store, route, error }) {
    try {
      return await app.$devless
        .queryData('core', 'room_bookings', {
          where: `id,${route.params.id}`
        })
        .then(res => {
          console.log(res)
          if (res.status_code == 625) {
            return {
              data: res.payload.results[0]
            }
          }
        })
    } catch (e) {
      error({ statusCode: 404, message: 'Record Not Found' })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
