<template lang="html">
  <div class="">
    <b-form
      @submit.prevent="updateCompany">
      <MainTitle title="Add Company">
        <div class="pull-right">
          <b-button
            type="submit"
            variant="primary">Save Company</b-button>
        </div>
      </MainTitle>
      <b-row>
        <FullCard cols="6">
          <HeaderTitle subtitle="New Company" />
          <b-form-group label="Name" label-for="name">
            <b-form-input id="name" v-model="company.name" placeholder="Name of Company" required />
          </b-form-group>
          <b-form-group label="Description" label-for="description">
            <b-form-textarea id="description" v-model="company.description" placeholder="Description of the Company" rows="3" max-rows="5" required />
          </b-form-group>
        </FullCard>
      </b-row>
    </b-form>
    <b-button
      variant="link"
      class="m-r-15 c-blue"
      @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
    </div>
</template>

<script>
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  async asyncData({ route, store, error }) {
    return await store
      .dispatch('superApi', {
        table: 'devless_companies',
        action: 'read',
        queries: [
          {
            where: ['name', route.params.id]
          }
        ]
      })
      .then(res => {
        if (res.status_code == 1000) {
          return {
            company: res.payload[0]
          }
        } else {
          error({ statusCode: '404', message: 'Not Found' })
        }
      })
  },
  methods: {
    updateCompany() {
      try {
        const { commit, dispatch } = this.$store

        commit('CHANGE_LOADING', true)

        dispatch('superApi', {
          table: 'devless_companies',
          action: 'update',
          queries: [{ where: ['id', this.company.id] }],
          records: this.company
        }).then(res => {
          if (res.status_code == 1000) {
            this.$router.go(-1)
            this.$toast.success('Record Updated Successfully.')
            return
          }
          this.$toast.error('Unable to Update Record. Try Again...')
        })
      } catch (e) {
        console.log(e)
        this.$sentry.captureException(e)
      }
    }
  }
}
</script>

<style lang="css" scoped>
</style>
