<template lang="html">
    <div class="">
      <MainTitle
        :subtitle="`${members.length} Members`"
        :title="$route.params.id">
        <div class="pull-right">
          <b-button
            :disabled="disable"
            @click="deleteEntry($route.params.id)"
            variant="danger">Delete Company</b-button>
        </div>
        </MainTitle>
      <b-row>
        <FullCard type="card-feed pd-t-0" >
          <div class="table-responsive">
            <table class="feed table table-hover table-striped m-0">
              <thead>
                <tr>
                  <th class="text-muted">Full Name</th>
                  <th class="text-muted">Position</th>
                  <th class="text-muted">Last Check-in</th>
                </tr>
              </thead>
              <tbody v-if="members.length > 0">
                  <tr v-for="(member, i) in members" :key="i">
                    <td><nuxt-link class="c-shack-red" :to="`${base_url}/directory/${member.users_id}`">{{ member.first_name + ' ' + member.last_name}}</nuxt-link></td>
                    <td>{{ member.job_title }}</td>
                    <td>{{ member.last_checkin_date ? $moment(member.last_checkin_date * 1000).format('YYYY-MM-DD HH:mm:ss') : 'n/a' }}</td>
                  </tr>
              </tbody>
              <tbody v-else>
                <tr>
                  <td colspan="3">
                    No member added yet
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </FullCard>
      </b-row>
      <b-button
        variant="link"
        class="m-r-15 c-blue"
        @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'

export default {
  async asyncData({ store, route, error }) {
    return await store
      .dispatch('superApi', {
        table: 'users',
        action: 'read',
        queries: [
          {
            where: ['name', route.params.id]
          },
          {
            whereNotNull: ['last_membership_payment']
          },
          {
            where: ['last_membership_payment', '!=', '']
          },
          {
            join: [
              'devless_companies',
              'devless_user_profile.devless_companies_id',
              '=',
              'devless_companies.id'
            ]
          }
        ]
      })
      .then(res => {
        if (res.status_code == 1000) {
          return {
            members: _.sortBy(res.payload, o => {
              return o.first_name
            })
          }
        }

        error({ statusCode: 404, message: 'Not Found' })
      })
  },
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard
  },
  computed: {
    ...mapState({
      base_url: state => state.base_url
    }),
    disable() {
      return this.members.length > 0
    }
  },
  methods: {
    deleteEntry(company) {
      if (!confirm('Are you sure?')) return

      try {
        const { dispatch } = this.$store

        dispatch('superApi', {
          table: 'devless_companies',
          action: 'destroy',
          queries: [
            {
              where: ['name', company]
            }
          ]
        }).then(res => {
          if (res.status_code == 1000) {
            this.$toast.success('Company Removed Successfully')
            this.$router.go(-1)
            return
          }

          this.$toast.error('Error Removing Company. Try Again...')
        })
      } catch (e) {
        this.$sentry.captureException(e)
      }
    }
  }
}
</script>

<style lang="css" scoped>
</style>
