<template lang="html">
  <div class="">
    <MainTitleSearch
      title="Checkins"
      search="true" dropdown="true" :value="tableView" :drops="drops" v-on:dropValue="getDropValue">
      <template slot="search">
        <div class="input-group col-md-4 top-search">
          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-icon"><i class="fa fa-search"/></button>
          </span>
          <input
            id="example-input3-group2"
            v-model="searchTerm"
            type="text"
            name="example-input3-group2"
            class="form-control"
            placeholder="Search">
          <span class="input-group-btn">
            <button
              type="button"
              class="btn bg-charcoal-grey txt-light"
              @click="resetSearch">Clear</button>
          </span>
        </div>
      </template>
    </MainTitleSearch>
    <b-row>
      <FullCard type="card-feed pd-t-0">
        <div class="table-responsive">
          <vue-good-table
            v-if="tableView == 'requests'"
            ref="member_table"
            :columns="columns"
            :rows="member"
            :search-options="{
              enabled: true,
              externalQuery: searchTerm
            }"
            style-class="feed-2 table table-hover table-striped m-0"
          >
            <template
              slot="table-column"
              slot-scope="props">
              <div>
                {{ props.column.label }}
              </div>
            </template>
            <template
              slot="table-row"
              slot-scope="props">
              <div v-if="props.column.field === 'status'">
                <b-button
                  variant="primary"
                  @click="approve(props)" :disabled="loading">Approve</b-button>
                  <b-button class="c-red" variant="link" :disabled="loading" @click="unapproved(props)">Unapprove</b-button>
              </div>
              <div v-else-if="props.column.label === 'Name'">
                <nuxt-link :to="base_url + `/directory/${props.row.users_id}`" class="c-shack-red">{{ props.row.first_name }} {{ props.row.last_name}}</nuxt-link>
              </div>
              <div v-else>{{ props.formattedRow[props.column.field] }}</div>
            </template>
          </vue-good-table>
          <check-in-members :members="member" :base_url="base_url" v-else></check-in-members>
        </div>
      </FullCard>
    </b-row>
  </div>
</template>

<script>
import MainTitleSearch from '~/components/MainTitleSearch.vue'
import FullCard from '~/components/FullCard.vue'
import CheckInMembers from '~/components/CheckInMembers.vue'
import { mapState } from 'vuex'

export default {
  async asyncData({ store, error, route }) {
    const moment = require('moment')

    if (route.query.q == 'checkedin') {
      return await store
        .dispatch('superApi', {
          table: 'users',
          action: 'read',
          queries: [
            {
              whereRaw: [
                `DATE_FORMAT(FROM_UNIXTIME(devless_user_profile.last_checkin_date),'%Y-%m-%d') = Date('${moment().format(
                  'YYYY-MM-DD'
                )}')`
              ]
            }
          ]
        })
        .then(res => {
          if (res.status_code == 1000) {
            return {
              tableView: 'members',
              member: res.payload
            }
          }
        })
    }

    return await store
      .dispatch('superApi', {
        table: 'users',
        action: 'read',
        queries: [
          {
            join: [
              'core_activity_log',
              'users.id',
              '=',
              'core_activity_log.users_id'
            ]
          },
          {
            select: [
              'core_activity_log.id as c_id',
              'core_activity_log.*',
              'users.*',
              'devless_user_profile.*'
            ]
          },
          {
            whereRaw: [
              `DATE_FORMAT(FROM_UNIXTIME(core_activity_log.timestamp),'%Y-%m-%d') = Date('${moment().format(
                'YYYY-MM-DD'
              )}')`
            ]
          },
          { where: ['core_activity_log.code', 'user_check_in'] },
          { where: ['core_activity_log.tags', '=', 'null'] },
          {
            where: [
              'core_activity_log.core_workspace_id',
              store.getters.getCurrentSpaceId
            ]
          },
          {
            orderBy: ['core_activity_log.id', 'desc']
          }
        ]
      })
      .then(res => {
        if (res.status_code == 1000) {
          let data = _.uniqBy(res.payload, 'users_id')

          store.commit(
            'setCount',
            _.map(data, o => {
              return `${o.first_name} ${o.last_name}`
            })
          )
          return {
            tableView: 'requests',
            member: data
          }
        } else {
          error({ statusCode: 404, message: 'Error Retrieving Records' })
        }
      })
  },
  layout: 'dashboard',
  components: {
    MainTitleSearch,
    FullCard,
    CheckInMembers
  },
  data: () => ({
    searchTerm: '',
    drops: [
      { title: 'Requests', tag: 'requests' },
      { title: 'Checked-in today', tag: 'members' }
    ],
    columns: [
      {
        label: 'Name',
        field: row => {
          return row.first_name + ' ' + row.last_name
        }
      },
      {
        label: 'Member ID',
        field: 'member_id'
      },
      {
        label: 'Timestamp',
        field: 'timestamp',
        type: 'date',
        dateInputFormat: 'X',
        dateOutputFormat: 'MMM Do YYYY HH:mm:ss'
      },
      {
        label: '',
        field: 'status'
      }
    ]
  }),
  computed: {
    ...mapState({
      base_url: state => state.base_url,
      loading: state => state.loading
    })
  },
  methods: {
    async approve(member) {
      await this.$devless
        .call('core', 'adminToggleCheckIn', [
          {
            user_id: member.row.users_id
          }
        ])
        .then(async res => {
          if (res.status_code === 1000) {
            await this.$store
              .dispatch('superApi', {
                table: 'core_activity_log',
                action: 'update',
                queries: [
                  { where: ['users_id', member.row.users_id] },
                  { where: ['code', 'user_check_in'] },
                  { where: ['tags', '!=', '1'] }
                ],
                records: {
                  tags: '1'
                }
              })
              .then(res => {
                if (res.status_code == 1000) {
                  this.$toast.success('Member Check-in Approved')
                  this.member.splice(member.index, 1)
                  return
                }
              })
          }
        })
    },
    async unapproved(props) {
      this.$store.commit('CHANGE_LOADING', true)

      await this.$store
        .dispatch('superApi', {
          table: 'core_activity_log',
          action: 'update',
          queries: [{ where: ['id', props.row.c_id] }],
          records: {
            tags: '2'
          }
        })
        .then(res => {
          this.$store.commit('CHANGE_LOADING', false)

          if (res.status_code == 1000) {
            this.$toast.success('Member Check-in Approved.')
            this.member.splice(props.index, 1)
          } else {
            this.$toast.error('Error Occurred. Try Again ...')
          }
        })
    },
    resetSearch() {
      this.searchTerm = ''
    },
    getDropValue(type) {
      this.tableView = type.tag

      if (type.tag == 'members') {
        this.getAllCheckkedInMembers()
      } else {
        this.getCheckInRequests()
      }
    },
    getAllCheckkedInMembers() {
      this.$store
        .dispatch('superApi', {
          table: 'users',
          action: 'read',
          queries: [
            {
              whereRaw: [
                `DATE_FORMAT(FROM_UNIXTIME(devless_user_profile.last_checkin_date),'%Y-%m-%d') = Date('${this.$moment().format(
                  'YYYY-MM-DD'
                )}')`
              ]
            }
          ]
        })
        .then(res => {
          if (res.status_code == 1000) {
            this.member = res.payload
          }
        })
    },
    getCheckInRequests() {
      this.member = []

      this.$store
        .dispatch('superApi', {
          table: 'users',
          action: 'read',
          queries: [
            {
              join: [
                'core_activity_log',
                'users.id',
                '=',
                'core_activity_log.users_id'
              ]
            },
            {
              select: [
                'core_activity_log.id as c_id',
                'core_activity_log.*',
                'users.*',
                'devless_user_profile.*'
              ]
            },
            {
              whereRaw: [
                `DATE_FORMAT(FROM_UNIXTIME(core_activity_log.timestamp),'%Y-%m-%d') = Date('${this.$moment().format(
                  'YYYY-MM-DD'
                )}')`
              ]
            },
            { where: ['core_activity_log.code', 'user_check_in'] },
            { where: ['core_activity_log.tags', '=', 'null'] },
            {
              where: [
                'core_activity_log.core_workspace_id',
                this.$store.getters.getCurrentSpaceId
              ]
            },
            {
              orderBy: ['core_activity_log.id', 'desc']
            }
          ]
        })
        .then(res => {
          if (res.status_code == 1000) {
            this.member = _.uniqBy(res.payload, 'users_id')
          } else {
            this.$toast.error('Error Retrieving Records. Try Again...')
          }
        })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
