<template lang="room-add">
  <div class="">
    <b-form @submit.prevent="updateRoom">
      <MainTitle title="Edit Room">
      <div class="pull-right">
        <b-button type="submit" variant="primary" :disabled="loading">Update Room</b-button>
      </div>
    </MainTitle>
    <b-row>
      <FullCard cols="12" type="card-feed">
        <HeaderTitle subtitle="Room Details" />
        <div class="row p-lr-20">
          <div class="col-md-6">
            <div class="row">
              <b-form-group label="Name" label-for="title" class="col-md-12">
                <b-form-input id="title" type="text" class="form-control" placeholder="Name of Room" v-model="room.row.name" />
              </b-form-group>
              <b-form-group label="Price per hour" label-for="price_per_hour" class="col-md-9">
                <b-form-input id="price_per_hour" type="number" step="0.01" class="form-control" placeholder="0.00" v-model="room.row.price_per_hour" />
              </b-form-group>
              <b-form-group label="Currency" label-for="currency" class="col-md-3">
                <b-form-input :value="$store.getters.getCurrency" id="currency" class="form-control" readonly />
              </b-form-group>
              <b-form-group label="Description" label-for="description" class="col-md-12">
                <b-form-textarea placeholder="Add details about this room" rows="5" class="form-control" v-model="room.row.description" />
              </b-form-group>
              <div class="clearfix"></div>
              <div class="col-md-3">
                <img :src="(image.length > 0) ? image[0] : room.row.images[0]" class="img-responsive" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <b-form-group label="Amenities" label-for="amenities" class="col-md-12">
                <multiselect v-model="room.row.amenities" :options="options" :multiple="true" :taggable="true" @tag="addTag" tag-placeholder="Add Amenities" placeholder="Add Amenities" />
              </b-form-group>
              <b-form-group label="Number of Seats" label-for="seats" class="col-md-12">
                <b-form-input id="seats" type="number" class="form-control" placeholder="0" v-model="room.row.number_of_seats" />
              </b-form-group>
              <b-form-group label="Room Category" label-for="category" class="col-md-12">
                <b-form-select id="category" v-model="room.row.core_room_categories_id" class="form-control">
                  <option v-for="(category, i) in categories" :key="i" :value="category.id">{{category.name}}</option>
                </b-form-select>
              </b-form-group>
              <h5 class="col-md-12"><b-button variant="link" :to="$route.path + '/slots'"><span style="text-decoration: underline;">Modify Availability Times</span></b-button></h5>
            </div>
          </div>
        </div>
        <div class="upload-btn-wrapper p-lr-20 mr-t-30 bg-light-blue">
          <button class="btn"><i class="fa fa-paperclip"></i> {{ filename }}</button>
          <input type="file" name="image" accept="image/*" @change="getBase64" />
        </div>
      </FullCard>
    </b-row>
    </b-form>
    <b-button variant="link" class="m-r-15 c-blue" @click="$router.go(-1)"><i class="fa fa-chevron-left"></i> Back</b-button>
  </div>
</template>

<script>
import MainTitle from '~/components/MainTitle.vue'
import FullCard from '~/components/FullCard.vue'
import HeaderTitle from '~/components/HeaderTitle'
import Multiselect from 'vue-multiselect'
import Modal from '~/components/Modal'
import { mapState } from 'vuex'
import { days } from '~/static/data'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle,
    Multiselect,
    Modal
  },
  data: () => ({
    image: [],
    options: ['Projector'],
    days: days,
    filename: 'Upload room image (< 1MB) & size 800 x 530'
  }),
  async asyncData({ store, params, route }) {
    await store.dispatch('getRoomCategories')
    await store.dispatch('getOpeningDays', route.params.id)

    if (!store.state.rooms.room) {
      await store.dispatch('getSingleRoom', {
        id: params.id,
        workspace_id: store.getters.getCurrentSpaceId
      })
    }
  },
  computed: {
    ...mapState({
      current_space: state => state.current_space,
      loading: state => state.loading,
      room: state => state.rooms.room,
      openings: state => state.rooms.openings,
      categories: state => state.rooms.categories
    })
  },
  methods: {
    addTag(newTag) {
      this.options.push(newTag)
      this.room.amenities.push(newTag)
    },
    getBase64(e) {
      let input = event.target

      if (input.files[0].size > 1024000) {
        this.$toast.error('File size must not be greater than 1MB')
        return
      }

      if (input.files && input.files[0]) {
        this.filename = input.files[0].name
        let reader = new FileReader()
        reader.onload = e => {
          // this.image = e.target.result
          this.image.push(e.target.result)
        }

        reader.readAsDataURL(input.files[0])
      }
    },
    async uploadImage(image) {
      try {
        await this.$store
          .dispatch('uploadImage', {
            base64: image
          })
          .then(res => {
            if (res) {
              return res
            }
          })
      } catch (e) {
        this.$sentry.captureException('room image upload error, ' + e)
      }
    },
    async updateRoom() {
      if (this.image.length > 0) {
        if (
          !(this.room.row.images[0] = await this.$store.dispatch(
            'uploadImage',
            {
              base64: this.image[0]
            }
          ))
        )
          return
      }

      let room = this.room
      room.row.amenities = JSON.stringify(this.room.row.amenities)
      room.row.images = JSON.stringify(this.room.row.images)

      this.$store.dispatch('updateRoom', room)
    }
  }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css">
</style>
<style lang="css">
</style>
