<template lang="html">
  <div class="">
    <b-form
      @submit.prevent="addLabel">
      <MainTitle title="Add Label">
        <div class="pull-right">
          <b-button
            type="submit"
            :disabled="loading"
            variant="primary">Save Label</b-button>
        </div>
      </MainTitle>
      <b-row>
        <FullCard
          cols="6"
          type="card-feed">
          <HeaderTitle subtitle="New Label" />
          <div class="row p-lr-20">
            <div class="col-md-12">
              <b-form-group id="label" label="Label" label-for="label">
                <b-form-input id="label" required v-model="row.label" placeholder="Breakfast" />
              </b-form-group>
              <b-form-group id="description" label="Description" label-for="description">
                <b-form-textarea id="description" required v-model="row.description" rows="3"
      max-rows="4" placeholder="These meals are served during breakfast hours and would disapper after breakfast hours" />
              </b-form-group>
              <b-form-group id="from" label="Start Time" label-for="from">
                <date-picker v-model="row.from" width="100%" input-class="form-control" lang="en"
                  value-type="format" confirm
                type="time" format="HH:mm" placeholder="Select Time"></date-picker>
              </b-form-group>
              <b-form-group id="from" label="End Time" label-for="from">
                <date-picker v-model="row.to" width="100%" input-class="form-control" lang="en"
                  value-type="format" confirm
                type="time" format="HH:mm" placeholder="Select Time"></date-picker>
              </b-form-group>
            </div>
          </div>
        </FullCard>
      </b-row>
    </b-form>
    <b-button
      variant="link"
      class="m-r-15 c-blue"
      @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle.vue'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: () => ({
    row: {
      label: '',
      description: '',
      from: '',
      to: ''
    }
  }),
  computed: {
    ...mapState({
      loading: state => state.loading
    })
  },
  methods: {
    addLabel() {
      this.$store.dispatch('addLabel', this.row)
    }
  }
}
</script>

<style lang="css" scoped>
</style>
