<template lang="html">
  <div class="">
    <MainTitleSearch
      title="Meal"
      subtitle="Labels"
      search="true">
      <template slot="search">
        <div class="input-group col-md-4 top-search">
          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-icon"><i class="fa fa-search"/></button>
          </span>
          <input
            id="example-input3-group2"
            v-model="searchTerm"
            type="text"
            name="example-input3-group2"
            class="form-control"
            placeholder="Search">
          <span class="input-group-btn">
            <button
              type="button"
              :disabled="loading"
              class="btn bg-charcoal-grey txt-light"
              @click="resetSearch">Clear</button>
          </span>
        </div>
      </template>
      <div class="pull-right">
        <b-button
          :to="$route.path + '/add'"
          variant="primary">Add Label</b-button>
      </div>
    </MainTitleSearch>
    <b-row>
      <FullCard type="card-feed pd-t-0">
        <vue-good-table
          ref="label_table"
          :columns="columns"
          :rows="meal_times"
          :search-options="{
            enabled: true,
            externalQuery: searchTerm
          }"
          style-class="feed-2 table table-hover table-striped m-0"
        >
        <template
          slot="table-column"
          slot-scope="props">
          <div>
            {{ props.column.label }}
          </div>
        </template>
        <template
          slot="table-row"
          slot-scope="props">
          <div v-if="props.column.field === 'label'"
          class="c-shack-red">
            {{ props.row.label }}
          </div>
          <b-row v-else-if="props.column.field === 'options'">
            <b-col md="6">
              <b-button
                variant="link"
                class="c-blue"
                :disabled="loading"
                @click="editEntry(props)">
                <i class="fa fa-fw fa-pencil c-blue"/> Edit
              </b-button>
            </b-col>
            <b-col md="6">
              <b-button
                variant="link"
                class="c-pred"
                @click="deleteEntry(props)">
                <i class="fa fa-fw fa-times c-pred"/> Remove
              </b-button>
            </b-col>
          </b-row>
          <div v-else>
            {{ props.formattedRow[props.column.field] }}
          </div>
        </template>
      </vue-good-table>
      </FullCard>
    </b-row>
    <b-button
      variant="link"
      class="m-r-15 c-blue"
      @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import moment from 'moment'
import MainTitleSearch from '~/components/MainTitleSearch'
import FullCard from '~/components/FullCard'

export default {
  async asyncData({ store }) {
    await store.dispatch('fetchLabels')
  },
  layout: 'dashboard',
  components: {
    MainTitleSearch,
    FullCard
  },
  data: () => ({
    searchTerm: '',
    columns: [
      {
        label: 'Label',
        field: 'label',
        thClass: 'bold-n'
      },
      {
        label: 'Description',
        field: 'description',
        thClass: 'bold-n'
      },
      {
        label: 'From',
        field: row => {
          return moment(row.from, 'h:mm').format('h:mm a')
        },
        thClass: 'bold-n'
      },
      {
        label: 'To',
        field: row => {
          return moment(row.to, 'h:mm').format('h:mm a')
        },
        thClass: 'bold-n'
      },
      {
        label: '',
        field: 'options'
      }
    ]
  }),
  computed: {
    ...mapState({
      loading: state => state.loading,
      meal_times: state => state.inventory.meal_times
    })
  },
  methods: {
    resetSearch() {
      this.searchTerm = ''
    },
    editEntry(props) {
      this.$store.commit('SET_LABEL', props)
      this.$router.push(this.$route.path + '/' + props.row.id)
    },
    deleteEntry(props) {
      if (!confirm('Are you sure?')) return

      this.$store.dispatch('deleteLabel', props.index)
    }
  }
}
</script>

<style lang="css" scoped>
</style>
