<template>
  <div class="wrapper-page logins">
    <img src="/images/logo2.png" alt="" width="150">
		<p class="mr-t-30">LOG INTO YOUR ACCOUNT</p>
		<form class="mr-t-70" @submit.prevent="login">
			<div class="form-group">
				<input class="form-control" v-model="auth_details.email" type="email" required="" placeholder="Email">
			</div>
			<div class="form-group">
				<input class="form-control" v-model="auth_details.password" type="password" required="" placeholder="Password">
			</div>
			<div class="form-group account-btn text-center mr-t-70">
				<button class="form-control btn waves-effect waves-light" type="submit" :disabled="loading">Login to Dashboard</button>
			</div>
		</form>

		<p class="mr-t-30 text-muted">Forgot Password? <nuxt-link href="#" class="c-brown-grey" to="/forgot-password">Request for Reset</nuxt-link></p>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Login',
  data: () => ({
    auth_details: {
      email: '',
      password: ''
    }
  }),
  computed: {
    ...mapState({
      loading: state => state.loading
    })
  },
  methods: {
    async login() {
      /* Initiate login using the async/await methods. Auth module is @nuxtjs/auth */
      await this.$store.dispatch('login', this.auth_details)
    }
  }
}
</script>

<style>
</style>
