<template id="dashboard">
  <div class="">
    <DashboardLoader v-if="loading" />
    <div v-else>
      <MainTitle
        title="Dashboard"
      />
      <div class="row">
        <nuxt-link :to="`${base_url}/checkins?q=checkedin`">
          <TheWidget
            :value="dashObj.membersCount"
            text="Checked-in today" />
        </nuxt-link>
        <nuxt-link :to="`${base_url}/bookings`">
          <TheWidget
            :value="dashObj.bookingsCount"
            text="Latest Bookings" />
        </nuxt-link>
        <nuxt-link :to="`${base_url}/inventory`">
          <TheWidget
            :value="dashObj.inventoryCount"
            text="Latest F&B Orders" />
        </nuxt-link>
        <nuxt-link :to="`${base_url}/events`">
          <TheWidget
            :value="dashObj.eventsCount"
            text="Today's Events" />
        </nuxt-link>
      </div>
      <div class="row">
        <ShCard cols="6">
          <HeaderTitle
            title="Activity Feed"
            subtitle="Usage Stream on Mobile Platform" />
          <div class="table-links mr-t-20">
            <div class="table-responsive mr-h-neg mr-b-100">
              <table class="feed table table-hover table-striped m-0">
                <tbody v-if="dashObj.activities.results.length === 0">
                  <tr>
                    <td>No activity recorded on platform</td>
                  </tr>
                </tbody>
                <tbody v-else>
                  <tr
                    v-for="(activity, i) in dashObj.activities.results"
                    :key="i">
                    <td><i
                      :class="activity.type == 'actionable' ? 'fa-tasks' : 'fa-info-circle'"
                      class="fa"/>
                      {{ activity.message }} <span>({{ activity.related._devless_users[0].first_name }})</span></td>
                    <td style="font-size: 10px;">{{ formatTime(activity.formatted_date) }}</td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- table-responsive -->
            <nuxt-link :to="`${$route.path}/activities`">See More</nuxt-link>
          </div>
        </ShCard>
        <ShCard cols="6">
          <HeaderTitle
            title="Bookings"
            subtitle="Rooms" />
          <div class="table-responsive mr-h-neg mr-b-100">
            <table class="feed-2 table table-hover table-striped m-0">
              <tbody v-if="bookings.length === 0">
                <tr>
                  <td>No upcoming bookings at this time</td>
                </tr>
              </tbody>
              <tbody v-else>
                <tr
                  v-for="(booking, i) in bookings"
                  :key="i">
                  <td><img
                    :src="getImage(booking.related.rooms[0].images)"
                    alt=""></td>
                  <td>
                    {{ $moment(booking.when, 'DD/MM/YYYY').format('dddd DD') }}, {{ $moment(booking.from, 'H:mm').format('hh:mm a') }} - {{ $moment(booking.to,'H:mm').format('hh:mm a') }} <br>
                    <span>{{ booking.related.rooms[0].name }} • {{ booking.purpose }} • Booking by: {{ getFullName(booking.related._devless_users[0]) }}</span>
                  </td>
                </tr>
              </tbody>
            </table>

          </div> <!-- table-responsive -->
          <div class="table-links mr-t-20">
            <nuxt-link
              :to="`${$route.path}/bookings`"
              class="mr-r-20">View Booking Calendar</nuxt-link>
            <nuxt-link class="mr-r-20" :to="`${$route.path}/inventory`">View F&B Orders</nuxt-link>
            <nuxt-link :to="`${$route.path}/tables/reservations`">View Table Reservations</nuxt-link>
          </div>
        </ShCard>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import MainTitle from '~/components/MainTitle'
import TheWidget from '~/components/TheWidget'
import ShCard from '~/components/ShCard.vue'
import HeaderTitle from '~/components/HeaderTitle.vue'
import DashboardLoader from '~/components/DashboardLoader'
import { mapState } from 'vuex'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    TheWidget,
    ShCard,
    HeaderTitle,
    DashboardLoader
  },
  computed: {
    ...mapState({
      loading: state => state.dashboard.loading,
      dashObj: state => state.dashboard.dashObj,
      bookings: state => state.dashboard.bookings,
      current_space: state => state.current_space,
      base_url: state => state.base_url
    })
  },
  created() {
    this.$store.dispatch('getDataObj', {
      workspace_id: this.$store.getters.getCurrentSpaceId
    })
  },
  methods: {
    formatTime(time) {
      if (this.current_space.timezone == 'America/Los_Angeles') {
        return this.$moment(
          `${time} -07:00`,
          '"DD-MM-YYYY HH:mm:ssZ"'
        ).fromNow()
      }
      return this.$moment(`${time}`, '"DD-MM-YYYY HH:mm:ssZ"').fromNow()
    },
    getImage(img) {
      return JSON.parse(img)[0]
    },
    getFullName(data) {
      return `${data.first_name} ${data.last_name}`
    }
  }
}
</script>
