<template id="tag-add">
  <div class="">
    <b-form
      @submit.prevent="addTag">
      <MainTitle title="Add Tag">
        <div class="pull-right">
          <b-button
            type="submit"
            variant="primary">Save Tag</b-button>
        </div>
      </MainTitle>
      <b-row>
        <FullCard cols="6">
          <HeaderTitle subtitle="Setup Tag" />
          <b-form-group
            id="tag_title"
            label="Label:"
            label-for="tag_title">
            <b-form-input
              id="tag_title"
              @change="setInput"
              :value="tag.label"
              type="text"
              placeholder="tech"
              required/>
          </b-form-group>
          <b-form-group
            id="description"
            label="Description:"
            label-for="description">
            <b-form-textarea
              id="description"
              v-model="tag.description"
              placeholder="Description about this tag" />
          </b-form-group>
        </FullCard>
      </b-row>
    </b-form>
    <b-button
      variant="link"
      class="m-r-15 c-blue"
      @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script type="text/javascript">
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'
import _ from 'lodash'
import { mapState } from 'vuex'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: () => ({
    tag: {
      label: '',
      description: '',
      workspace: ''
    }
  }),
  computed: {
    ...mapState({
      current_space: state => state.current_space
    })
  },
  methods: {
    addTag() {
      this.tag.workspace = this.current_space.id
      this.$store.dispatch('addTag', this.tag)
    },
    setInput(e) {
      this.tag.label = _.toLower(e)
    }
  }
}
</script>
