<template lang="givebackoptions">
  <div class="">
    <MainTitle title="Tags">
      <div class="pull-right">
        <b-button
          :to="base_url + '/add'"
          variant="primary">Add Tag</b-button>
      </div>
    </MainTitle>
    <b-row>
      <FullCard type="card-feed pd-t-0">
        <div class="pd-10" v-if="loading">
          <content-placeholders>
            <content-placeholders-heading />
            <content-placeholders-text :lines="3" />
          </content-placeholders>
        </div>
        <div class="table-responsive" v-else>
          <table class="feed-2 table table-hover table-striped m-0">
            <thead>
              <tr>
                <th>Title</th>
                <th colspan="3">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(tag, i) in tags" :key="i">
                <td class="c-shack-red">{{ tag.label }}</td>
                <td>{{ tag.description }}</td>
                <td class="text-right">
                  <b-button
                    variant="link"
                    class="c-blue"
                    @click="editTag(tag, i)">
                    <i class="fa fa-fw fa-pencil c-blue"/> Edit
                  </b-button>
                </td>
                <td class="text-right">
                  <b-button
                    variant="link"
                    class="c-pred"
                    @click="deleteTag(tag, i)">
                    <i class="fa fa-fw fa-times c-pred"/> Remove
                  </b-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </FullCard>
    </b-row>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard
  },
  computed: {
    ...mapState({
      loading: state => state.loading,
      base_url: state => state.base_url + '/tags',
      tags: state => state.tags.data,
      current_space: state => state.current_space
    })
  },
  created() {
    let token = this.$auth.$storage.getUniversal('token', false)
    this.$devless.setToken(token)
    this.$store.dispatch('getTags', this.current_space.id)
  },
  methods: {
    editTag(payload, i) {
      let tag = {
        row: payload,
        index: i
      }
      this.$router.push(`${this.base_url}/${payload.id}`)
      this.$store.commit('SET_CURRENT_TAG', tag)
    },
    deleteTag(payload, i) {
      if (!confirm('Are you sure')) return

      let tag = {
        level: 0,
        index: i,
        row: payload
      }
      this.$store.dispatch('removeTag', tag)
    }
  }
}
</script>

<style lang="css">
</style>
