<template>
  <div>
    <form @submit.prevent="editMember">
      <MainTitle title="Edit Member">
        <div class="pull-right">
          <b-button
            type="submit"
            variant="primary">Update Member</b-button>
        </div>
      </MainTitle>
      <b-row>
        <FullCard type="card-feed">
          <div class="row p-lr-20">
            <div class="col-md-4">
              <div class="row">
                <HeaderTitle subtitle="Personal Details" />
              </div>
              <b-form-group
                label="First Name"
                label-for="first_name">
                <b-form-input
                  v-model="details.first_name"
                  required
                  placeholder="First Name"
                  type="text" />
              </b-form-group>
              <b-form-group
                label="Last Name"
                label-for="last_name">
                <b-form-input
                  v-model="details.last_name"
                  required
                  placeholder="Last Name"
                  type="text" />
              </b-form-group>
              <b-form-group
                label="Date of Birth"
                label-for="date_of_birth">
                <date-picker v-model="details.date_of_birth" width="100%" input-class="form-control" lang="en"
                  value-type="format" confirm
                type="date" format="DD/MM/YYYY" placeholder="Date of Birth"></date-picker>
              </b-form-group>
              <b-form-group
                label="Address"
                label-for="address">
                <b-form-textarea
                  v-model="details.mailing_address"
                  required
                  placeholder="Address"
                  rows="3"/>
              </b-form-group>
              <b-form-group
                label="Email"
                label-for="email">
                <b-form-input
                  v-model="details.email"
                  placeholder="you@somemail.com"
                  type="text" />
              </b-form-group>
              <b-form-group
                label="Phone Number"
                label-for="phone_number">
                <b-form-input
                  v-model="details.phone_number"
                  required
                  placeholder="Phone Number"
                  type="tel" />
              </b-form-group>
            </div>
            <div class="col-md-4">
              <div class="row">
                <HeaderTitle subtitle="Professional Details" />
              </div>
              <b-form-group
                label="Linkedin"
                label-for="linkedin">
                <b-form-input
                  v-model="details.linkedin"
                  placeholder="https://linkedin.com/in/someone"
                  type="url"
                 />
              </b-form-group>
              <b-form-group
                label="Twitter"
                label-for="twitter">
                <b-form-input
                  v-model="details.twitter"
                  placeholder="@someone"
                 />
              </b-form-group>
              <b-form-group
                label="Company"
                label-for="company">
                <b-form-select v-model="details.devless_companies_id" @change="handleCompany" required>
                  <option value="" disabled>{{ companies.length == 0 ? 'Loading list' : 'Choose a company' }}</option>
                  <option v-for="(company, i) in companies" :key="i" :value="company.id">{{ company.name }}</option>
                </b-form-select>
              </b-form-group>
              <b-form-group
                label="Job Title"
                label-for="job_title">
                <b-form-input
                  v-model="details.job_title"
                  placeholder="CEO"
                  type="text" />
              </b-form-group>
              <b-form-group label="Assign Admin" label-for="assigned_admin">
                <b-form-select id="assigned_admin" v-model="details.assigned_admin">
                  <option :value="null">Unassigned</option>
                  <option v-for="admin in admins" :key="admin.id" :value="admin.users_id">{{ `${admin.first_name} ${admin.last_name}`}}</option>
                </b-form-select>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <div class="row">
                <HeaderTitle subtitle="References" />
              </div>
              <b-form-group
                label="First Reference Name"
                label-for="first_reference_name">
                <b-form-input
                  id="first_reference_name"
                  v-model="details.first_reference_name"
                  placeholder="First Reference Name"
                  type="text" />
              </b-form-group>
              <b-form-group
                label="First Reference Email"
                label-for="first_reference_email">
                <b-form-input
                  id="first_reference_email"
                  v-model="details.first_reference_email"
                  placeholder="First Reference Email"
                  type="email" />
              </b-form-group>
              <b-form-group
                label="Second Reference Name"
                label-for="second_reference_name">
                <b-form-input
                  id="second_reference_name"
                  v-model="details.second_reference_name"
                  placeholder="Second Reference Name"
                  type="text" />
              </b-form-group>
              <b-form-group
                label="Second Reference Email"
                label-for="second_reference_email">
                <b-form-input
                  v-model="details.second_reference_email"
                  placeholder="Second Reference Email"
                  type="email" />
              </b-form-group>
              <b-form-group
                label="Membership Package"
                label-for="membership">
                  <b-form-select id="membership" v-model="details.membership_package_id" required>
                    <option value="" disabled>{{ packages.length == 0 ? 'Loading list' : 'Assign a membership plan' }}</option>
                    <option v-for="(pkg, i) in packages" :key="i" :value="pkg.id">{{ pkg.title }}</option>
                  </b-form-select>
              </b-form-group>
              <!-- <b-form-group
                label="Give Back Option"
                label-for="give_back_option">
                  <b-form-select v-model="details.give_back_option" id="give_back_option">
                    <option value="">Please select an option</option>
                    <option v-for="(opt, i) in options" :key="i" :value="opt.title"> {{ opt.title }}</option>
                  </b-form-select>
              </b-form-group> -->
            </div>
          </div>
        </FullCard>
      </b-row>
    </form>

    <b-button
      variant="link"
      class="m-r-15 c-blue"
      @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle'
import HeaderTitle from '~/components/HeaderTitle'
import FullCard from '~/components/FullCard'

export default {
  async asyncData({ store }) {
    await store.dispatch('getCompanies', store.getters.getCurrentSpaceId)
    await store.dispatch('getAllAdmins')
  },
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  computed: {
    ...mapState({
      details: state => state.members.member.row,
      index: state => state.members.member.index,
      options: state => state.givebackoptions.options,
      companies: state => state.companies.data,
      packages: state => state.members.membership_packages,
      admins: state => state.admins.data
    })
  },
  methods: {
    handleCompany(e) {
      _.map(this.companies, v => {
        if (v.id === e) {
          this.details.company = v.name
        }
      })
    },
    editMember() {
      let details = {
        'users.first_name': this.details.first_name,
        'users.last_name': this.details.last_name,
        'users.phone_number': this.details.phone_number,
        'users.email': this.details.email,
        'devless_user_profile.linkedin': this.details.linkedin,
        'devless_user_profile.twitter': this.details.twitter,
        'devless_user_profile.company': this.details.company,
        'devless_user_profile.job_title': this.details.job_title,
        'devless_user_profile.date_of_birth': this.details.date_of_birth,
        'devless_user_profile.mailing_address': this.details.mailing_address,
        'devless_user_profile.first_reference_name': this.details
          .first_reference_name,
        'devless_user_profile.first_reference_email': this.details
          .first_reference_email,
        'devless_user_profile.second_reference_name': this.details
          .second_reference_name,
        'devless_user_profile.second_reference_email': this.details
          .second_reference_email,
        'devless_user_profile.membership_package_id': this.details
          .membership_package_id,
        'devless_user_profile.give_back_option': this.details.give_back_option,
        'devless_user_profile.devless_companies_id': this.details
          .devless_companies_id
      }

      this.$store.dispatch('updateMember', {
        index: this.index,
        row: details
      })
    }
  }
}
</script>

<style>
</style>
