<template lang="html">
  <div class="">
    <MainTitle title="Edit Member" subtitle="View Details">
      <div class="pull-right">
        <b-button
          :to="$route.path + '/edit'"
          type="button"
          variant="primary">Edit Member</b-button>
      </div>
    </MainTitle>
    <div class="" v-if="loading">
      <b-row>
        <FullCard type="card-feed">
          <div class="row p-lr-20">
            <div class="col-md-4">
              <h4 class="form-title bold-3">Personal Details</h4>
              <dl>
                <dt>Name</dt>
                <dd>{{ member.first_name}} {{ member.last_name }}</dd>
              </dl>
              <dl>
                <dt>Date of Birth</dt>
                <dd>{{ member.date_of_birth }}</dd>
              </dl>
              <dl>
                <dt>Address</dt>
                <dd>{{ member.mailing_address }}</dd>
              </dl>
              <dl>
                <dt>Email</dt>
                <dd>{{ member.email }}</dd>
              </dl>
              <dl>
                <dt>Phone Number</dt>
                <dd>{{ member.phone_number }}</dd>
              </dl>
            </div>
            <div class="col-md-4">
              <h4 class="form-title bold-3">Professional Details</h4>
              <dl>
                <dt>Linkedin</dt>
                <dd>{{ member.linkedin }}</dd>
              </dl>
              <dl>
                <dt>Twitter</dt>
                <dd>{{ member.twitter }}</dd>
              </dl>
              <dl>
                <dt>Company Name</dt>
                <dd>{{ member.company }}</dd>
              </dl>
              <dl>
                <dt>Job Title</dt>
                <dd>{{ member.job_title }}</dd>
              </dl>
            </div>
            <div class="col-md-4">
              <h4 class="form-title bold-3">References</h4>
              <dl>
                <dt>First Reference Name</dt>
                <dd>{{ member.first_reference_name }}</dd>
              </dl>
              <dl>
                <dt>First Reference Email</dt>
                <dd>{{ member.first_reference_email }}</dd>
              </dl>
              <dl>
                <dt>Second Reference Name</dt>
                <dd>{{ member.second_reference_name }}</dd>
              </dl>
              <dl>
                <dt>Second Reference Email</dt>
                <dd>{{ member.second_reference_email }}</dd>
              </dl>
              <dl>
                <dt>Membership Plan</dt>
                <dd>{{ getPackage(member.membership_package_id) }}</dd>
              </dl>
              <!-- <dl>
                <dt>Give Back Option</dt>
                <dd>{{ member.give_back_option }}</dd>
              </dl> -->
            </div>
          </div>
        </FullCard>
      </b-row>
    </div>
    <b-button
      variant="link"
      class="m-r-15 c-blue"
      @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle'
import HeaderTitle from '~/components/HeaderTitle'
import FullCard from '~/components/FullCard'

export default {
  async asyncData({ store }) {
    store.dispatch('getMembershipPackages', store.state.current_space.id)
  },
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: () => ({
    loading: false
  }),
  computed: {
    ...mapState({
      member: state => state.members.member.row,
      packages: state => state.members.membership_packages
    })
  },
  async mounted() {
    if (_.isEmpty(this.member)) {
      await this.$store
        .dispatch('getUserById', this.$route.params.id)
        .then(res => {
          if (res.status_code === 1000) {
            this.loading = true
          }
        })
    } else {
      this.loading = true
    }
  },
  methods: {
    getPackage(id) {
      if (this.packages.length > 0) {
        return _.find(this.packages, v => {
          return v.id === id
        })['title']
      }
      return 'loading...'
    }
  }
}
</script>

<style lang="css">
</style>
