<template lang="html">
  <div class="">
    <b-form @submit.prevent="updateInventory">
      <MainTitle title="Edit Inventry">
        <div class="pull-right">
          <b-button
            type="submit"
            variant="primary">Update Inventory</b-button>
        </div>
      </MainTitle>
      <b-row>
        <FullCard
          cols="6"
          type="card-feed">
          <HeaderTitle subtitle="Inventry Details" />
          <div class="row p-lr-20">
            <div class="col-md-12">
              <!-- <div class="row"> -->
              <b-form-group
                id="inventory_name"
                label="Name:"
                label-for="inventory_name">
                <b-form-input
                  id="inventory_name"
                  v-model="inventory.row.name"
                  type="text"
                  placeholder="Add inventory name"
                  required/>
              </b-form-group>
              <b-form-group
                id="description"
                label="Description:"
                label-for="description">
                <b-form-textarea
                  id="description"
                  v-model="inventory.row.description"
                  placeholder="Description about this inventory"
                  required/>
              </b-form-group>
              <b-form-group
                id="inventory_price"
                label="Price:"
                label-for="inventory_price">
                <b-form-input
                  id="inventory_price"
                  v-model="inventory.row.price"
                  type="number"
                  placeholder="10"
                  required/>
              </b-form-group>
              <b-form-group
                id="inventory_type"
                label="Type:"
                label-for="inventory_type">
                <b-form-select
                  v-model="inventory.row.type"
                  :options="options" />
              </b-form-group>
              <b-form-group
                id="meal_time"
                label="Meal Time:"
                label-for="meal_time">
                <label slot="label">Meal Time:
                  <nuxt-link :to="base_url+'/inventory/labels'">Add Labels
                </nuxt-link></label>
                <b-form-select
                  v-model="inventory.row.core_eatry_specials_id"
                >
                  <option disabled>-- Select Meal Label --</option>
                  <option v-for="(meal, i) in meal_times" :key="i" :value="meal.id">{{ meal.label }}</option>
                </b-form-select>
              </b-form-group>
              <b-form-group id="status" label="Status" label-for="status" >
                <b-checkbox switch id="status" :value="1" :unchecked-value="null" v-model="inventory.row.disable">
                  <span style="margin-left: 5px;">Disable Meal</span>
                </b-checkbox>
              </b-form-group>
              <!-- </div> -->
              <div class="clearfix"></div>
              <div class="col-md-3">
                <img :src="image ? image : setImage(inventory.row.images)" class="img-responsive" alt="">
              </div>
            </div>
          </div>
          <UploadButton name="inventory_image" v-model="image" />
        </FullCard>
      </b-row>
    </b-form>
    <b-button
      variant="link"
      class="m-r-15 c-blue"
      @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'
import UploadButton from '~/components/UploadButton'

export default {
  async asyncData({ store }) {
    await store.dispatch('fetchLabels')
  },
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle,
    UploadButton
  },
  data: () => ({
    image: undefined,
    options: [
      { text: 'Food', value: 'food' },
      {
        text: 'Drink',
        value: 'drink'
      }
    ]
  }),
  computed: {
    ...mapState({
      inventory: state => state.inventory.inventory,
      meal_times: state => state.inventory.meal_times,
      base_url: state => state.base_url
    })
  },
  methods: {
    setImage(img) {
      return JSON.parse(img)[0]
    },
    async updateInventory() {
      let inventory = this.inventory

      if (this.image) {
        inventory.row.images = JSON.parse(this.inventory.row.images)
        if (
          !(inventory.row.images[0] = await this.$store.dispatch(
            'uploadImage',
            {
              base64: this.image
            }
          ))
        )
          return
        inventory.row.images = JSON.stringify(this.inventory.row.images)
      }

      delete inventory.row.vgt_id
      delete inventory.row.originalIndex

      this.$store.dispatch('updateInventory', inventory)
    }
  }
}
</script>

<style lang="css">
</style>
