<template lang="html">
  <div class="">
    <MainTitle title="View Inventory">
      <div class="pull-right">
        <b-button
          :to="$route.path + '/edit'"
          variant="primary">Edit Inventory</b-button>
      </div>
    </MainTitle>
    <b-row>
      <FullCard type="pd-0" cols="4">
        <img :src="setImage(inventory.row.images)" class="img-responsive">
        <span class="card-label label label-warning">{{ current_space.name }}</span>
        <div class="p-lr-20 m-t-20 pd-b-20">
          <HeaderTitle :subtitle="inventory.row.name" :titleright="getPrice(inventory.row.price)" />
          <p class="text-muted mb-2">{{ inventory.row.description }}</p>
          <p>Status: <b-badge v-if="!inventory.row.disable">Active</b-badge>
            <b-badge v-else variant="danger">Inactive</b-badge>
          </p>
          <p class="mt-2">Type: {{ formatType(inventory.row.type) }}</p>
        </div>
      </FullCard>
    </b-row>
    <b-button variant="link" class="m-r-15 c-blue" @click="$router.go(-1)"><i class="fa fa-chevron-left"></i> Back</b-button>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle.vue'
import _ from 'lodash'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  computed: {
    ...mapState({
      inventory: state => state.inventory.inventory,
      current_space: state => state.current_space
    })
  },
  methods: {
    setImage(images) {
      return JSON.parse(images)[0]
    },
    getPrice(price) {
      return `${this.$store.getters.getCurrency} ${price}`
    },
    formatType(type) {
      return _.upperFirst(type)
    }
  }
}
</script>

<style lang="css">
</style>
