<template id="plan-add">
  <div class="">
    <b-form
      @submit.prevent="addPlan">
      <MainTitle title="Add Plans">
        <div class="pull-right">
          <b-button 
            type="submit" 
            variant="primary">Save Plan</b-button>
        </div>
      </MainTitle>
      <b-row>
        <FullCard>
          <HeaderTitle subtitle="Setup Plan" />
          <b-form-group 
            id="plan_name"
            label="Name of Plan:"
            label-for="plan_name">
            <b-form-input 
              id="plan_name"
              v-model="plan.title"
              type="text"
              placeholder="Add plan name"
              required/>
          </b-form-group>
          <b-form-group 
            id="description"
            label="Description:"
            label-for="description">
            <b-form-textarea 
              id="description"
              v-model="plan.description"
              placeholder="Description about this plan"
              required/>
          </b-form-group>
          <b-form-group 
            id="price"
            label="Price:"
            label-for="price">
            <b-form-input 
              id="price"
              v-model="plan.price"
              type="number"
              step="0.01"
              placeholder="0.00"
              required/>
          </b-form-group>
        </FullCard>
      </b-row>
    </b-form>
    <b-button 
      variant="link" 
      class="m-r-15 c-blue" 
      @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script type="text/javascript">
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: () => ({
    plan: {
      title: '',
      description: '',
      price: '',
      core_workspace_id: ''
    }
  }),
  computed: {
    core_workspace_id() {
      return this.$store.state.current_space.id
    }
  },
  methods: {
    addPlan() {
      this.plan.core_workspace_id = this.core_workspace_id

      this.$store.dispatch('addPlan', this.plan)
    }
  }
}
</script>
