<template>
  <div>
    <MainTitle title="Plans">
      <div class="pull-right">
        <b-button
          :to="base_url + '/add'"
          variant="primary">Add Plan</b-button>
      </div>
    </MainTitle>
    <b-row>
      <FullCard type="card-feed pd-t-0">
        <div 
          v-if="loading" 
          class="pd-10">
          <content-placeholders>
            <content-placeholders-heading />
            <content-placeholders-text :lines="3" />
          </content-placeholders>
        </div>
        <div 
          v-else 
          class="table-responsive">
          <table class="feed-2 table table-hover table-striped m-0">
            <thead>
              <tr>
                <th>Plan</th>
                <th colspan="3">Subscription</th>
              </tr>
            </thead>
            <tbody>
              <tr 
                v-for="(plan, i) in plans" 
                :key="i">
                <td class="c-shack-red">{{ plan.title }}</td>
                <td>{{ getCurrency+plan.price+ '/year' }}</td>
                <td class="text-right">
                  <b-button
                    variant="link"
                    class="c-blue"
                    @click="editEntry(plan, i)">
                    <i class="fa fa-fw fa-pencil c-blue"/> Edit
                  </b-button>
                </td>
                <td class="text-right">
                  <b-button
                    variant="link"
                    class="c-pred"
                    @click="deleteEntry(plan, i)">
                    <i class="fa fa-fw fa-times c-pred"/> Remove
                  </b-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </FullCard>
    </b-row>
  </div>
</template>

<script>
import MainTitle from '~/components/MainTitle.vue'
import FullCard from '~/components/FullCard.vue'
import HeaderTitle from '~/components/HeaderTitle.vue'
import { mapState } from 'vuex'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: () => ({
    columns: [
      {
        label: 'Plan',
        field: 'title',
        tdClass: 'c-shack-red'
      },
      {
        label: 'Subscription',
        field: 'price'
      },
      {
        label: '',
        field: 'actions',
        tdClass: 'text-right'
      }
    ]
  }),
  computed: {
    ...mapState({
      plans: state => state.plans.plans,
      base_url: state => state.base_url + '/plans',
      loading: state => state.loading
    }),
    getCurrency() {
      return this.$store.getters.getCurrency
    }
  },
  mounted() {
    this.$store.dispatch('getPlans', this.$store.state.current_space.id)
  },
  methods: {
    editEntry(payload, i) {
      let plan = {
        row: payload,
        index: i
      }
      this.$router.push(`${this.base_url}/${payload.id}`)
      this.$store.commit('SET_CURRENT_PLAN', plan)
    },
    deleteEntry(payload, i) {
      if (!confirm('Are you sure')) return

      let plan = {
        level: 0,
        index: i,
        row: payload
      }
      // payload.level = 0
      // payload.index = i
      this.$store.dispatch('removePlan', plan)
    }
  }
}
</script>

<style media="screen">
/* .feed-2 span {
  color: unset;
} */
</style>
