<template lang="html">
  <div class="">
    <b-form @submit.prevent="addBooking">
      <MainTitle title="Add New Booking">
        <div class="pull-right">
          <b-button
            :disabled="loading"
            type="submit"
            variant="primary"
          >Add Booking</b-button>
        </div>
      </MainTitle>
      <b-row>
        <FullCard cols="7">
          <HeaderTitle subtitle="Booking Details" />
          <div class="row">
            <div class="form-group col-md-12">
              <label for="type">Type of Booking:</label>
              <select
                v-model="type"
                class="form-control"
                name="type">
                <option value="rooms">Rooms</option>
                <option value="tables">Table Reservation</option>
              </select>
            </div>
            <div
              v-if="type === 'rooms'"
              class="">
              <div class="form-group col-md-12">
                <label for="select_room">Resource:</label>
                <select
                  class="form-control"
                  name="select_room"
                  @change="handleInput($event, 'room_id')">
                  <option value="">Select Resource</option>
                  <option
                    v-for="(room, i) in rooms"
                    :key="i"
                    :value="room.id">{{ room.name }}</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="date">When Date</label>
                <date-picker v-model="data.when" input-class="form-control" lang="en"
                  value-type="format" confirm
                type="date" format="DD/MM/YYYY" placeholder="DD/MM/YYYY">
                  <template slot="calendar-icon">
                    <i></i>
                  </template>
                </date-picker>
                <!-- <input
                  id="date"
                  type="date"
                  class="form-control"
                  @change="handleInput($event, 'when')" >
                -->
              </div>
              <div class="form-group col-md-4">
                <label for="start">Start Time</label>

                <date-picker v-model="data.from" input-class="form-control" lang="en"
                  value-type="format" confirm
                type="time" format="HH:mm" placeholder="00:00" :time-picker-options="timePickerOptions">
                  <template slot="calendar-icon" >
                    <i></i>
                  </template>
                </date-picker>
                <!-- <input
                  id="start"
                  type="time"
                  class="form-control"
                  @change="handleInput($event, 'from')"
                > -->
              </div>
              <div class="form-group col-md-4">
                <label for="">End Time</label>
                <date-picker v-model="data.to" input-class="form-control" lang="en"
                  value-type="format" confirm
                type="time" format="HH:mm" placeholder="00:00" :time-picker-options="timePickerOptions">
                  <template slot="calendar-icon" >
                    <i></i>
                  </template>
                </date-picker>
                <!-- <input
                  type="time"
                  class="form-control"
                  @change="handleInput($event, 'to')"
                > -->
              </div>
              <div class="form-group col-md-12">
                <label for="purpose">Purpose of Booking:</label>
                <textarea
                  name="purpose"
                  rows="2"
                  cols="80"
                  class="form-control"
                  @change="handleInput($event, 'purpose')"
                />
              </div>
              <div class="form-group col-md-12">
                <label for="member">Member:</label>
                <multiselect v-model="data.client_id" :options="members" placeholder="Choose a member" :custom-label="memberName" />
              </div>
            </div>
            <div
              v-else
              class="">
              <div class="form-group col-md-12">
                <label for="restaurant">Table:</label>
                <select class="form-control" name="restaurant" @change="handleInput($event, 'restaurant_id')">
                  <option value="">Select Table to Reserve</option>
                  <option v-for="(table, i) in tables" :key="i" :value="table.id">{{ table.name }}</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="date">Reservation Date: </label>
                <date-picker v-model="data.date" input-class="form-control" lang="en"
                  value-type="format" confirm
                type="date" format="DD/MM/YYYY" placeholder="DD/MM/YYYY">
                  <template slot="calendar-icon">
                    <i></i>
                  </template>
                </date-picker>
                <!-- <input type="date" name="date" class="form-control" @change="handleInput($event, 'date')"> -->
              </div>
              <div class="form-group col-md-4">
                <label for="time">Reservation Time: </label>
                <date-picker v-model="data.time" input-class="form-control" lang="en"
                  value-type="format" confirm
                type="time" format="hh:mm" placeholder="00:00" :time-picker-options="timePickerOptions">
                  <template slot="calendar-icon" >
                    <i></i>
                  </template>
                </date-picker>
                <!-- <input type="time" name="time" class="form-control" @change="handleInput($event, 'time')"> -->
              </div>
              <div class="form-group col-md-4">
                <label for="seat"># of Seats</label>
                <input type="number" name="seat" class="form-control" @change="handleInput($event, 'seats')">
              </div>
              <div class="form-group col-md-12">
                <label for="member">Member:</label>
                <multiselect v-model="data.client_id" :options="members" placeholder="Choose a member" :custom-label="memberName" />
              </div>
            </div>
          </div>
        </FullCard>
      </b-row>
    </b-form>
    <b-button
      variant="link"
      class="m-r-15 c-blue"
      @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: () => ({
    type: 'rooms',
    data: {},
    timePickerOptions: {
      start: '00:00',
      step: '01:00',
      end: '23:00'
    }
  }),
  computed: {
    ...mapState({
      loading: state => state.loading,
      members: state => state.members.data,
      rooms: state => state.rooms.rooms,
      tables: state => state.tables.data
    })
  },
  created() {
    this.$store.dispatch('getAllMembers', this.$store.getters.getCurrentSpaceId)
    this.$store.dispatch('fetchRooms', this.$store.getters.getCurrentSpaceId)
    this.$store.dispatch('fetchTables', this.$store.getters.getCurrentSpaceId)
  },
  methods: {
    memberName({ first_name, last_name }) {
      return `${first_name} ${last_name}`
    },
    handleInput(e, key) {
      this.data[key] = e.target.value
    },
    async addBooking() {
      if (this.type == 'rooms') {
        this.$store.commit('CHANGE_LOADING')

        await this.$devless
          .call('core', 'bookARoom', [
            {
              purpose: this.data.purpose,
              room_id: this.data.room_id,
              to: this.data.to,
              from: this.data.from,
              when: this.data.when,
              client_id: this.data.client_id
            }
          ])
          .then(res => {
            this.$store.commit('CHANGE_LOADING')
            if (res.status_code === 1000) {
              this.$toast.success('Booking Added Successfully')
              this.$router.go(-1)
              return
            }
            this.$toast.error(res.message)
          })
      } else {
        this.$store.commit('CHANGE_LOADING')

        await this.$devless
          .call('core', 'reserveRestaurantSeats', [
            {
              restaurant_id: this.data.restaurant_id,
              seats: this.data.seats,
              date: this.data.date,
              time: this.data.time,
              client_id: this.data.client_id
            }
          ])
          .then(res => {
            this.$store.commit('CHANGE_LOADING')
            if (res.status_code === 1000) {
              this.$toast.success('Booking Added Successfully')
              this.$router.go(-1)
              return
            }
            this.$toast.error(res.message)
          })
      }
    }
  }
}
</script>

<style lang="css">
</style>
