<template lang="html">
  <div class="">
    <MainTitle title="Booking Calendar">
      <div class="pull-right">
        <b-button
          :to="$route.path + '/add'"
          variant="primary"
        > Add Booking</b-button>
      </div>
    </MainTitle>
    <b-row>
      <FullCard type="pd-0">
        <div class="btn-group sh-btn-grp sh-cal">
          <a
            :class="{'text-dark': current_view === 'timelineDay' || current_view == 'today' }"
            class="btn btn-default waves-effect"
            @click="viewToday()">Today</a>
          <a
            :class="{'text-dark': current_view === 'timelineMonth' }"
            class="btn btn-default waves-effect"
            @click="changeView('timelineMonth')">Month</a>
          <a
            :class="{'text-dark': current_view === 'timelineWeek' }"
            class="btn btn-default waves-effect"
            @click="changeView('timelineWeek')">Week</a>
        </div>
        <div class="btn-group sh-btn-grp sh-cal pull-right">
          <a
            class="btn btn-default waves-effect pd-lr-10"
            @click="navigateToNextOrPrev('prev')"><i class="fa fa-angle-left"/></a>
          <a class="btn btn-default waves-effect text-dark">{{ month }}</a>
          <a
            class="btn btn-default waves-effect pd-lr-10"
            @click="navigateToNextOrPrev('next')"><i class="fa fa-angle-right"/></a>
        </div>
        <!-- <full-calendar
          ref="calendar"
          :config="config"
          :events="events"
          @event-selected="eventSelected" /> -->
      </FullCard>
    </b-row>
    <Modal
      identifier="wellnessModal"
      name="wellnessModal">
      <h4 v-if="singleWellness">{{ singleWellness.originalTitle +' - '+ singleWellness.title }}</h4>
      <p
        v-if="singleWellness"
        class="text-muted">{{ $moment(singleWellness.start).format('MMMM D YYYY, hh:mm A') }}  •  <span v-html="singleWellness.raw.location"/> </p>
      <p v-if="singleWellness">{{ singleWellness.raw.description }}</p>
      <p v-if="singleWellness">Price: {{ $store.getters.getCurrency }} {{ singleWellness.raw.price }}</p>

      <template slot="footer">
        <b-button
          variant="primary"
          @click="editWellness">Edit Wellness</b-button>
        <b-button
          variant="link"
          class="mr-l-30"
          @click="goAttendees"><i class="fa fa-file-o"/> View Attendees</b-button>
      </template>
    </Modal>

    <Modal identifier="roomModal">
      <h4 v-if="singleRoom">{{ singleRoom.title }}</h4>
      <p
        v-if="singleRoom"
        class="text-muted">
        {{ $moment(singleRoom.start).format('MMMM D YYYY, hh:mm A') }} – {{ $moment(singleRoom.end).format('hh:mm A') }}  •  <span v-html="singleRoom.raw.name"/>  •  {{ getDuration() }} Hour(s) </p>
      <hr>
      <p v-if="singleRoom">Booked by <a @click="goToDirectory(user.id)">{{ user.first_name }} {{ user.last_name }}</a>  •  Booking fee: {{ $store.getters.getCurrency }} {{ singleRoom.raw.price_per_hour }}</p>
      <template slot="footer">
        <b-button
          variant="primary"
          @click="editBooking(singleRoom)">Edit Booking</b-button>
        <b-button
          variant="link"
          class="c-red pull-right"
          style="padding-top: 5px"
          @click="removeBooking('rooms')"><i class="fa fa-trash"/> Cancel Booking</b-button>
      </template>
    </Modal>

    <Modal identifier="tableModal">
      <h4 v-if="singleTable">{{ singleTable.title }}</h4>
      <p
        v-if="singleTable"
        class="text-muted">
        {{ $moment(singleTable.start).format('MMMM D YYYY, hh:mm A') }}  •  <span v-html="singleTable.raw.name"/>  •  Seats Reserved: {{ singleTable.seats }} </p>
      <p v-if="singleTable">{{ singleTable.raw.description}}</p>
      <hr>
      <p v-if="singleTable">Booked by <a @click="goToDirectory(user.id)">{{ user.first_name }} {{ user.last_name }}</a>  •  Booking fee: {{ $store.getters.getCurrency }} {{ singleTable.raw.reservation_fee }}</p>
      <template slot="footer">
        <b-button
          variant="primary"
          @click="editBooking(singleTable)">Edit Booking</b-button>
        <b-button
          variant="link"
          class="c-red pull-right"
          style="padding-top: 5px"
          @click="removeBooking('tables')"><i class="fa fa-trash"/> Cancel Booking</b-button>
      </template>
    </Modal>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import 'fullcalendar/dist/fullcalendar.min.css'
import 'fullcalendar-scheduler/dist/scheduler.min.css'
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import Modal from '~/components/Modal.vue'

export default {
  async asyncData({ store, app }) {
    const moment = require('moment')

    let labels = []
    let events = []

    await store.dispatch('getAllBookings', {
      workspace_id: store.getters.getCurrentSpaceId,
      date: moment().format('DD/MM/YYYY')
    })

    await store
      .dispatch('getAllResources', store.getters.getCurrentSpaceId)
      .then(res => {
        labels = res
      })
      .then(res => {
        events = _.concat(
          events,
          store.getters.setTables,
          store.getters.setRooms,
          store.getters.setWellness
        )
      })

    return {
      events: events,
      month: moment().format('MMMM D, YYYY'),
      config: {
        height: 420,
        header: false,
        schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
        defaultView: 'timeline',
        resourceAreaWidth: '15%',
        resources: labels
      }
    }
  },
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    Modal
  },
  data: () => ({
    month: '',
    current_view: 'timelineDay',
    singleWellness: undefined,
    singleRoom: undefined,
    singleTable: undefined,
    schedules: []
  }),
  computed: {
    ...mapState({
      user: state => state.user,
      resources: state => state.bookings.resources,
      base_url: state => state.base_url
    })
  },
  methods: {
    viewToday() {
      this.current_view = 'today'
      this.$refs.calendar.fireMethod('today')
      this.changeView('timelineDay')
      this.retrieveBookings(this.$moment(this.month).format('DD/MM/YYYY'))
    },
    changeView(view) {
      this.current_view = view
      this.$refs.calendar.fireMethod('changeView', view)
      this.getMonth()
    },
    navigateToNextOrPrev(navigate) {
      this.$refs.calendar.fireMethod(navigate)
      this.getMonth()

      this.retrieveBookings(this.$moment(this.month).format('DD/MM/YYYY'))
    },
    getMonth() {
      this.month = this.$refs.calendar.fireMethod('getView').title
    },
    refreshEvents() {
      this.$refs.calendar.$emit('reload-events')
    },
    async retrieveBookings(date = undefined) {
      if (!date) {
        date = this.$moment().format('DD/MM/YYYY')
      }

      await this.$store
        .dispatch('getAllBookings', {
          workspace_id: this.$store.getters.getCurrentSpaceId,
          date: date
        })
        .then(res => {
          this.events = _.concat(
            [],
            this.$store.getters.setTables,
            this.$store.getters.setRooms,
            this.$store.getters.setWellness
          )
        })
    },
    editWellness() {
      $('#wellnessModal').modal('hide')
      this.$router.push(`${this.base_url}/wellness/${this.singleWellness.id}`)
    },
    goAttendees() {
      $('#wellnessModal').modal('hide')
      this.$router.push(
        `${this.base_url}/wellness/${this.singleWellness.id}/attendees`
      )
    },
    async eventSelected(e) {
      if (e.type === 'wellness') {
        this.singleWellness = e
        this.$store.commit('SET_ANY_DATA', e)
        $('#wellnessModal').modal('show')
      } else if (e.type === 'rooms') {
        this.singleRoom = e
        await this.$store.dispatch('getSpecificUser', e.users_id).then(res => {
          $('#roomModal').modal('show')
        })
      } else {
        this.singleTable = e
        await this.$store.dispatch('getSpecificUser', e.users_id).then(res => {
          $('#tableModal').modal('show')
        })
      }
    },
    editBooking(e) {
      this.hideModals()
      this.$store.commit('SET_ANY_DATA', e)
      this.$router.push(`${this.base_url}/bookings/${e.id}`)
    },
    getDuration() {
      let timeDiff = this.$moment(this.singleRoom.end).diff(
        this.singleRoom.start
      )
      return _.round(this.$moment.duration(timeDiff).asHours(), 2)
    },
    hideModals() {
      $('#roomModal').modal('hide')
      $('#tableModal').modal('hide')
    },
    goToDirectory(user_id) {
      this.hideModals()
      this.$router.push(`${this.base_url}/directory/${user_id}`)
    },
    async removeBooking(type) {
      if (!confirm('Are you sure?')) return

      this.hideModals()
      if (type === 'tables') {
        await this.$devless
          .call('core', 'cancelRestaurantReservation', {
            reservation_id: this.singleTable.id
          })
          .then(res => {
            if (res.status_code === 1000) {
              _.remove(this.events, o => {
                return o.id === this.singleTable.id && o.type === 'tables'
              })
              this.refreshEvents()
            }
          })
      } else {
        await this.$store
          .dispatch('superApi', {
            table: 'core_room_bookings',
            action: 'destroy',
            queries: [{ where: ['id', this.singleRoom.id] }],
            success: 'Table Booking Canceled Successfully'
          })
          .then(res => {
            _.remove(this.events, o => {
              return o.id === this.singleRoom.id && o.type === 'rooms'
            })
            this.refreshEvents()
          })
      }
    }
  }
}
</script>

<style>
.fc th {
  border-style: none !important;
  background-color: white !important;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  float: left;
}

.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
  border-bottom: 1px solid;
  border-bottom-color: transparent !important;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #f4f4f4;
}

a.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end {
  border: unset !important;
  border-left: 2px solid !important;
}

a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end {
  border: unset !important;
  border-left: 2px solid !important;
  border-radius: 2px !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

a.fc-timeline-event.fc-h-event.fc-event.fc-start.fc-end {
  border: unset !important;
  padding-top: 7px;
  padding-bottom: 7px;
  border-left: 2px solid !important;
}
</style>
