<template lang="html">
  <div class="">
    <MainTitle title="Booking Calendar">
      <div class="pull-right">
        <b-button
          :to="$route.path + '/add'"
          variant="primary"
        > Add Booking</b-button>
      </div>
    </MainTitle>
    <b-row>
      <div class="col-md-12">
        <div class="btn-group sh-btn-grp">
          <span @click="onClickNavi($event)">
            <a
            :class="{'text-dark': view == 'day' }"
            class="btn btn-default waves-effect"
            data-action="move-today" @click="changeView('day')">Today</a>
          </span>
          <a
            :class="{'text-dark': view == 'week' }"
            class="btn btn-default waves-effect"
            @click="changeView('week')">Week</a>
          <a
            :class="{'text-dark': view == 'month' }"
            class="btn btn-default waves-effect"
            @click="changeView('month')">Month</a>
        </div>
        <div class="btn-group sh-btn-grp pull-right" @click="onClickNavi($event)">
          <a
            class="btn btn-default waves-effect pd-lr-10"
            data-action="move-prev"><i class="fa fa-angle-left"/></a>
          <a class="btn btn-default waves-effect text-dark">{{ dateRange }}</a>
          <a
            class="btn btn-default waves-effect pd-lr-10"
            data-action="move-next"><i class="fa fa-angle-right"/></a>
        </div>
      </div>
      <FullCard type="pd-0">
        <div
          class="col-md-2"
          style="background-color: white; height: 800px;">
          <!-- <div> -->
          <div class="lnb">
            <h4>Resources</h4>
          </div>
          <!-- </div> -->
          <h5 style="background: #e4e4e4; padding: 10px;">Rooms</h5>
          <div class="lnb-list">
            <b-form-checkbox
              @change="toggleSchedule(list)"
              v-for="(list, index) in rooms"
              :key="index"
              v-model="list.checked"
              class="checkbox lnb-calendars-item"
              name="checkbox-1"
              :value="true"
              :unchecked-value="false"
            >
              <span :style="{'background-color': list.bgColor, color: list.color, 'padding': '2px' }">{{ list.name }}</span>
            </b-form-checkbox>
          </div>
          <h5 style="background: #e4e4e4; padding: 10px;">Tables</h5>
          <div class="lnb-list">
            <b-form-checkbox
              @change="toggleSchedule(list)"
              v-for="(list, index) in tables"
              :key="index"
              v-model="list.checked"
              class="checkbox lnb-calendars-item"
              name="checkbox-1"
              :value="true"
              :unchecked-value="false"
            >
              <span :style="{'background-color': list.bgColor, color: list.color, 'padding': '2px' }">{{ list.name }}</span>
            </b-form-checkbox>
          </div>
          <h5 style="background: #e4e4e4; padding: 10px;">Others</h5>
          <div class="lnb-list">
            <b-form-checkbox
              @change="toggleSchedule(list)"
              v-for="(list, index) in others"
              :key="index"
              v-model="list.checked"
              class="checkbox lnb-calendars-item"
              name="checkbox-1"
              :value="true"
              :unchecked-value="false"
            >
              <span :style="{'background-color': list.bgColor, color: list.color, 'padding': '2px' }">{{ list.name }}</span>
            </b-form-checkbox>
          </div>
        </div>
        <div class="col-md-10">
          <calendar
            ref="tuiCalendar"
            :calendars="resources"
            :schedules="scheduleList"
            :view="view"
            :timezones="timezones"
            :task-view="taskView"
            :schedule-view="scheduleView"
            :useDetailPopup="useDetailPopup"
            :disableDblClick="disableDblClick"
            :disable-click="disableClick"
            :usageStatistics="false"
            @clickSchedule="onClickSchedule"
            style="height: 800px;"
          />
        </div>
      </FullCard>
      <Modal identifier="roomModal">
        <h4 v-if="singleRoom">{{ singleRoom.title }}</h4>
        <p
          v-if="singleRoom"
          class="text-muted">
          {{ $moment(singleRoom.start._date).format('MMMM D YYYY, hh:mm A') }} – {{ $moment(singleRoom.end._date).format('hh:mm A') }}  •  <span v-html="singleRoom.raw.name"/>  •  {{ getDuration() }} Hour(s) </p>
        <hr>
        <p v-if="singleRoom">Booked by <a @click="goToDirectory(singleRoom.raw.users_id)">{{ singleRoom.raw.first_name }} {{ singleRoom.raw.last_name }}</a>  •  Booking fee: {{ $store.getters.getCurrency }} {{ singleRoom.raw.price_per_hour }}</p>
        <template slot="footer">
          <b-button
            variant="primary"
            @click="editBooking(singleRoom)">Edit Booking</b-button>
          <b-button
            variant="link"
            class="c-red pull-right"
            style="padding-top: 5px"
            @click="removeBooking('rooms')"><i class="fa fa-trash"/> Cancel Booking</b-button>
        </template>
      </Modal>
      <Modal identifier="tableModal">
        <h4 v-if="singleTable">{{ singleTable.title }}</h4>
        <p
          v-if="singleTable"
          class="text-muted">
          {{ $moment(singleTable.start._date).format('MMMM D YYYY, hh:mm A') }}  •  <span v-html="singleTable.raw.name"/>  •  Seats Reserved: {{ singleTable.raw.seats }} </p>
        <p v-if="singleTable">{{ singleTable.raw.description}}</p>
        <hr>
        <p v-if="singleTable">Booked by <a @click="goToDirectory(singleTable.raw.users_id)">{{ singleTable.raw.first_name }} {{ singleTable.raw.last_name }}</a>  •  Booking fee: {{ $store.getters.getCurrency }} {{ singleTable.raw.reservation_fee }}</p>
        <template slot="footer">
          <b-button
            variant="primary"
            @click="editBooking(singleTable)">Edit Booking</b-button>
          <b-button
            variant="link"
            class="c-red pull-right"
            style="padding-top: 5px"
            @click="removeBooking('tables')"><i class="fa fa-trash"/> Cancel Booking</b-button>
        </template>
      </Modal>
      <Modal
        identifier="wellnessModal"
        name="wellnessModal">
         <h4 v-if="singleWellness">{{ singleWellness.raw.title + ` hosted by ${singleWellness.raw.host}` }}</h4>
        <p
          v-if="singleWellness"
          class="text-muted">{{ $moment(singleWellness.start._date).format('MMMM D YYYY, hh:mm A') }}  •  <span v-html="singleWellness.raw.location"/> </p>
        <p v-if="singleWellness">{{ singleWellness.raw.description }}</p>
        <p v-if="singleWellness">Price: {{ $store.getters.getCurrency }} {{ singleWellness.raw.price }}</p>

        <template slot="footer">
          <b-button
            variant="primary"
            @click="editWellness">Edit Wellness</b-button>
          <b-button
            variant="link"
            class="mr-l-30"
            @click="goAttendees"><i class="fa fa-file-o"/> View Attendees</b-button>
        </template>
      </Modal>
    </b-row>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import Modal from '~/components/Modal.vue'
import moment from 'moment'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    Modal
  },
  async asyncData({ app, store }) {
    const moment = require('moment')

    let events = []
    const { current_space } = store.state

    await store.dispatch('getCalendarResources')

    await store
      .dispatch('getBookings', {
        start: moment()
          .startOf('month')
          .format('YYYY-MM-DD'),
        end: moment()
          .endOf('month')
          .format('YYYY-MM-DD'),
        timezone: current_space.timezone
      })
      .then(res => {
        events = res
      })

    return {
      timezone: current_space.timezone,
      scheduleList: events,
      view: 'day',
      taskView: false,
      scheduleView: ['time']
    }
  },
  data: () => ({
    dateRange: '',
    singleWellness: undefined,
    singleRoom: undefined,
    singleTable: undefined,
    useDetailPopup: false,
    timezones: [
      {
        timezoneOffset: 0,
        tooltip: 'London'
      },
      {
        timezoneOffset: -420,
        tooltip: 'Los Angeles'
      }
    ],
    disableDblClick: true,
    disableClick: true
  }),
  computed: {
    ...mapState({
      user: state => state.user,
      resources: state => state.calendar.resources,
      rooms: state => state.calendar.rooms,
      tables: state => state.calendar.tables,
      others: state => state.calendar.others,
      base_url: state => state.base_url
    })
  },
  mounted() {
    this.init()
  },
  methods: {
    changeView(view) {
      this.view = view

      this.setRenderRangeText(view)
    },
    toggleSchedule(e) {
      this.$refs.tuiCalendar.invoke('toggleSchedules', e.id, e.checked)
    },
    async onClickSchedule(e) {
      const { raw } = e.schedule

      if (raw.type === 'wellness') {
        this.singleWellness = e.schedule
        $('#wellnessModal').modal('show')
      } else if (raw.type === 'rooms') {
        this.singleRoom = e.schedule
        $('#roomModal').modal('show')
      } else {
        this.singleTable = e.schedule
        $('#tableModal').modal('show')
      }
    },
    getDuration() {
      let timeDiff = this.$moment(this.singleRoom.end._date).diff(
        this.singleRoom.start._date
      )
      return _.round(this.$moment.duration(timeDiff).asHours(), 2)
    },
    editWellness() {
      $('#wellnessModal').modal('hide')
      this.$router.push(`${this.base_url}/wellness/${this.singleWellness.id}`)
    },
    goAttendees() {
      $('#wellnessModal').modal('hide')
      this.$router.push(
        `${this.base_url}/wellness/${
          this.singleWellness.id
        }/attendees?date=${moment(this.singleWellness.start._date).format(
          'DD/MM/YYYY'
        )}&time=${this.singleWellness.raw.time}`
      )
    },
    editBooking(e) {
      this.hideModals()
      if (e.raw.type == 'tables') {
        this.$router.push(
          `${this.base_url}/bookings/tables/${e.raw.booking_id}`
        )
        return
      }
      this.$router.push(`${this.base_url}/bookings/rooms/${e.raw.booking_id}`)
    },
    async removeBooking(type) {
      if (!confirm('Are you sure?')) return

      this.hideModals()
      if (type === 'tables') {
        await this.$devless
          .call('core', 'cancelRestaurantReservation', [
            {
              reservation_id: this.singleTable.raw.booking_id
            }
          ])
          .then(res => {
            if (res.status_code === 1000) {
              this.$toast.success('Table Reservation Canceled Successfully')
              location.reload()
            }
          })
      } else {
        await this.$store
          .dispatch('superApi', {
            table: 'core_room_bookings',
            action: 'destroy',
            queries: [{ where: ['id', this.singleRoom.raw.booking_id] }],
            success: 'Table Booking Canceled Successfully'
          })
          .then(res => {
            location.reload()
          })
      }
    },
    goToDirectory(user_id) {
      this.hideModals()
      this.$router.push(`${this.base_url}/directory/${user_id}`)
    },
    hideModals() {
      $('#roomModal').modal('hide')
      $('#tableModal').modal('hide')
    },
    onClickNavi(event) {
      if (event.target.tagName === 'A') {
        const { target } = event
        let action = target.dataset
          ? target.dataset.action
          : target.getAttribute('data-action')

        action = action.replace('move-', '')
        this.$refs.tuiCalendar.invoke(action)
        if (target.dataset.action !== 'move-today') {
          this.setRenderRangeText()
        }

        const { invoke } = this.$refs.tuiCalendar

        this.$store
          .dispatch('getBookings', {
            start: moment(invoke('getDateRangeStart')['_date']).format(
              'YYYY-MM-DD'
            ),
            end: moment(invoke('getDateRangeEnd')['_date']).format(
              'YYYY-MM-DD'
            ),
            timezone: this.timezone
          })
          .then(res => {
            this.scheduleList = res
          })
      }
    },
    init() {
      this.setRenderRangeText()
    },
    setRenderRangeText(data = null) {
      const { invoke } = this.$refs.tuiCalendar
      const view = data ? data : invoke('getViewName')
      const calDate = invoke('getDate')
      const rangeStart = invoke('getDateRangeStart')
      const rangeEnd = invoke('getDateRangeEnd')
      let year = calDate.getFullYear()
      let month = calDate.getMonth() + 1
      let date = calDate.getDate()
      let dateRangeText = ''
      let endMonth, endDate, start, end
      switch (view) {
        case 'month':
          dateRangeText = `${year}-${month}`
          break
        case 'week':
          year = rangeStart.getFullYear()
          month = rangeStart.getMonth() + 1
          date = rangeStart.getDate()
          endMonth = rangeEnd.getMonth() + 1
          endDate = rangeEnd.getDate()
          start = `${year}-${month}-${date}`
          end = `${endMonth}-${endDate}`
          dateRangeText = `${start} ~ ${end}`
          break
        default:
          dateRangeText = `${year}-${month}-${date}`
      }
      this.dateRange = dateRangeText
    }
  }
}
</script>

<style lang="css" scoped>
.lnb {
  border-top: 1px solid rgb(229, 229, 229);
  border-bottom: 1px solid rgb(229, 229, 229);
  height: 42px;
  background-color: inherit;
}

.lnb-list {
  border-bottom: 1px solid rgb(229, 229, 229);
  background-color: inherit;
}

.lnb-calendars-item {
  min-height: 14px;
  padding-bottom: 10px;
}
</style>
