<template>
  <div>
    <MainTitle
      title="Dashboard"
      subtitle="Activity on SHACK15"
      info="This page shows all activities happening within your space. Navigate using Previous and Next."
    >
    <div class="pull-right">
        <select class="form-control" v-model="filter" @change="changeFilter">
          <option v-for="(filter, i) in filters" :key="i" :value="filter">{{ filter }}</option>
        </select>
    </div>
    </MainTitle>

    <div class="row">
      <ShCard>
        <HeaderTitle
          title="Activity Feed"/>
        <div class="table-responsive mr-h-neg">
          <table class="feed table table-hover table-striped m-0">
            <tbody v-if="activities.results.length === 0">
              <tr>
                <td>No activity recorded on platform</td>
              </tr>
            </tbody>
            <tbody v-else>
              <tr v-for="(activity, i) in activities.results" :key="i">
                <td><i class="fa" :class="getIcon(activity.type)"></i>
                  {{ activity.message }} <span>({{getFullName(activity.related._devless_users[0])}})</span></td>
                <td>{{ formatTime(activity.formatted_date) }}</td>
              </tr>
            </tbody>
          </table>

        </div> <!-- table-responsive -->
        <div class="table-links text-center mr-t-20">
          <b-button variant="link"
            class="m-r-10" @click="prev"><i class="fa fa-angle-left m-r-5"/> Previous</b-button> • <b-button
              variant="link" class="m-l-10" @click="next" >Next <i class="fa fa-angle-right m-r-5"/></b-button>
        </div>
      </ShCard>
    </div>

  </div>
</template>
<script>
import MainTitle from '~/components/MainTitle.vue'
import TheWidget from '~/components/TheWidget.vue'
import ShCard from '~/components/ShCard.vue'
import HeaderTitle from '~/components/HeaderTitle.vue'
import { mapState } from 'vuex'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    TheWidget,
    ShCard,
    HeaderTitle
  },
  async asyncData({ store }) {
    await store.dispatch('getActivities').then(activities => {
      store.commit('SET_OBJ', { activities })
    })

    return {
      filter: 'All'
    }
  },
  data: () => ({
    opt: '',
    filters: [
      'All',
      'Check-ins',
      'F&B Orders',
      'Room Bookings',
      'Table Reservations',
      'Ticket Purchase',
      'Wellness Bookings'
    ],
    offset: 0
  }),
  computed: {
    ...mapState({
      activities: state => state.dashboard.dashObj.activities,
      properties: state => state.dashboard.dashObj.activities.properties,
      current_space: state => state.current_space
    })
  },
  methods: {
    formatTime(time) {
      if (this.current_space.timezone == 'America/Los_Angeles') {
        return this.$moment(
          `${time} -07:00`,
          '"DD-MM-YYYY HH:mm:ssZ"'
        ).fromNow()
      }
      return this.$moment(`${time}`, '"DD-MM-YYYY HH:mm:ssZ"').fromNow()
    },
    getFullName(obj) {
      return `${obj.first_name} ${obj.last_name}`
    },
    getIcon(type) {
      switch (type) {
        case 'actionable':
          return 'fa-tasks'
          break
        default:
          return 'fa-info-circle'
      }
    },
    async next() {
      if (this.filter == 'All') {
        const { offset } = this.$store.state.dashboard
        this.$store.commit('SET_OFFSET', offset + 10)
        await this.$store.dispatch('getActivities').then(activities => {
          this.$store.commit('SET_OBJ', { activities })
        })
        return
      }
      this.offset += 10
      this.filterActivities(this.opt)
    },
    async prev() {
      if (this.filter == 'All') {
        const { offset } = this.$store.state.dashboard
        if (offset > 0) {
          this.$store.commit('SET_OFFSET', offset - 10)
          await this.$store.dispatch('getActivities').then(activities => {
            this.$store.commit('SET_OBJ', { activities })
          })
          return
        }
      }
      if (this.offset > 0) {
        this.offset -= 10
        this.filterActivities(this.opt)
      }
    },
    filterActivities(payload) {
      this.opt = payload
      const { getters } = this.$store
      this.$devless
        .queryData('core', 'activity_log', {
          where: [`core_workspace_id,${getters.getCurrentSpaceId}`, payload],
          related: '*',
          desc: 'id',
          size: 10,
          offset: this.offset
        })
        .then(res => {
          if (res.status_code == 625) {
            const activities = res.payload
            this.$store.commit('SET_OBJ', { activities })
            return
          }
          this.$toast.error('Error Retrieving Activities')
        })
    },
    changeFilter(e) {
      const { value } = e.target
      this.offset = 10
      this.filter = value

      switch (value) {
        case 'Check-ins':
          this.filterActivities('code,user_check_in')
          break
        case 'Wellness Bookings':
          this.filterActivities('code,wellness_booking')
          break
        case 'Ticket Purchase':
          this.filterActivities('code,event_ticket_purchase')
          break
        case 'Table Reservations':
          this.filterActivities('code,restaurant_reservation')
          break
        case 'F&B Orders':
          this.filterActivities('code,eatry_order')
          break
        case 'Room Bookings':
          this.filterActivities('code,room_booking')
          break
        default:
          this.$store.dispatch('getActivities').then(activities => {
            this.$store.commit('SET_OBJ', { activities })
          })
      }
    }
  }
}
</script>
