<template lang="html">
  <div class="">
    <b-form
      @submit.prevent="addPlan">
      <MainTitle title="Add Company">
        <div class="pull-right">
          <b-button
            type="submit"
            variant="primary">Save Company</b-button>
        </div>
      </MainTitle>
      <b-row>
        <FullCard cols="6">
          <HeaderTitle subtitle="New Company" />
          <b-form-group label="Name" label-for="name">
            <b-form-input id="name" v-model="payload.name" placeholder="Name of Company" required />
          </b-form-group>
          <b-form-group label="Description" label-for="description">
            <b-form-textarea id="description" v-model="payload.description" placeholder="Description of the Company" rows="3" max-rows="5" required />
          </b-form-group>
        </FullCard>
      </b-row>
    </b-form>
    <b-button
      variant="link"
      class="m-r-15 c-blue"
      @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script>
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: () => ({
    payload: {
      name: '',
      description: ''
    }
  }),
  methods: {
    addPlan() {
      this.payload.workspace_id = this.$store.getters.getCurrentSpaceId
      this.$store.dispatch('addCompanies', this.payload)
    }
  }
}
</script>

<style lang="css" scoped>
</style>
