<template id="givebackoptions-add">
  <div class="">
    <b-form
      @submit.prevent="addOption">
      <MainTitle title="Add Give Back Option">
        <div class="pull-right">
          <b-button
            type="submit"
            variant="primary">Save Option</b-button>
        </div>
      </MainTitle>
      <b-row>
        <FullCard>
          <HeaderTitle subtitle="Setup Give Back Option" />
          <b-form-group
            id="givebackoptions_title"
            label="Title:"
            label-for="givebackoptions_title">
            <b-form-input
              id="givebackoptions_title"
              v-model="opt.title"
              type="text"
              placeholder="Donation"
              required/>
          </b-form-group>
          <b-form-group
            id="description"
            label="Description:"
            label-for="description">
            <b-form-textarea
              id="description"
              v-model="opt.desription"
              placeholder="Description about this option"
              required/>
          </b-form-group>
        </FullCard>
      </b-row>
    </b-form>
    <b-button
      variant="link"
      class="m-r-15 c-blue"
      @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script type="text/javascript">
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: () => ({
    opt: {
      title: '',
      desription: ''
    }
  }),
  methods: {
    addOption() {
      this.$store.dispatch('addOption', this.opt)
    }
  }
}
</script>
