<template lang="givebackoptions">
  <div class="">
    <MainTitle title="Give Back Options">
      <div class="pull-right">
        <b-button
          :to="base_url + '/add'"
          variant="primary">Add Give Back Option</b-button>
      </div>
    </MainTitle>
    <b-row>
      <FullCard type="card-feed pd-t-0">
        <div class="pd-10" v-if="loading">
          <content-placeholders>
            <content-placeholders-heading />
            <content-placeholders-text :lines="3" />
          </content-placeholders>
        </div>
        <div class="table-responsive" v-else>
          <table class="feed-2 table table-hover table-striped m-0">
            <thead>
              <tr>
                <th>Title</th>
                <th colspan="3">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(opt, i) in options" :key="i">
                <td class="c-shack-red">{{ opt.title }}</td>
                <td>{{ opt.desription }}</td>
                <td class="text-right">
                  <b-button
                    variant="link"
                    class="c-blue"
                    @click="editEntry(opt, i)">
                    <i class="fa fa-fw fa-pencil c-blue"/> Edit
                  </b-button>
                </td>
                <td class="text-right">
                  <b-button
                    variant="link"
                    class="c-pred"
                    @click="deleteEntry(opt, i)">
                    <i class="fa fa-fw fa-times c-pred"/> Remove
                  </b-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </FullCard>
    </b-row>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard
  },
  computed: {
    ...mapState({
      loading: state => state.loading,
      base_url: state => state.base_url + '/givebackoptions',
      options: state => state.givebackoptions.options
    })
  },
  created() {
    this.$store.dispatch('getOptions')
  },
  methods: {
    editEntry(payload, i) {
      let opt = {
        row: payload,
        index: i
      }
      this.$router.push(`${this.base_url}/${payload.id}`)
      this.$store.commit('SET_CURRENT_OPT', opt)
    },
    deleteEntry(payload, i) {
      if (!confirm('Are you sure')) return

      let opt = {
        level: 0,
        index: i,
        row: payload
      }
      this.$store.dispatch('removeOption', opt)
    }
  }
}
</script>

<style lang="css">
</style>
