<template lang="resources-add">
  <div class="">
    <b-form @submit.prevent="addWellness">
      <MainTitle title="Add New Wellness">
			<div class="pull-right">
				<b-button type="submit" variant="primary" :disabled="loading">Add Wellness</b-button>
			</div>
		</MainTitle>
    <b-row>
			<FullCard cols="12" type="card-feed">
				<HeaderTitle subtitle="Wellness Details" />
        <div class="row p-lr-20">
          <div class="col-md-6">
            <div class="row">
              <b-form-group label="Name" label-for="title" class="col-md-12">
                <b-form-input id="title" type="text" class="form-control" placeholder="Name of Wellness" v-model="wellness.title" />
              </b-form-group>
              <b-form-group label="Price per session" label-for="price_per_hour" class="col-md-9">
                <b-form-input id="price_per_hour" type="number" step="0.01" class="form-control" placeholder="0.00" v-model="wellness.price" />
              </b-form-group>
              <b-form-group label="Currency" label-for="currency" class="col-md-3">
                <b-form-input :value="$store.getters.getCurrency" id="currency" class="form-control" readonly />
              </b-form-group>
              <b-form-group label="Description" label-for="description" class="col-md-12">
                <b-form-textarea placeholder="Add details about this resource" rows="5" class="form-control" v-model="wellness.description" />
              </b-form-group>
              <b-form-group label="Location" label-for="location" class="col-md-12">
                <b-form-input id="location" type="text" class="form-control" placeholder="Wellness Room 1" v-model="wellness.location" />
              </b-form-group>
              <div class="clearfix"></div>
              <div class="col-md-3">
								<img :src="(image) ? image : '/images/small/img-1.jpg'" class="img-responsive" alt="">
							</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <b-form-group label="Host" label-for="host" class="col-md-12">
                <b-form-input id="host" type="text" class="form-control" placeholder="Name of Host" v-model="wellness.host" />
              </b-form-group>
              <b-form-group label="Duration" label-for="duration" class="col-md-12">
                <b-form-input id="duration" type="text" class="form-control" placeholder="30 mins" v-model="wellness.duration" />
              </b-form-group>
              <h5 class="col-md-12"><span style="text-decoration: underline;">Slots</span> <b-button variant="link" @click="addSlot()">Add Slot</b-button> </h5>
              <div v-for="(sl, i) in wellness.slots" :key="i">
                <b-form-group label="Date" label-for="date" class="col-md-4">
                  <!-- <b-form-input @change="setDate($event, i)" id="date" type="date" class="form-control" /> -->
                  <date-picker v-model="sl.date" width="100%" input-class="form-control" lang="en"
                    value-type="format" confirm id="date"
                  type="date" format="DD/MM/YYYY" placeholder="01/01/2019"></date-picker>
                </b-form-group>
                <b-form-group label="Time" label-for="time" class="col-md-3">
                  <!-- <b-form-input id="time" type="time" class="form-control" v-model="sl.time" /> -->
                  <date-picker v-model="sl.time" width="100%" input-class="form-control" lang="en"
                    value-type="format" confirm id="time"
                  type="time" format="HH:mm" placeholder="00:00"></date-picker>
                </b-form-group>
                <b-form-group label="Capacity" label-for="capacity" class="col-md-3">
                  <b-form-input id="capacity" type="number" class="form-control" placeholder="1" v-model="sl.capacity" />
                </b-form-group>
                <b-form-group label="Remove" label-for="remove" class="col-md-2" v-if="i !== 0">
                  <b-button id="remove" variant="danger" @click="removeSlot(i)"><i class="fa fa-close"></i></b-button>
                </b-form-group>
              </div>
            </div>
          </div>
        </div>
        <div class="upload-btn-wrapper p-lr-20 mr-t-30 bg-light-blue">
          <button class="btn"><i class="fa fa-paperclip"></i> Upload resource image (&lt; 1MB) & size 800 x 530</button>
          <input type="file" name="image" accept="image/*" required @change="getBase64" />
        </div>
      </FullCard>
    </b-row>
    </b-form>
  </div>
</template>

<script>
import MainTitle from '~/components/MainTitle.vue'
import FullCard from '~/components/FullCard.vue'
import HeaderTitle from '~/components/HeaderTitle'
import { mapState } from 'vuex'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: () => ({
    image: undefined,
    wellness: {
      slots: [{ date: '', time: '', capacity: '' }],
      host: '',
      images: [],
      price: '',
      description: '',
      core_workspace_id: '',
      location: '',
      duration: '',
      title: ''
    }
  }),
  computed: {
    ...mapState({
      current_space: state => state.current_space,
      loading: state => state.loading
    })
  },
  methods: {
    addSlot() {
      this.wellness.slots.push({ date: '', time: '', capacity: '' })
    },
    setDate(e, i) {
      this.wellness.slots[i].date = this.$moment(e).format('DD/MM/YYYY')
    },
    removeSlot(i) {
      this.wellness.slots.splice(i, 1)
    },
    getBase64(e) {
      let input = event.target
      if (input.files && input.files[0]) {
        let reader = new FileReader()
        reader.onload = e => {
          this.image = e.target.result
        }

        reader.readAsDataURL(input.files[0])
      }
    },
    async addWellness() {
      this.wellness.core_workspace_id = this.current_space.id

      if (!this.image) {
        this.$toast.error('Please provide an image')
        return
      }

      if (
        !(this.wellness.images[0] = await this.$store.dispatch('uploadImage', {
          base64: this.image
        }))
      )
        return

      let wellness = this.wellness
      wellness.images = JSON.stringify(this.wellness.images)
      wellness.slots = JSON.stringify(this.wellness.slots)

      this.$store.dispatch('addWellness', wellness)
    }
  }
}
</script>

<style lang="css">
</style>
