<template lang="html">
  <div class="">
    <MainTitle title="Add New Categories" />
    <b-row>
      <FullCard type="card-feed">
        <HeaderTitle subtitle="New Wellness Category" />
        <b-form
          class="row p-lr-20"
          @submit.prevent="addCategories">
          <b-form-group
            id="name"
            label="Name"
            class="form-group col-sm-6 col-md-3"
            label-for="name">
            <b-form-input
              id="name"
              v-model="category.category"
              type="text"
              class="form-control"
              placeholder="Name of Category" />
          </b-form-group>
          <b-form-group
            id="description"
            label="Description"
            label-for="description"
            class="form-group col-sm-6 col-md-4">
            <b-form-input
              id="description"
              v-model="category.description"
              class="form-control"
              placeholder="Brief description about this category" />
          </b-form-group>
          <div class="form-group pull-left m-l-10">
            <label for="">&nbsp;</label>
            <b-button
              type="submit"
              class="form-control dashed"
              variant="primary">Add This Category</b-button>
          </div>
        </b-form>
        <div class="table-responsive m-t-40">
          <table class="feed table table-hover table-striped m-0">
            <tbody>
              <tr
                v-for="(category, i) in categories"
                :key="i">
                <td><i
                  :style="{color: `${category.bg_color}`}"
                  class="mdi mdi-record"/> {{ category.category }}</td>
                <td>{{ category. description }}</td>
                <td><b-button
                  variant="link"
                  class="m-r-15 c-pinky-red"
                  @click="deleteCategory(i)"><i class="fa fa-times c-pinky-red"/> Remove</b-button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </FullCard>
    </b-row>
  </div>
</template>

<script>
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'

export default {
  async asyncData({ store, app }) {
    try {
      return await app.$devless
        .queryData('core', 'wellness_categories')
        .then(res => {
          if (res.status_code === 625) {
            return {
              categories: res.payload.results
            }
          }
        })
    } catch (e) {
      app.$sentry.captureException(e)
    }
  },
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: () => ({
    category: {
      category: '',
      description: ''
    }
  }),
  methods: {
    async addCategories() {
      try {
        await this.$devless
          .addData('core', 'wellness_categories', this.category)
          .then(res => {
            if (res.status_code === 609) {
              this.categories.push({
                id: res.payload.entry_id,
                category: this.category.category,
                description: this.category.description
              })
              this.$toast.success('Category Added Successfully')
              return res.payload.results
            }
            this.$toast.error('Error Adding New Category. Try Again ...')
          })
      } catch (e) {
        this.$sentry.captureException(e)
      }
    },
    async deleteCategory(index) {
      if (!confirm('Are you sure?')) return

      try {
        await this.$devless
          .deleteData(
            'core',
            'wellness_sessions',
            'id',
            this.categories[index].id
          )
          .then(res => {
            if (res.status_code === 636) {
              this.categories.splice(index, 1)
              this.$toast.success('Category Deleted Successfully')
              return
            }
            this.$toast.error('Error Deleting Category. Try Again ...')
          })
      } catch (e) {
        this.$sentry.captureException(e)
      }
    }
  }
}
</script>

<style lang="css" scoped>
</style>
