<template lang="wellness">
  <div class="">
    <MainTitle title="Wellness">
      <div class="pull-right">
        <b-button
          :to="base_url + '/add'"
          variant="primary">Add Wellness</b-button>
      </div>
    </MainTitle>
    <b-row class="masonry">
      <FullCard type="pd-0" cols="4" v-for="(wellness, i) in data" :key="i">
        <img :src="setImage(wellness.images)" class="img-responsive" alt="">
        <span class="card-label label label-warning">{{ current_space.name }}</span>
        <div class="p-lr-20 m-t-20 pd-b-20">
          <HeaderTitle :subtitle="wellness.title" :titleright="getPrice(wellness.price)" />
          <p class="text-muted m-b-20">{{ wellness.description }}</p>
          <p class="mr-t-40">Host: {{ wellness.host }}</p>
          <p>Location: <span v-html="wellness.location"></span></p>
          <p>Duration: {{ wellness.duration }}</p>
          <p style="text-decoration: underline;">Slots</p>
          <p class="" v-for="(sl, i) in listSlots(wellness.slots)" :key="i">{{`Date: ${$moment(sl.date, 'DD/MM/YYYY').format(
            'MMM DD YYYY'
          )}, Time: ${$moment(sl.time, 'H:mm').format('h:mm a')}, Capacity: ${
            sl.capacity
          }`}}
          </p>
          <div class="mr-t-30">
            <b-button variant="link" class="c-blue mr-r-20" @click="editWellness(wellness, i)"><i class="fa fa-pencil"></i> Edit Wellness</b-button>
            <b-button variant="link" class="c-red" @click="deleteWellness(wellness, i)"><i class="fa fa-trash"></i> Delete Wellness</b-button>
          </div>
        </div>
      </FullCard>
    </b-row>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'

export default {
  async asyncData({ store }) {
    await store.dispatch('fetchData', store.state.current_space.id)
  },
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  computed: {
    ...mapState({
      base_url: state => state.base_url + '/wellness',
      data: state => state.wellness.data,
      current_space: state => state.current_space,
      loading: state => state.loading
    })
  },
  methods: {
    setImage(images) {
      if (typeof images === 'object') {
        return images[0]
      }
      return JSON.parse(images)[0]
    },
    listSlots(sl) {
      try {
        return JSON.parse(sl)
      } catch (e) {
        console.log('error ', e)
      }
    },
    formatTime(time) {
      return this.$moment(time, 'HH:mm').format('h:mm A')
    },
    getPrice(price) {
      let currency = _.upperCase(this.current_space.currency)
      return `${price} ${currency} / Session`
    },
    editWellness(payload, index) {
      this.$router.push(this.$route.path + '/' + payload.id)
    },
    deleteWellness(payload, index) {
      if (!confirm('Are you sure?')) return

      let wellness = {
        row: payload,
        index: index
      }
      this.$store.dispatch('deleteWellness', wellness)
    }
  }
}
</script>

<style scoped>
.masonry {
  display: flex;
  flex-wrap: wrap;
}
.masonry .col-md-4 {
  display: flex;
}
</style>
