<template lang="html">
  <div class="">
    <vue-good-table :columns="columns" :rows="members" style-class="feed-2 table table-hover table-striped m-0">
      <template
        slot="table-column"
        slot-scope="props">
        <div>
          {{ props.column.label }}
        </div>
      </template>
      <template
        slot="table-row"
        slot-scope="props">
        <div v-if="props.column.field === 'option'">
          <b-button
            v-if="props.row.check_in == 1"
            variant="info"
            @click="toggleCheckIn(props)" :disabled="loading">Checkout</b-button>
            <b-button v-else variant="primary" :disabled="loading" @click="toggleCheckIn(props)">Check-in</b-button>
        </div>
        <div v-else-if="props.column.label === 'Name'">
          <nuxt-link :to="base_url + `/directory/${props.row.users_id}`" class="c-shack-red">{{ props.row.first_name }} {{ props.row.last_name}}</nuxt-link>
        </div>
        <div v-else>{{ props.formattedRow[props.column.field] }}</div>
      </template>
    </vue-good-table>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  props: {
    members: {
      type: Array,
      default: () => {
        return []
      }
    },
    base_url: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    columns: [
      {
        label: 'Name',
        field: row => {
          return `${row.first_name} ${row.last_name}`
        }
      },
      {
        label: 'Member ID',
        field: 'member_id'
      },
      {
        label: 'Checkin Timestamp',
        field: 'last_checkin_date',
        type: 'date',
        dateInputFormat: 'X',
        dateOutputFormat: 'MMM Do YYYY HH:mm:ss'
      },
      {
        label: '',
        field: 'option'
      }
    ]
  }),
  computed: {
    ...mapState({
      loading: state => state.loading
    })
  },
  methods: {
    toggleCheckIn(props) {
      this.$store.commit('CHANGE_LOADING', true)

      this.$devless
        .call('core', 'adminToggleCheckIn', [
          {
            user_id: props.row.users_id
          }
        ])
        .then(res => {
          this.$store.commit('CHANGE_LOADING', false)

          if (res.status_code) {
            props.row.check_in = props.row.check_in ? null : 1
            this.$toast.success('Toggling User Checkin Status Successful.')
            return
          }
          this.$toast.error('Error Changing User Checkin Status. Try Again ...')
        })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
