<template>
	<div>
		<MainTitle
		title="Dashboard"
		/>
		<div class="row">
			<ShCard cols="3">
				<content-placeholders>
					<content-placeholders-heading :img="true" />
				</content-placeholders>
			</ShCard>
			<ShCard cols="3">
				<content-placeholders>
					<content-placeholders-heading :img="true" />
				</content-placeholders>
			</ShCard>
			<ShCard cols="3">
				<content-placeholders>
					<content-placeholders-heading :img="true" />
				</content-placeholders>
			</ShCard>
			<ShCard cols="3">
				<content-placeholders>
					<content-placeholders-heading :img="true" />
				</content-placeholders>
			</ShCard>
		</div>

		<div class="row eq-height">
			<ShCard cols="6" shclass="eq-height-wrap">
				<HeaderTitle title="Activity Feed" subtitle="Usage Stream on Mobile Platform" />
				<div class="table-responsive mr-h-neg">
					<table class="feed-2 table m-0">
						<tbody>
							<tr v-for="(n, i) in 2" :key="i">
								<td>
									<content-placeholders>
										<content-placeholders-heading :img="true" />
									</content-placeholders>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</ShCard>
			<ShCard cols="6" shclass="eq-height-wrap">
				<HeaderTitle title="Bookings" subtitle="Space, Events, Meals, and Resources" />
				<div class="table-responsive mr-h-neg">
					<table class="feed-2 table m-0">
						<tbody>
							<tr v-for="(n, i) in 2" :key="i">
								<td>
									<content-placeholders>
										<content-placeholders-heading :img="true" />
									</content-placeholders>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</ShCard>
		</div>

	</div>
</template>
<script>
import MainTitle from '~/components/MainTitle.vue'
import TheWidget from '~/components/TheWidget.vue'
import ShCard from '~/components/ShCard.vue'
import HeaderTitle from '~/components/HeaderTitle.vue'

export default {
  layout: 'admin',
  components: {
    MainTitle,
    TheWidget,
    ShCard,
    HeaderTitle
  }
}
</script>
