<template>
  <div>
    <div class="row">
      <ShCard cols="3">
        <content-placeholders>
          <content-placeholders-heading :img="true" />
        </content-placeholders>
      </ShCard>
      <ShCard cols="3">
        <content-placeholders>
          <content-placeholders-heading :img="true" />
        </content-placeholders>
      </ShCard>
      <ShCard cols="3">
        <content-placeholders>
          <content-placeholders-heading :img="true" />
        </content-placeholders>
      </ShCard>
      <ShCard cols="3">
        <content-placeholders>
          <content-placeholders-heading :img="true" />
        </content-placeholders>
      </ShCard>
    </div>

  </div>
</template>
<script>
import ShCard from '~/components/ShCard.vue'

export default {
  layout: 'admin',
  components: {
    ShCard
  }
}
</script>
