<template lang="html">
  <b-form @submit.prevent="updateBooking">
    <MainTitle title="Edit Table Booking">
      <div class="pull-right">
        <b-button
          type="submit"
          variant="primary">Update Booking</b-button>
      </div>
    </MainTitle>
    <b-row>
      <FullCard cols="6">
        <HeaderTitle subtitle="Reservation Details" />
        <div class="row">
          <div class="form-group col-md-12">
            <label for="tables">Table:</label>
            <select
              id="tables"
              v-model="data.core_restaurant_id"
              class="form-control"
              name="tables">
              <option
                v-for="(room,i) in rooms"
                :key="i"
                :value="room.id">{{ room.name }}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="capacity">Seat Capacity:</label>
            <input
              v-model="data.seats"
              type="number"
              name="capacity"
              class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label for="date">Date:</label>
            <date-picker
              v-model="data.date"
              width="100%"
              input-class="form-control"
              lang="en"
              value-type="format"
              type="date"
              format="DD/MM/YYYY"
              placeholder="Select Date">
              <template slot="calendar-icon" >
                <i/>
              </template>
            </date-picker>
            <!-- <input type="date" name="date" class="form-control" v-model="data.date"> -->
          </div>
          <div class="form-group col-md-6">
            <label for="time">Start Time:</label>
            <date-picker
              v-model="data.from"
              width="100%"
              input-class="form-control"
              lang="en"
              value-type="format"
              type="time"
              format="HH:mm"
              confirm
              placeholder="Select Time">
              <template slot="calendar-icon" >
                <i/>
              </template>
            </date-picker>
            <!-- <input type="time" name="time" class="form-control" v-model="data.time"> -->
          </div>
          <div class="form-group col-md-6">
            <label for="time">End Time:</label>
            <date-picker
              v-model="data.to"
              width="100%"
              input-class="form-control"
              lang="en"
              value-type="format"
              type="time"
              format="HH:mm"
              confirm
              placeholder="Select Time">
              <template slot="calendar-icon" >
                <i/>
              </template>
            </date-picker>
            <!-- <input type="time" name="time" class="form-control" v-model="data.time"> -->
          </div>
        </div>
      </FullCard>
    </b-row>
  </b-form>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'

export default {
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  props: {
    data: {
      type: Object,
      default: undefined
    }
  },
  computed: {
    ...mapState({
      anyData: state => state.anyData,
      rooms: state => state.tables.data
    })
  },
  methods: {
    async updateBooking() {
      let localData = {
        core_restaurant_id: this.data.core_restaurant_id,
        date: this.data.date,
        seats: this.data.seats,
        from: this.data.from,
        to: this.data.to
      }

      await this.$devless
        .updateData(
          'core',
          'restaurant_reservations',
          'id',
          this.data.id,
          localData
        )
        .then(res => {
          if (res.status_code === 619) {
            this.$toast.success('Reservation Updated Successfully')
            this.$router.go(-1)
            return
          }
          this.$toast.error('Error Updating Reservation. Try Again ...')
        })
    }
  }
}
</script>

<style lang="css">
</style>
