<template lang="html">
  <b-form @submit.prevent="updateBooking">
    <MainTitle
      :subtitle="data.id"
      title="Edit Room Booking">
      <div class="pull-right">
        <b-button
          type="submit"
          variant="primary">Update Booking</b-button>
      </div>
    </MainTitle>
    <b-row>
      <FullCard cols="6">
        <HeaderTitle subtitle="Booking Details" />
        <div class="row">
          <div class="form-group col-md-12">
            <label for="purpose">Purpose of Booking:</label>
            <textarea
              v-model="data.purpose"
              name="purpose"
              rows="2"
              cols="80"
              class="form-control"/>
          </div>
          <div class="form-group col-md-4">
            <label for="">When Date</label>
            <date-picker v-model="data.when" width="100%" input-class="form-control" lang="en"
              value-type="format" confirm
            type="date" format="DD/MM/YYYY" placeholder="Select Date">
            <template slot="calendar-icon" >
              <i></i>
            </template>
            </date-picker>
            <!-- <input
              v-model="data.when"
              type="date"
              class="form-control"
              > -->
          </div>
          <div class="form-group col-md-4">
            <label for="">Start Time</label>
            <date-picker v-model="data.from" width="100%" input-class="form-control" lang="en"
              value-type="format" confirm
            type="time" format="HH:mm" placeholder="Select Time">
              <template slot="calendar-icon" >
                <i></i>
              </template>
            </date-picker>
            <!-- <input
              id=""
              v-model="data.from"
              type="time"
              class="form-control"
              > -->
          </div>
          <div class="form-group col-md-4">
            <label for="">End Time</label>
            <date-picker v-model="data.to" width="100%" input-class="form-control" lang="en"
              value-type="format" confirm
            type="time" format="HH:mm" placeholder="Select Time">
              <template slot="calendar-icon" >
                <i></i>
              </template>
            </date-picker>
            <!-- <input
              v-model="data.to"
              type="time"
              class="form-control"
              > -->
          </div>
        </div>
      </FullCard>
    </b-row>
  </b-form>
</template>

<script>
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'

export default {
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  props: {
    data: {
      type: Object,
      default: undefined
    }
  },

  methods: {
    async updateBooking() {
      let localData = this.data
      await this.$devless
        .updateData('core', 'room_bookings', 'id', this.data.id, {
          purpose: localData.purpose,
          when: localData.when,
          from: localData.from,
          to: localData.to
        })
        .then(res => {
          if (res.status_code === 619) {
            this.$toast.success('Booking Updated Successfully')
            this.$router.go(-1)
            return
          }
          this.$toast.error('Error Updating Booking. Try Again ...')
        })
    }
  }
}
</script>

<style lang="css">
</style>
