<template>
  <h4 class="header-title m-b-25"><span>{{ title }}</span> <b v-show="subtitle && title">•</b> {{ subtitle }} <div
    v-show="titleright"
    class="pull-right text-muted">{{ titleright }}</div></h4>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: String,
      default: ''
    },
    titleright: {
      type: String,
      default: ''
    }
  }
}
</script>
