<template lang="html">
  <div class="">
    <vue-good-table
      ref="member_table"
      :columns="columns"
      :rows="rows"
      :search-options="{
        enabled: true,
        externalQuery: searchTerm
      }"
      style-class="feed-2 table table-hover table-striped m-0"
    >
    <template
      slot="table-row"
      slot-scope="props">
      <div v-if="props.column.field === 'status'">
        <b-button variant="primary" @click="resendInvitation(props)">Resend Invitation
        </b-button>
        <b-button
          variant="danger"
          @click="deleteMember(props)">Remove</b-button>
      </div>
      <div v-else-if="props.column.label === 'Name'">
        <img
          :src="props.row.profile_pic ? props.row.profile_pic : '/images/users/avatar-1.jpg'"
          alt="user"
          class="thumb-sm img-circle pull-left"
          width="35">
        <nuxt-link :to="`${base_url}/members/${props.row.id}`"><span class="c-shack-red">{{ props.row.first_name }} {{ props.row.last_name }}</span></nuxt-link> <br>
        {{ props.row.company ? props.row.company : 'N/A' }}
      </div>
      <div
        v-else-if="props.column.field === 'membership_package_id'"
        v-html="getPackage(props.row)"/>
      <div v-else>{{ props.formattedRow[props.column.field] }}</div>
    </template>
  </vue-good-table>
  </div>
</template>

<script>
export default {
  props: {
    rows: {
      type: Array,
      default: () => {
        return []
      }
    },
    base_url: {
      type: String,
      default: ''
    },
    searchTerm: {
      type: String,
      default: ''
    }
  },
  layout: 'dashboard',
  data: () => ({
    columns: [
      {
        label: 'Name',
        field: rowObj => {
          return `${rowObj.first_name} ${rowObj.last_name}`
        },
        thClass: 'bold-n'
      },
      {
        label: 'Company',
        field: 'company',
        thClass: 'bold-n',
        hidden: true
      },
      {
        label: 'Invite Code',
        field: 'invited',
        thClass: 'bold-n'
      },
      {
        label: 'Invite Link',
        field: row => {
          return `https://member.shack15.com?invitation=${row.invited}`
        },
        thClass: 'bold-n'
      },
      {
        label: 'Status',
        field: 'status',
        thClass: 'bold-n',
        sortable: false
      }
    ]
  }),
  methods: {
    resendInvitation(props) {
      this.$devless
        .call('ElasticEmail', 'send', [
          'mailer',
          props.row.email,
          'invitation',
          {
            first_name: props.row.first_name,
            invitation: props.row.invited
          }
        ])
        .then(res => {
          this.$toast.success('Invitation Sent Successfully')
        })
    },
    deleteMember(props) {
      if (!confirm('Are you sure?')) return

      this.$store
        .dispatch('superApi', {
          table: 'users',
          action: 'destroy',
          queries: [{ where: ['users.id', props.row.id] }]
        })
        .then(res => {
          if (res.status_code == 1000) {
            this.rows.splice(props.index, 1)
            this.$toast.success('Record Deleted Successfully')
            return
          }
        })
        .catch(err => {
          this.$toast.error('Unable to Delete Record')
        })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
