<template>
	<div class="row">
		<div class="col-xs-12">
			<div class="page-title-box">
				<div class="row">
					<div class="col-md-4">
						<h4 class="page-title"><span>{{ title }}</span><b v-show="subtitle"> •</b> {{ subtitle }}</h4>
            <div v-show="dropdown">
              <span style="margin-left: 5px;">•</span>
              <div
              class="btn-group"
              role="group">
              <button
              type="button"
              class="btn btn-default dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              {{ dropname.title }}
              <span class="caret"/>
            </button>
            <ul class="dropdown-menu">
              <li
              v-for="(drop, i) in drops"
              :key="i"><a @click="setDrop(drop)">{{ drop.title }}</a></li>
            </ul>
          </div>
            </div>
            <slot name="dropdown"></slot>
					</div>

					<div class="col-md-4 text-right pull-right">
						<slot />
					</div>

					<slot name="search"></slot>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: String,
      default: ''
    },
    info: {
      type: String,
      default: ''
    },
    search: {
      type: String,
      default: ''
    },
    dropdown: {
      type: String,
      default: ''
    },
    drops: {
      type: Array,
      default: undefined
    },
    value: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    dropname: {
      title: '',
      tag: ''
    }
  }),
  created() {
    if (this.drops) {
      this.dropname = _.find(this.drops, o => {
        return o.tag == this.value
      })
    }
  },
  methods: {
    setDrop(row) {
      this.dropname = row

      this.$emit('dropValue', row)
    }
  }
}
</script>

<style scoped>
.page-title b {
  font-family: Arial, 'Sans Serif';
}
</style>
