<template>
	<div class="row">
		<div class="col-xs-12">
			<div class="page-title-box">
				<h4 class="page-title"><span>{{ title }}</span> <b v-show="subtitle">•</b> {{ subtitle }}</h4>

				<slot />

				<!-- <div class="pull-right alert" role="alert">
					<i class="fa fa-lightbulb-o"></i>
					This page shows all activities happening within your space. Navigate using Previous and Next.
				</div> -->

				<!-- <b-alert class="pull-right" variant="" show><i class="fa fa-lightbulb-o"></i> This page shows all activities happening within your space. Navigate using Previous and Next.</b-alert> -->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: String,
      default: ''
    },
    info: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped>
.page-title b {
  font-family: Arial, 'Sans Serif';
}
</style>
