<template name="modal">
	<div class="sh-modal">
		<div :id="identifier" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<slot />
					</div>
					<div class="modal-footer text-left">
						<slot name="footer"></slot>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
export default {
  props: {
    identifier: {
      type: String,
      default: 'myModal'
    }
  }
}
</script>
