<template>
	<div class="panel panel-color panel-inverse">
		<div class="panel-heading">
			<h3 class="panel-title">{{ title }}</h3>
		</div>
		<div class="panel-body">
			<slot />
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			title: {
				type: String,
				default: ''
			},
		}
	}
</script>