<template lang="html">
  <div class="input-group col-md-4 top-search">
    <span class="input-group-btn">
      <button
        type="button"
        class="btn btn-icon"><i class="fa fa-search"/></button>
    </span>
    <input
      id="example-input3-group2"
      type="text"
      :value="inputValue"
      @change="handleInput"
      name="example-input3-group2"
      class="form-control"
      placeholder="Search">
    <span class="input-group-btn">
      <button
        type="button"
        class="btn bg-charcoal-grey txt-light"
        @click="resetSearch">Clear</button>
    </span>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  data: function() {
    return {
      inputValue: this.value
    }
  },
  methods: {
    handleInput(e) {
      const { value } = e.target

      this.$emit('input', value)
    },
    resetSearch() {
      this.inputValue = ''
      this.$emit('input', this.inputValue)
    }
  }
}
</script>

<style lang="css">
</style>
