<template>
  <div :class="'col-md-' + cols">
    <div :class="'card-box ' + shclass">
      <h1 v-if="title">{{ title }}</h1>
      <slot/>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    shclass: {
      type: String,
      default: ''
    },
    cols: {
      type: String,
      default: () => '12'
    }
  }
}
</script>
