<template>
  <div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
      <div id="sidebar-menu">
        <ul>
          <li class="has_sub">
            <a
              href="javascript:void(0);"
              class="waves-effect"><i class="mdi mdi-presentation"/> <span> Manage </span>
              <span class="menu-arrow"/>
            </a>
            <ul class="list-unstyled">
              <nuxt-link
                :to="baseUrl"
                tag="li"
                exact><a :class="{active: $route.path === baseUrl}">Dashboard</a></nuxt-link>
              <nuxt-link
                :to="baseUrl + '/checkins'"
                tag="li" ><a :class="{active: $route.path === baseUrl + '/checkins'}">Checkins</a></nuxt-link>
              <nuxt-link
                :to="baseUrl + '/members'"
                tag="li" ><a :class="{active: $route.path === baseUrl + '/members'}">Invite</a></nuxt-link>
              <nuxt-link
                :to="baseUrl + '/directory'"
                tag="li" ><a :class="{active: $route.path === baseUrl + '/directory'}">Directory</a></nuxt-link>
              <nuxt-link
                :to="baseUrl + '/events'"
                tag="li" ><a :class="{active: $route.path === baseUrl + '/events'}">Events</a></nuxt-link>
              <nuxt-link
                :to="baseUrl + '/companies'"
                tag="li" ><a :class="{active: $route.path === baseUrl + '/companies'}">Companies</a></nuxt-link>
            </ul>
          </li>
          <li class="has_sub">
            <a
              href="javascript:void(0);"
              class="waves-effect"><i class="fa fa-calendar" /> <span> Bookings </span>
              <span class="menu-arrow"/>
            </a>
            <ul class="list-unstyled">
              <nuxt-link
                :to="baseUrl + '/bookings'"
                tag="li"
                exact><a :class="{active: $route.path === baseUrl + '/bookings'}">Calendar</a></nuxt-link>
            </ul>
          </li>
          <li class="has_sub">
            <a
              href="javascript:void(0);"
              class="waves-effect"><i class="mdi mdi-invert-colors"/> <span> Amenities </span>
              <span class="menu-arrow"/>
            </a>
            <ul class="list-unstyled">
              <nuxt-link
                :to="baseUrl + '/rooms'"
                tag="li"><a :class="{active: $route.path === baseUrl + '/rooms'}">Meeting Rooms</a></nuxt-link>
              <nuxt-link
                :to="baseUrl + '/tables'"
                tag="li"><a :class="{active: $route.path === baseUrl + '/tables'}">Tables</a></nuxt-link>
              <nuxt-link
                :to="baseUrl + '/wellness'"
                tag="li"><a :class="{active: $route.path === baseUrl + '/wellness'}">Wellness</a></nuxt-link>
            </ul>
          </li>
          <li class="has_sub">
            <a
              href="javascript:void(0);"
              class="waves-effect"><i class="mdi mdi-view-dashboard" /> <span> Inventory </span>
              <span class="menu-arrow"/>
            </a>
            <ul class="list-unstyled">
              <nuxt-link
                :to="baseUrl + '/inventory'"
                tag="li"><a :class="{active: $route.path === baseUrl + '/inventory'}">Orders</a></nuxt-link>
              <nuxt-link
                :to="baseUrl + '/inventory/manage'"
                tag="li"><a :class="{active: $route.path === baseUrl + '/inventory/manage'}">Manage</a></nuxt-link>
            </ul>
          </li>
          <li class="has_sub">
            <a
              href="javascript:void(0);"
              class="waves-effect"><i class="fa fa-sliders" /> <span> Setup </span>
              <span class="menu-arrow"/>
            </a>
            <ul class="list-unstyled">
              <nuxt-link
                :to="baseUrl + '/plans'"
                tag="li"><a :class="{active: $route.path === baseUrl + '/plans'}">Plans</a></nuxt-link>
              <nuxt-link
                :to="baseUrl + '/tags'"
                tag="li"><a :class="{active: $route.path === baseUrl + '/tags'}">Tags</a></nuxt-link>
              <!-- <nuxt-link
                :to="baseUrl + '/givebackoptions'"
                tag="li"><a :class="{active: $route.path === baseUrl + '/givebackoptions'}">Give Back Options</a></nuxt-link> -->
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      baseUrl: state => state.base_url
    })
  }
}
</script>
