<template>
	<div class="col-md-3 col-sm-6">
		<div class="card-box widget-box-one">
			<!-- <i class="mdi mdi-chart-areaspline widget-one-icon"></i> -->
			<div class="wigdet-one-content">
				<h2>{{ value }}</h2>
				<p class="m-0"> {{ text }} </p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  props: {
    value: {
      type: [Number, String],
      default: 0
    },
    text: {
      type: String,
      default: ''
    }
  }
}
</script>
