<template>
   <div class="col-md-3 col-sm-6 flex-wrap" @click="navToMember">
      <div class="card-box w-100" style="cursor: pointer;">
         <div class="img-card">
            <span class="label label-inverse">
               <i :class="'typcn typcn-lock-' + (status !== 'expired' ? 'open-' : 'closed-') + 'outline'"></i> {{ status == 'expired' ? 'Expired' : 'Active'}}
            </span>
            <div class="img-card-content">
              <div class="thumb-md">
               <img :src="profile_pic" alt="user" class="img-circle img-responsive">
               <i class="fa fa-circle thumb-badge" :style="'color: ' + thumbCol" v-show="thumbCol"></i>
             </div>
               <p>
                  <span class="c-shack-red">{{ name }}</span> <br>
                  {{ company }}
               </p>
            </div>
         </div>
      </div>
   </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: ''
    },
    company: {
      type: String,
      default: ''
    },
    status: {
      type: String,
      default: ''
    },
    profile_pic: {
      type: String,
      default: '/images/users/avatar-1.jpg'
    },
    data: {
      type: Object,
      default: undefined
    },
    thumbCol: {
      type: String,
      default: 'red'
    }
  },
  methods: {
    navToMember() {
      this.$store.commit('SET_MEMBER', this.data)
      this.$router.push(this.$route.path + `/${this.data.id}`)
    }
  }
}
</script>
