<template lang="html">
  <div class="topbar">
		<div class="navbar navbar-default" role="navigation">
			<div class="container">
					<a href="index.html" style="line-height: 80px;">
						<span><img src="/images/logo3.png" alt="" ></span>
					</a>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown user-box">
						<a href="" class="dropdown-toggle waves-effect user-link" data-toggle="dropdown" aria-expanded="true">
							<img :src="user.profile_pic ? user.profile_pic : '/images/users/avatar-1.jpg'" alt="user-img" class="img-circle user-img"> {{ user.first_name }} {{ user.last_name }}
						</a>
						<ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
							<li>
								<h5>Hi, {{ user.first_name }}</h5>
							</li>
							<li><a href="javascript:void(0)"><i class="ti-settings m-r-5"></i> Settings</a></li>
							<li><a @click="logout"><i class="ti-power-off m-r-5"></i> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      user: state => state.auth.authUser.profile
    })
  },
  methods: {
    logout() {
      this.$store.dispatch('logout')
    }
  }
}
</script>

<style lang="css">
</style>
