<template>
	<div :class="'input-group col-md-4 top-search ' + shclass">
        <span class="input-group-btn">
        <button type="button" class="btn btn-icon"><i class="fa fa-search"></i></button>
        </span>
        <input type="text" id="example-input3-group2"
        name="example-input3-group2"
        class="form-control" placeholder="Search"
        v-model="searchTerm">
        <span class="input-group-btn">
        <button type="button" class="btn bg-charcoal-grey txt-light" @click="resetSearch">Clear</button>
        </span>
    </div>
</template>

<script>
export default {
  props: {
    shclass: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    }
  },
  data: function() {
    return { searchTerm: this.value }
  },
  watch: {
    value: function(val) {
      this.searchTerm = val
    },
    searchTerm: function(val) {
      this.$emit('input', val)
    }
  },
  methods: {
    resetSearch() {
      this.searchTerm = ''
      this.$emit('input', '')
    }
  }
}
</script>
