<template>
	<div class="input-group col-md-4 top-search">
        <span class="input-group-btn">
        <button type="button" class="btn btn-icon"><i class="fa fa-search"></i></button>
        </span>
        <input type="text" id="example-input3-group2" name="example-input3-group2" class="form-control" placeholder="Search">
        <span class="input-group-btn">
        <button type="button" class="btn bg-charcoal-grey txt-light">Clear</button>
        </span>
    </div>
</template>
