<template>
	<div class="upload-btn-wrapper p-lr-20 mr-t-30 bg-light-blue">
		<button class="btn"><i class="fa fa-paperclip"></i> <span v-html="filename"></span></button>
		<input type="file" accept="image/*" :name="name" @change="getBase64" style="cursor: pointer;"/>
	</div>
</template>
<script>
export default {
  props: {
    name: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    filename: 'Upload resource image (&lt;1MB) & size 800 x 530'
  }),
  methods: {
    getBase64(e) {
      let input = event.target

      if (input.files[0].size > 1024000) {
        this.$toast.error('File size must not be greater than 1MB')
        return
      }

      if (input.files && input.files[0]) {
        this.filename = input.files[0].name
        let reader = new FileReader()
        reader.onload = e => {
          this.$emit('input', e.target.result)
          // this.image = e.target.result
        }

        reader.readAsDataURL(input.files[0])
      }
    }
  }
}
</script>
