<template id="edit-plan">
  <div class="">
    <b-form @submit.prevent="updatePlan">
    <MainTitle title="Edit Plan">
			<div class="pull-right">
				<b-button type="submit" variant="primary">Update Plan</b-button>
			</div>
		</MainTitle>
    <b-row>
			<FullCard cols="6">
				<HeaderTitle subtitle="Setup Plan" />

        <b-form-group id="plan_name"
              label="Name of Plan:"
              label-for="plan_name">
          <b-form-input id="plan_name"
            v-model="plan.row.title"
            type="text"
            placeholder="Add plan name"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group id="description"
            label="Description:"
            label-for="description">
          <b-form-textarea id="description"
            v-model="plan.row.description"
              placeholder="Description about this plan"
              required>
          </b-form-textarea>
        </b-form-group>
        <b-form-group id="price"
            label="Price:"
            label-for="price">
          <b-form-input id="price"
            v-model="plan.row.price"
            type="number"
            step="0.01"
            placeholder="0.00"
            required>
          </b-form-input>
        </b-form-group>
      </FullCard>
      </b-row>
    </b-form>
    <b-button variant="link" class="m-r-15 c-blue" @click="$router.go(-1)"><i class="fa fa-chevron-left"></i> Back</b-button>
  </div>
</template>

<script type="text/javascript">
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: () => ({
    plan: {}
  }),
  created() {
    this.plan = this.$store.state.plans.plan
  },
  methods: {
    updatePlan() {
      delete this.plan.row.vgt_id
      delete this.plan.row.originalIndex

      this.$store.dispatch('updatePlan', this.plan)
    }
  }
}
</script>
