<template id="edit-plans">
  <div class="">
    <MainTitle title="View Plan" :subtitle="payload.row.title">
			<div class="pull-right">
				<b-button variant="link" class="m-r-15 c-pinky-red" @click="removePlan"><i class="fa fa-times"></i> Remove Plan</b-button>
				<b-button variant="primary" @click="editPlan"><i class="fa fa-pencil"></i> Edit Plan</b-button>
			</div>
		</MainTitle>

    <b-row>
			<FullCard>
				<HeaderTitle title="View Plan" :subtitle="payload.row.title" :titleright="getCurrency+payload.row.price+'/year'" />
        <p>{{ payload.row.description }}</p>

        <h4 class="m-t-30">Plan Settings</h4>
				<hr class="m-t-0">
				<div class="row">
					<div class="col-md-4">
						<h5 class="text-muted">Basic Price</h5>
						<p>{{getCurrency+payload.row.price+' / year'}}</p>
					</div>
					<!-- <div class="col-md-4">
						<h5 class="text-muted">Cancellation Notice</h5>
						<p>30 Days</p>
					</div> -->
					<div class="col-md-4">
						<h5 class="text-muted">Minimum Commitment</h5>
						<p>12 Months</p>
					</div>
				</div>
      </FullCard>
    </b-row>

    <b-button variant="link" class="m-r-15 c-blue" @click="$router.go(-1)"><i class="fa fa-chevron-left"></i> Back</b-button>
  </div>
</template>

<script type="text/javascript">
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle.vue'
import FullCard from '~/components/FullCard.vue'
import HeaderTitle from '~/components/HeaderTitle.vue'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: () => ({
    payload: {}
  }),
  computed: {
    base_url() {
      return this.$route.path
    },
    getCurrency() {
      return this.$store.getters.getCurrency
    }
  },
  created() {
    this.payload = this.$store.state.plans.plan
  },
  methods: {
    editPlan() {
      this.$router.push(`${this.base_url}/edit`)
    },
    removePlan() {
      if (!confirm('Are you sure?')) return
      this.payload.level = 1
      this.$store.dispatch('removePlan', this.payload)
    }
  }
}
</script>
