<template lang="html">
  <div class="">
      <MainTitle :title="`${wellness.title} hosted by ${wellness.host}`" />
    <b-row>
      <FullCard type="card-feed">
        <HeaderTitle subtitle="Add New Attendee" />
        <form
          class="row p-lr-20"
          @submit.prevent="addAttendee">
          <div class="form-group col-sm-6 col-md-3">
            <label for="name">Attendee Name</label>
            <multiselect v-model="client_id" searchable :custom-label="fullName" :show-labels="false" track-by="id" :options="members" placeholder="Choose a member" />
          </div>
          <div class="form-group pull-left m-l-10">
            <label for="">&nbsp;</label>
            <b-button
              type="submit"
              class="form-control dashed"
              variant="primary">Add to Attendee List</b-button>
          </div>
        </form>
        <div class="table-responsive">
          <vue-good-table
            :columns="columns"
            :rows="attendees"
            style-class="feed table table-hover table-striped m-0">
            <template
              slot="table-row"
              slot-scope="props">
              <span v-if="props.column.field === 'actions'">

                <b-button
                  variant="link"
                  class="c-pinky-red"
                  @click="removeAttendee(props)">
                  <i class="fa fa-fw fa-times c-pinky-red"/> Remove
                </b-button>
              </span>
              <p v-else>
                {{ props.formattedRow[props.column.field] }}
              </p>
            </template>
          </vue-good-table>
        </div>
      </FullCard>
    </b-row>
    <b-button
      variant="link"
      class="m-r-15 c-blue"
      @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  async asyncData({ app, store, route }) {
    await store.dispatch('getAllMembers', store.getters.getCurrentSpaceId)

    let wellness = {}

    await app.$devless
      .queryData('core', 'wellness_sessions', {
        where: `id,${route.params.id}`
      })
      .then(res => {
        if (res.payload.results.length > 0) {
          wellness = res.payload.results[0]
        }
      })

    return await app.$devless
      .queryData('core', 'wellness_bookings', {
        where: [
          `core_wellness_sessions_id,${route.params.id}`,
          `date,${route.query.date}`
        ],
        related: '*'
      })
      .then(res => {
        if (res.status_code === 625) {
          let attendees = _.map(res.payload.results, o => {
            let obj = o.related._devless_users[0]
            obj.bId = o.id
            return obj
          })

          return {
            attendees,
            wellness
          }
        }
        this.$toast.error('Error Retrieving Wellness Attendees. Try Again ...')
      })
  },
  data: () => ({
    columns: [
      {
        label: 'Attendee Name',
        field: row => {
          return `${row.first_name} ${row.last_name}`
        }
      },
      {
        label: 'Email',
        field: 'email'
      },
      {
        label: 'Phone Number',
        field: 'phone_number'
      },
      {
        label: '',
        field: 'actions'
      }
    ],
    attendees: [],
    client_id: ''
  }),
  computed: {
    ...mapState({
      anyData: state => state.anyData,
      members: state => state.members.data
    })
  },
  methods: {
    fullName({ first_name, last_name }) {
      return `${first_name} ${last_name}`
    },
    async getAttendees() {
      let id = this.$route.params.id

      await this.$devless
        .queryData('core', 'wellness_bookings', {
          where: [
            `core_wellness_sessions_id,${id}`,
            `date,${this.$route.query.date}`
          ],
          related: '_devless_users'
        })
        .then(res => {
          if (res.status_code === 625) {
            this.attendees = _.map(res.payload.results, o => {
              let obj = o.related._devless_users[0]
              obj.bId = o.id
              return obj
            })
            return
          }
          this.$toast.error(
            'Error Retrieving Wellness Attendees. Try Again ...'
          )
        })
    },
    async removeAttendee(props) {
      console.log(props)
      if (!confirm('Are you sure?')) return

      await this.$store
        .dispatch('superApi', {
          table: 'core_wellness_bookings',
          action: 'destroy',
          queries: [{ where: ['id', props.row.bId] }]
        })
        .then(res => {
          if (res.status_code === 1000) {
            this.attendees.splice(props.index, 1)
            this.$toast.success('Attendee Removed Successfully')
            return
          }
          this.$toast.error('Error Removing Attendee. Try Again ...')
        })
    },
    async addAttendee(member) {
      // this.$store.commit('CHANGE_LOADING')
      await this.$devless
        .call('core', 'bookAWellnessSession', [
          {
            session_id: this.$route.params.id,
            date: this.$route.query.date,
            time: this.$route.query.time,
            client_id: this.client_id.id
          }
        ])
        .then(res => {
          // this.$store.commit('CHANGE_LOADING')
          if (res.status_code === 1000) {
            this.getAttendees()
            this.$toast.success('Attendee Added Successfully')
            return
          }
          this.$toast.error('Error Adding Attendee. Try Again ...')
        })
    }
  }
}
</script>

<style lang="css">
</style>
