<template lang="wellnes-add">
  <div class="">
    <div class="">
      <b-form @submit.prevent="updateWellness">
        <MainTitle title="Edit Wellness">
          <div class="pull-right">
            <b-button type="submit" variant="primary" :disabled="loading">
              Update Wellness
            </b-button>
          </div>
        </MainTitle>
        <b-row>
          <FullCard cols="12" type="card-feed">
            <HeaderTitle subtitle="Wellness Details" />
            <div class="row p-lr-20">
              <div class="col-md-6">
                <div class="row">
                  <b-form-group label="Name" label-for="title" class="col-md-12">
                    <b-form-input id="title" type="text" class="form-control" placeholder="Name of Wellness" v-model="wellness.row.title" />
                  </b-form-group>
                  <b-form-group label="Price per session" label-for="price_per_hour" class="col-md-9">
                    <b-form-input id="price_per_hour" type="number" step="0.01" class="form-control" placeholder="0.00" v-model="wellness.row.price" />
                  </b-form-group>
                  <b-form-group label="Currency" label-for="currency" class="col-md-3">
                    <b-form-input :value="$store.getters.getCurrency" id="currency" class="form-control" readonly />
                  </b-form-group>
                  <b-form-group label="Description" label-for="description" class="col-md-12">
                    <b-form-textarea placeholder="Add details about this resource" rows="5" class="form-control" v-model="wellness.row.description" />
                  </b-form-group>
                  <b-form-group label="Location" label-for="location" class="col-md-12">
                    <b-form-input id="location" type="text" class="form-control" placeholder="Wellness Room 1" v-model="wellness.row.location" />
                  </b-form-group>
                  <b-form-group label="Category" label-for="category" class="col-md-12">
                    <b-form-select v-model="wellness.row.core_wellness_categories_id">
                      <option :value="cat.id" v-for="(cat, i) in categories" :key="i">{{ cat.category}}</option>
                    </b-form-select>
                  </b-form-group>
                  <div class="clearfix"></div>
                  <div class="col-md-3">
                    <img :src="(image) ? image : wellness.row.images[0]" class="img-responsive" alt="">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <b-form-group label="Host" label-for="host" class="col-md-12">
                    <b-form-input id="host" type="text" class="form-control" placeholder="Name of Host" v-model="wellness.row.host" />
                  </b-form-group>
                  <b-form-group label="Duration" label-for="duration" class="col-md-12">
                    <b-form-input id="duration" type="text" class="form-control" placeholder="30 mins" v-model="wellness.row.duration" />
                  </b-form-group>
                  <h5 class="col-md-12"><span style="text-decoration: underline;">Slots</span> <b-button variant="link" @click="addSlot">Add Slot</b-button> </h5>
                  <div v-for="(sl, i) in wellness.row.slots" :key="i" v-if="typeof(wellness.row.slots) == 'object'">
                    <b-form-group label="Date" label-for="date" class="col-md-4">
                      <!-- <b-form-input v-model="sl.date" id="date" type="date" class="form-control" /> -->
                      <date-picker v-model="sl.date" width="100%" input-class="form-control" lang="en"
                        value-type="format" confirm id="date"
                      type="date" format="DD/MM/YYYY" placeholder="01/01/2019">
                        <template slot="calendar-icon">
                          <i></i>
                        </template>
                      </date-picker>
                    </b-form-group>
                    <b-form-group label="Time" label-for="time" class="col-md-3">
                      <!-- <b-form-input id="time" type="time" class="form-control" v-model="sl.time" /> -->
                      <date-picker v-model="sl.time" width="100%" input-class="form-control" lang="en"
                        value-type="format" confirm id="time"
                      type="time" format="HH:mm" placeholder="00:00">
                        <template slot="calendar-icon">
                          <i></i>
                        </template>
                      </date-picker>
                    </b-form-group>
                    <b-form-group label="Capacity" label-for="capacity" class="col-md-3">
                      <b-form-input id="capacity" type="number" class="form-control" placeholder="1" v-model="sl.capacity" />
                    </b-form-group>
                    <b-form-group label="Remove" label-for="remove" class="col-md-2" v-if="i !== 0">
                      <b-button id="remove" variant="danger" @click="removeSlot(i)"><i class="fa fa-close"></i></b-button>
                    </b-form-group>
                  </div>
                </div>
              </div>
            </div>
            <UploadButton v-model="image" name="wellness_image" />
          </FullCard>
        </b-row>
      </b-form>
      <b-button variant="link" class="m-r-15 c-blue" @click="$router.go(-1)">
        <i class="fa fa-chevron-left"></i>
        Back
      </b-button>
    </div>
  </div>
</template>

<script>
import MainTitle from '~/components/MainTitle.vue'
import FullCard from '~/components/FullCard.vue'
import HeaderTitle from '~/components/HeaderTitle'
import UploadButton from '~/components/UploadButton'
import { mapState } from 'vuex'

export default {
  async asyncData({ store, route, app }) {
    // await store.dispatch('getSingleWellness', [`id,${route.params.id}`])
    await store.dispatch('getWellnessCategories')

    return await app.$devless
      .queryData('core', 'wellness_sessions', {
        where: `id,${route.params.id}`
      })
      .then(res => {
        if (res.payload.results.length > 0) {
          let wellness = res.payload.results[0]
          wellness.images = JSON.parse(wellness.images)
          wellness.slots = JSON.parse(wellness.slots)
          return {
            wellness: {
              row: wellness
            }
          }
        }
        route.push(store.state.base_url + '/wellness')
      })
  },
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle,
    UploadButton
  },
  data: () => ({
    ready: false,
    image: undefined
  }),
  computed: {
    ...mapState({
      current_space: state => state.current_space,
      loading: state => state.loading,
      categories: state => state.wellness.categories
      // wellness: state => state.wellness.wellness
    })
  },
  methods: {
    addSlot() {
      this.wellness.row.slots.push({ date: '', time: '', capacity: '' })
    },
    removeSlot(i) {
      this.wellness.row.slots.splice(i, 1)
    },
    async updateWellness() {
      if (this.image) {
        if (
          !(this.wellness.row.images[0] = await this.$store.dispatch(
            'uploadImage',
            {
              base64: this.image
            }
          ))
        )
          return
      }

      let wellness = {
        title: this.wellness.row.title,
        description: this.wellness.row.description,
        duration: this.wellness.row.duration,
        host: this.wellness.row.host,
        location: this.wellness.row.location,
        price: this.wellness.row.price,
        images: this.wellness.row.images,
        slots: this.wellness.row.slots,
        core_wellness_categories_id: this.wellness.row
          .core_wellness_categories_id
      }

      wellness.slots = JSON.stringify(wellness.slots)
      wellness.images = JSON.stringify(wellness.images)

      this.$store.commit('CHANGE_LOADING', true)

      await this.$devless
        .updateData(
          'core',
          'wellness_sessions',
          'id',
          this.wellness.row.id,
          wellness
        )
        .then(res => {
          this.$store.commit('CHANGE_LOADING', false)
          if (res.status_code === 619) {
            this.$router.go(-1)
            this.$toast.success('Wellness Updated Successfully')
            return
          }
          this.$toast.error('Error Updating Wellness')
        })
    }
  }
}
</script>

<style lang="css">
</style>
