<template lang="html">
  <div class="">
    <MainTitle
      :subtitle="members.length + ' Profiles'"
      title="Community Directory">
      <TopSearchMore
        v-model="searchTerm"
        shclass="pull-right" />
    </MainTitle>
    <div
      class="row flex-wrap">
      <ThumbCard
        v-for="(member, i) in members"
        :data="member"
        :key="i"
        :profile_pic="(member.profile_pic) ? member.profile_pic : '/images/users/avatar-1.jpg'"
        :name="`${member.first_name} ${member.last_name}`"
        :company="member.company"
        :status="checkMembership(member.last_membership_payment)"
        :thumbCol="member.check_in ? 'green' : 'red'"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle.vue'
import TopSearchMore from '~/components/TopSearchMore.vue'
import ThumbCard from '~/components/ThumbCard.vue'
import DirectoryLoader from '~/components/DirectoryLoader'

export default {
  async asyncData({ store }) {
    await store.dispatch('getAllMembers', store.state.current_space.id)
  },
  layout: 'dashboard',
  components: {
    MainTitle,
    TopSearchMore,
    ThumbCard,
    DirectoryLoader
  },
  data: () => ({
    searchTerm: '',
    allMembers: undefined
  }),
  computed: {
    ...mapState({
      loading: state => state.loading,
      members: state => state.members.data,
      current_space: state => state.current_space
    }),
    searchResults() {
      if (this.searchTerm === '') return this.members

      return []
    }
  },
  watch: {
    searchTerm: function() {
      if (this.searchTerm === ' ') return this.allMembers

      this.filterResults()
    }
  },
  created() {
    // let token = this.$auth.$storage.getUniversal('token', false)
    // this.$devless.setToken(token)
    //
    // this.$
  },
  methods: {
    checkMembership(date) {
      let today = this.$moment()
      let timeDiff = today.diff(this.$moment(date * 1000), 'days')
      if (timeDiff > 365) {
        return 'expired'
      }
    },
    filterResults() {
      if (!this.allMembers) {
        this.allMembers = this.members
      }

      const searchTerm = this.searchTerm.toLowerCase()
      let result = Object.freeze(this.allMembers)

      if (searchTerm) {
        result = result.filter(member => {
          let fullname = `${member.first_name.toLowerCase()} ${member.last_name.toLowerCase()}`
          return (
            // You could potentially search more than just the title and
            // description, but this should do
            fullname.search(searchTerm) >= 0 ||
            member.company.toLowerCase().search(searchTerm) >= 0
          )
        })
      }

      this.$store.commit('SET_MEMBERS', result)
    }
  }
}
</script>

<style lang="css">
</style>
