<template id="edit-tags">
  <div class="">
    <b-form @submit.prevent="updateTag">
    <MainTitle title="Edit Tag">
			<div class="pull-right">
				<b-button type="submit" variant="primary">Update Tag</b-button>
			</div>
		</MainTitle>
    <b-row>
			<FullCard cols="6">
				<HeaderTitle subtitle="Edit Tag" />
        <b-form-group id="tags_title"
              label="Label:"
              label-for="tags_title">
          <b-form-input id="tags_title"
            v-model="current_tag.row.label"
            type="text"
            placeholder="Add label"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group id="description"
            label="Description:"
            label-for="description">
          <b-form-textarea id="description"
            v-model="current_tag.row.description"
              placeholder="Description about this label"
              required>
          </b-form-textarea>
        </b-form-group>
      </FullCard>
      </b-row>
    </b-form>
    <b-button variant="link" class="m-r-15 c-blue" @click="$router.go(-1)"><i class="fa fa-chevron-left"></i> Back</b-button>
  </div>
</template>

<script type="text/javascript">
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'
import { mapState } from 'vuex'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: () => ({
    plan: {}
  }),
  computed: {
    ...mapState({
      current_tag: state => state.tags.current_tag
    })
  },
  methods: {
    updateTag() {
      this.$store.dispatch('updateTag', this.current_tag)
    }
  }
}
</script>
