<template>
  <div>
    <b-form @submit.prevent="addEvent">
    <MainTitle title="Add New Event">
			<div class="pull-right">
				<b-button type="submit" variant="primary" :disabled="loading"
        >Add Event</b-button>
			</div>
		</MainTitle>

    <b-row>
			<FullCard type="card-feed">
				<HeaderTitle subtitle="Event Details" />
        <div class="row p-lr-20">
        <div class="col-md-6">
        	<div class="row">
            <div class="form-group col-md-6">
        		   <label for="title">Event Title</label>
        		   <input v-model="event.title" type="text" class="form-control" id="title" placeholder="Awesome Co" required>
        		</div>
            <div class="form-group col-md-6">
        		   <label for="capacity">Capacity</label>
        		   <input v-model="event.number_of_tickets" type="number" class="form-control" id="capacity" placeholder="0" required>
        		</div>
            <div class="form-group col-md-12">
        		   <label for="">Event Description</label>
        		   <textarea  v-model="event.description" class="form-control" placeholder="Add details about the event" rows="5" required></textarea>
        		</div>
            <div class="form-group col-md-6">
        		   <label for="">Start Date</label>
               <date-picker v-model="event.date" width="100%" input-class="form-control" lang="en"
                 value-type="format" confirm
               type="date" format="DD/MM/YYYY" placeholder="Event Start Date">
               <template slot="calendar-icon" >
                 <i></i>
               </template>
               </date-picker>
        		   <!-- <input v-model="event.date" type="date" class="form-control" required> -->
        		</div>
            <div class="form-group col-md-6">
        		   <label for="">Start Time</label>
               <date-picker v-model="event.time" width="100%" input-class="form-control" lang="en"
                 value-type="format" confirm
               type="time" format="HH:mm" placeholder="Select Time">
                 <template slot="calendar-icon" >
                   <i></i>
                 </template>
               </date-picker>
        		   <!-- <input v-model="event.time" type="time" class="form-control" id="" required> -->
        		</div>
            <div class="form-group col-md-6">
        		   <label for="">End Date</label>
               <date-picker v-model="event.end_date" width="100%" input-class="form-control" lang="en"
                 value-type="format" confirm
               type="date" format="DD/MM/YYYY" placeholder="Event Start Date">
               <template slot="calendar-icon" >
                 <i></i>
               </template>
               </date-picker>
        		   <!-- <input v-model="event.end_date" type="date" class="form-control" required> -->
        		</div>
        		<div class="form-group col-md-6">
        		   <label for="">End Time</label>
               <date-picker v-model="event.end_time" width="100%" input-class="form-control" lang="en"
                 value-type="format" confirm
               type="time" format="HH:mm" placeholder="Select Time">
                 <template slot="calendar-icon" >
                   <i></i>
                 </template>
               </date-picker>
        		   <!-- <input v-model="event.end_time" type="time" class="form-control" required> -->
        		</div>
        		<div class="form-group col-md-6">
        		   <label for="">Price</label>
        		   <input v-model="event.price" type="number" step="0.01" class="form-control" placeholder="0" required>
        		</div>
            <div class="form-group col-md-6">
              <label for="">Host Logo</label>
              <input type="file" @change="getBase64($event, 'host')" class="form-control" accept=".jpg, .png" required />
            </div>
          </div>
        </div>
        <div class="col-md-6">
        	<div class="row">
            <div class="form-group col-md-6">
      		   	<label for="title">Event Category <nuxt-link :to="base_url + '/categories'">Add Categories</nuxt-link></label>
      		   	<select class="form-control" placeholder="Select Category" v-model="event.core_event_categories_id">
                <option
                  value=""
                  disabled>Select category</option>
                <option
                  v-for="(category, i) in categories"
                  :value="category.id"
                  :key="i">{{ category.name }}</option>
              </select>
        		</div>
            <div class="form-group col-md-6">
      		   	<label for="title">Organiser</label>
              <b-form-select
                v-model="event.members_only"
                :options="organizers" />
        		</div>
            <div class="form-group col-md-6">
              <p for="title">Location</p>
              <b-form-checkbox-group
                id="venue"
                v-model="venue"
                name="venue">
                <b-form-checkbox
                  class="checkbox-inline"
                  v-for="(venue, i) in rooms"
                  :key="i"
                  :value="venue.name">{{ venue.name }}</b-form-checkbox>
              </b-form-checkbox-group>
            </div>
            <div class="col-md-12 m-t-20">
        		   <h5>Attendee Email</h5>
        		   <p class="text-muted">Attendees will be sent emails as below if you fill out the fields below</p>
        		</div>
        		<div class="form-group col-md-6">
        		   <label for="">Email Subject</label>
        		   <input v-model="event.email_subject" type="text" class="form-control" id="" placeholder="Add Subject of Email" required>
        		</div>
        		<div class="form-group col-md-12">
        		   <label for="">Message</label>
        		   <textarea v-model="event.email_content" class="form-control" placeholder="Add details about the event" rows="5" required></textarea>
        		</div>
          </div>
        </div>
      </div>
      <div class="upload-btn-wrapper p-lr-20 mr-t-30 bg-light-blue">
        <button class="btn"><i class="fa fa-paperclip"></i> {{ filename }}</button>
        <input type="file" accept="image/*" required
        @change="getBase64">
      </div>
      </FullCard>
      </b-row>
      </b-form>
    <b-button variant="link" class="m-r-15 c-blue" @click="$router.go(-1)"><i class="fa fa-chevron-left"></i> Back</b-button>
  </div>
</template>

<script>
import MainTitle from '~/components/MainTitle.vue'
import FullCard from '~/components/FullCard.vue'
import HeaderTitle from '~/components/HeaderTitle.vue'
import { mapState } from 'vuex'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: function() {
    return {
      file: undefined,
      image: undefined,
      filename: 'Upload event image (< 1MB) & size 800 x 530',
      venue: [],
      event: {
        members_only: 0,
        venue: '',
        date: '',
        time: '',
        core_workspace_id: undefined,
        number_of_tickets: '',
        price: '',
        description: '',
        title: '',
        images: [],
        core_event_categories_id: '',
        end_date: '',
        end_time: '',
        email_subject: '',
        email_content: '',
        host_img: ''
      },
      organizers: [
        { value: null, text: 'Internal' },
        { value: 1, text: 'External' }
      ]
    }
  },
  computed: {
    ...mapState({
      loading: state => state.loading,
      rooms: state => state.rooms.rooms,
      current_space: state => state.current_space,
      categories: state => state.events.categories,
      base_url: state => state.base_url + '/events'
    })
  },
  mounted() {
    this.$store.dispatch('fetchCategories')
    this.$store.dispatch('fetchRooms', this.current_space.id)
  },
  methods: {
    getBase64(e, key = 'image') {
      let input = event.target
      if (input.files && input.files[0]) {
        let reader = new FileReader()
        reader.onload = e => {
          if (key !== 'host') {
            this.filename = input.files[0].name
            this.image = e.target.result
          } else {
            this.file = e.target.result
          }
        }

        reader.readAsDataURL(input.files[0])
      }
    },
    async addEvent() {
      this.event.core_workspace_id = this.current_space.id

      if (!this.image) {
        this.$toast.error('Please provide an image')
        return
      }

      if (this.venue.length > 0) {
        this.event.venue = _.map(this.venue).join(', ')
      }

      if (
        !this.event.images.push(
          await this.$store.dispatch('uploadImage', {
            base64: this.image
          })
        )
      )
        return

      if (this.file) {
        this.event.host_img = await this.$store.dispatch('uploadImage', {
          base64: this.file
        })
      } else {
        this.$toast.error('An Image of the Logo Is Required...')
        return
      }

      this.event.images = JSON.stringify(this.event.images)
      this.event.date = this.$moment(this.event.date).format('DD/MM/YYYY')
      this.event.end_date = this.$moment(this.event.end_date).format(
        'DD/MM/YYYY'
      )

      this.$store.dispatch('addEvent', this.event)
    }
  }
}
</script>

<style>
</style>
