<template>
  <div>
    <MainTitle title="Add New Categories" />

    <b-row>
      <FullCard type="card-feed">
        <HeaderTitle subtitle="New Category" />
        <form
          class="row p-lr-20"
          @submit.prevent="addCategories">
          <div class="form-group col-sm-6 col-md-3">
            <label for="name">Name</label>
            <input
              id="name"
              v-model="category.name"
              type="text"
              class="form-control"
              placeholder="Name of Category">
          </div>
          <div class="form-group col-sm-6 col-md-4">
            <label for="description">Description</label>
            <input
              id="description"
              v-model="category.description"
              type="text"
              class="form-control"
              placeholder="Brief description about this category">
          </div>
          <div class="form-group pull-left m-l-10">
            <label for="">&nbsp;</label>
            <b-button
              type="submit"
              class="form-control dashed"
              variant="primary">Add This Category</b-button>
          </div>
        </form>
        <div class="table-responsive m-t-40">
          <table class="feed table table-hover table-striped m-0">
            <tbody>
              <tr
                v-for="(category, i) in categories"
                :key="i">
                <td><i
                  :style="{color: `${category.bg_color}`}"
                  class="mdi mdi-record"/> {{ category.name }}</td>
                <td>{{ category. description }}</td>
                <td><b-button
                  variant="link"
                  class="m-r-15 c-pinky-red"
                  @click="deleteCategory(i)"><i class="fa fa-times c-pinky-red"/> Remove</b-button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <b-alert
          class="m-lr-20 m-t-20"
          variant="info"
          show><i class="fa fa-lightbulb-o"/> Categories are color coded to make them easier to spot events in the calendar</b-alert>
      </FullCard>
    </b-row>
    <b-button
      variant="link"
      class="m-r-15 c-blue"
      @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script>
import MainTitle from '~/components/MainTitle.vue'
import FullCard from '~/components/FullCard.vue'
import HeaderTitle from '~/components/HeaderTitle.vue'
import { mapState } from 'vuex'
import randomColor from 'randomcolor'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: () => ({
    category: {
      name: '',
      description: '',
      bg_color: ''
    }
  }),
  computed: {
    ...mapState({
      categories: state => state.events.categories
    })
  },
  mounted() {
    this.$store.dispatch('fetchCategories')
  },
  methods: {
    addCategories() {
      this.category.bg_color = randomColor()

      this.$store.dispatch('addCategory', this.category)
    },
    deleteCategory(index) {
      if (!confirm('Are you sure?')) return

      this.$store.dispatch('deleteCategory', index)
    },
    randomColor() {
      let letters = '0123456789ABCDEF'
      let color = '#'
      for (let i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)]
      }
      return color
    }
  }
}
</script>

<style>
</style>
