<template lang="html">
  <div class="">
    <MainTitle
      :subtitle="month"
      title="Events Calendar">
      <div class="pull-right">
        <b-button
          variant="primary"
          @click="$router.push(base_url + '/add')"> Add Event</b-button>
      </div>
    </MainTitle>
    <div class="btn-group sh-btn-grp">
      <a
        :class="{'text-dark': view == 'week' }"
        class="btn btn-default waves-effect"
        @click="changeView('week')">Week</a>
      <a
        :class="{'text-dark': view == 'month' }"
        class="btn btn-default waves-effect"
        @click="changeView('month')">Month</a>
    </div>
    <div class="btn-group sh-btn-grp pull-right" @click="onClickNavi($event)">
      <a
        class="btn btn-default waves-effect pd-lr-10"
        data-action="move-prev"><i class="fa fa-angle-left"/></a>
      <a class="btn btn-default waves-effect text-dark">{{ month }}</a>
      <a
        class="btn btn-default waves-effect pd-lr-10"
        data-action="move-next"><i class="fa fa-angle-right"/></a>
    </div>
    <b-row>
      <FullCard type="pd-0">
        <calendar
          ref="tuiCalendar"
          :schedules="schedules"
          style="height: 800px;"
          :view="view"
          :taskView="false"
          :scheduleView="true"
          :useDetailPopup="false"
          :disableDblClick="true"
          :disable-click="true"
          :usageStatistics="false"
          @clickSchedule="onClickSchedule"
        />
      </FullCard>
    </b-row>
    <Modal>
      <h4 v-if="schedule">{{ schedule.title }}</h4>
      <p
        v-if="schedule"
        class="text-muted">{{ $moment(schedule.start._date).format('MMMM D YYYY, hh:mm A') }} – {{ $moment(schedule.end._date).format('hh:mm A') }}  •  {{ schedule.raw.venue }}  •  {{ getDuration }} Hour(s)</p>
      <p v-if="schedule">{{ schedule.raw.description }}</p>
      <p v-if="schedule">Price: {{ schedule.raw.price }} {{ $store.state.current_space.currency.toUpperCase() }} </p>
      <hr>
      <template slot="footer">
        <b-button
          variant="primary"
          @click="editEvent">Edit Event</b-button>
        <b-button
          variant="link"
          class="mr-l-30"
          @click="goAttendees"><i class="fa fa-file-o"/> View Attendees</b-button>
        <b-button
          variant="link"
          class="c-red pull-right"
          style="padding-top: 5px"
          @click="removeEvent"><i class="fa fa-trash"/> Cancel Event</b-button>
      </template>
    </Modal>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle.vue'
import FullCard from '~/components/FullCard.vue'
import Modal from '~/components/Modal.vue'
import 'fullcalendar/dist/fullcalendar.min.css'

import moment from 'moment'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    Modal
  },
  async asyncData({ store, error }) {
    try {
      return await store
        .dispatch('fetchEvents', store.state.current_space.id)
        .then(res => {
          let schedules = _.map(res, (v, i) => {
            let color = v.related.event_categories[0].bg_color

            return {
              id: v.id,
              start: `${moment(v.date, 'DD/MM/YYYY').format('YYYY-MM-DD')} ${
                v.time
              }`,
              category: 'time',
              end: `${moment(v.end_date, 'DD/MM/YYYY').format('YYYY-MM-DD')} ${
                v.end_time
              }`,
              title: v.title,
              raw: {
                ...v
              },
              bgColor: `${color}1A`,
              borderColor: color
            }
          })

          return {
            schedules
          }
        })
    } catch (e) {
      error({ statusCode: 400, message: e.message })
    }
  },
  data: () => ({
    month: '',
    view: 'month',
    schedules: [],
    scheduleView: ['time'],
    schedule: undefined,
    getDuration: ''
  }),
  computed: {
    ...mapState({
      base_url: state => state.base_url + '/events',
      current_space: state => state.current_space
    })
  },
  async mounted() {
    this.init()
  },
  methods: {
    changeView(view) {
      this.view = view

      this.setRenderRangeText(view)
    },
    onClickNavi(event) {
      if (event.target.tagName === 'A') {
        const { target } = event
        let action = target.dataset
          ? target.dataset.action
          : target.getAttribute('data-action')

        action = action.replace('move-', '')
        this.$refs.tuiCalendar.invoke(action)
        if (target.dataset.action !== 'move-today') {
          this.setRenderRangeText()
        }
      }
    },
    init() {
      this.setRenderRangeText()
    },
    setRenderRangeText(data = null) {
      const { invoke } = this.$refs.tuiCalendar
      const view = data ? data : invoke('getViewName')
      const calDate = invoke('getDate')
      const rangeStart = invoke('getDateRangeStart')
      const rangeEnd = invoke('getDateRangeEnd')
      let year = calDate.getFullYear()
      let month = calDate.getMonth() + 1
      let date = calDate.getDate()
      let dateRangeText = ''
      let endMonth, endDate, start, end
      switch (view) {
        case 'month':
          dateRangeText = `${year}-${month}`
          break
        case 'week':
          year = rangeStart.getFullYear()
          month = rangeStart.getMonth() + 1
          date = rangeStart.getDate()
          endMonth = rangeEnd.getMonth() + 1
          endDate = rangeEnd.getDate()
          start = `${year}-${month}-${date}`
          end = `${endMonth}-${endDate}`
          dateRangeText = `${start} ~ ${end}`
          break
        default:
          dateRangeText = `${year}-${month}-${date}`
      }
      this.month = dateRangeText
    },
    onClickSchedule(e) {
      this.schedule = e.schedule
      this.setDuration()
      $('#myModal').modal('show')
    },
    setDuration() {
      let timeDiff = this.$moment(this.schedule.end._date).diff(
        this.schedule.start._date
      )
      this.getDuration = _.round(this.$moment.duration(timeDiff).asHours(), 2)
    },
    editEvent() {
      $('#myModal').modal('hide')
      let routelink = this.base_url + '/' + this.schedule.id
      this.$store.dispatch('setSchedule', {
        data: this.schedule,
        route: routelink
      })
    },
    async removeEvent() {
      if (!confirm('Are you sure you cancel this event?')) return
      $('#myModal').modal('hide')
      if (await this.$store.dispatch('deleteEvent', this.schedule)) {
        location.reload()
      }
    },
    goAttendees() {
      $('#myModal').modal('hide')
      let routelink = this.base_url + '/' + this.schedule.id + '/attendees'
      this.$store.dispatch('setSchedule', {
        data: this.schedule,
        route: routelink
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
