<template>
  <div>
    <MainTitle
      :subtitle="month"
      title="Events Calendar">
      <div class="pull-right">
        <b-button
          variant="primary"
          @click="$router.push(base_url + '/add')"> Add Event</b-button>
      </div>
    </MainTitle>
    <div class="btn-group sh-btn-grp">
       <a class="btn btn-default waves-effect" :class="{'text-dark': current_view === 'month' }"  @click="changeView('month')">Month</a>
       <a class="btn btn-default waves-effect" :class="{'text-dark': current_view === 'agendaWeek' }" @click="changeView('agendaWeek')">Week</a>
    </div>
      <div class="btn-group sh-btn-grp pull-right">
         <a class="btn btn-default waves-effect pd-lr-10" @click="navigateToNextOrPrev('prev')"><i class="fa fa-angle-left"></i></a>
         <a class="btn btn-default waves-effect text-dark">{{ month }}</a>
         <a class="btn btn-default waves-effect pd-lr-10" @click="navigateToNextOrPrev('next')"><i class="fa fa-angle-right"></i></a>
      </div>
    <b-row>
      <FullCard type="pd-0">
        <full-calendar :events="schedules" :config="config" ref="calendar" @event-selected="handleClickSchedule"></full-calendar>
      </FullCard>
    </b-row>
    <Modal>
      <h4 v-if="schedule">{{ schedule.title }}</h4>
      <p
        v-if="schedule"
        class="text-muted">{{ $moment(schedule.start).format('MMMM D YYYY, hh:mm A') }} – {{ $moment(schedule.end).format('hh:mm A') }}  •  {{ schedule.location }}  •  {{ getDuration }} Hour(s)</p>
      <p v-if="schedule">{{ schedule.raw.description }}</p>
      <p v-if="schedule">Price: {{ schedule.raw.price }} {{ $store.state.current_space.currency.toUpperCase() }} </p>
      <hr>
      <template slot="footer">
        <b-button
          variant="primary"
          @click="editEvent">Edit Event</b-button>
        <b-button
          variant="link"
          class="mr-l-30"
          @click="goAttendees"><i class="fa fa-file-o"/> View Attendees</b-button>
        <b-button
          variant="link"
          class="c-red pull-right"
          style="padding-top: 5px"
          @click="removeEvent"><i class="fa fa-trash"/> Cancel Event</b-button>
      </template>
    </Modal>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle.vue'
import FullCard from '~/components/FullCard.vue'
import Modal from '~/components/Modal.vue'
import 'fullcalendar/dist/fullcalendar.min.css'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    Modal
  },
  data() {
    return {
      month: '',
      schedules: [],
      current_view: 'month',
      config: {
        schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
        defaultView: 'month',
        firstDay: 1,
        header: false
      },
      schedule: undefined,
      getDuration: ''
    }
  },
  computed: {
    ...mapState({
      base_url: state => state.base_url + '/events',
      current_space: state => state.current_space,
      events: state => state.events.events
    })
  },
  async mounted() {
    this.getMonth()
    await this.$store
      .dispatch('fetchEvents', this.current_space.id)
      .then(res => {
        if (res) {
          this.schedulesFormat()
        }
      })
  },
  methods: {
    getMonth() {
      this.month = this.$refs.calendar.fireMethod('getView').title
    },
    changeView(view) {
      this.current_view = view
      this.$refs.calendar.fireMethod('changeView', view)
      this.getMonth()
    },
    navigateToNextOrPrev(navigate) {
      this.$refs.calendar.fireMethod(navigate)
      this.getMonth()
    },
    schedulesFormat() {
      this.schedules = _.map(this.events, (v, i) => {
        return {
          id: v.id,
          raw: {
            image: JSON.parse(v.images)[0],
            price: v.price,
            description: v.description,
            capacity: v.number_of_tickets,
            members_only: v.members_only,
            category: v.related.event_categories[0]['name']
          },
          title: v.title,
          editable: false,
          location: v.venue,
          isReadOnly: false,
          color: v.related.event_categories[0]['bg_color'],
          start: `${this.$moment(v.date, 'DD/MM/YYYY').format('YYYY-MM-DD')} ${
            v.time
          }`,
          end: `${this.$moment(v.end_date, 'DD/MM/YYYY').format(
            'YYYY-MM-DD'
          )} ${v.end_time}`,
          textColor: v.related.event_categories[0]['bg_color'],
          borderColor: v.related.event_categories[0]['bg_color'],
          backgroundColor: `${v.related.event_categories[0]['bg_color']}1A`
        }
      })
    },
    handleCreateSchedule(e) {
      this.$router.push(this.base_url + '/add')
    },
    handleClickSchedule(e) {
      this.schedule = e
      this.setDuration()
      $('#myModal').modal('show')
      // this.$refs.scheduleModal.show()
    },
    setDuration() {
      let timeDiff = this.$moment(this.schedule.end).diff(this.schedule.start)
      this.getDuration = this.$moment.duration(timeDiff).asHours()
    },
    editEvent() {
      $('#myModal').modal('hide')
      let routelink = this.base_url + '/' + this.schedule.id
      this.$store.dispatch('setSchedule', {
        data: this.schedule,
        route: routelink
      })
    },
    async removeEvent() {
      if (!confirm('Are you sure you cancel this event?')) return
      $('#myModal').modal('hide')
      if (await this.$store.dispatch('deleteEvent', this.schedule)) {
        let index = _.findIndex(this.schedules, o => {
          return o.id === this.schedule.id
        })
        this.schedules.splice(index, 1)
        this.$refs.scheduleModal.hide()
      }
    },
    goAttendees() {
      $('#myModal').modal('hide')
      let routelink = this.base_url + '/' + this.schedule.id + '/attendees'
      this.$store.dispatch('setSchedule', {
        data: this.schedule,
        route: routelink
      })
    }
  }
}
</script>

<style>
.fc th {
  border-style: none !important;
  background-color: white !important;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  float: left;
}

.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
  border-bottom: 1px solid;
  border-bottom-color: transparent !important;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #f4f4f4;
}

a.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end {
  border: unset !important;
  border-left: 2px solid !important;
}

a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end {
  border: unset !important;
  border-left: 2px solid !important;
  border-radius: 2px !important;
  padding-top: 5px;
  padding-bottom: 5px;
}
</style>
