<template lang="rooms-add">
  <div class="">
    <b-form @submit.prevent="addRoom">
      <MainTitle title="Add New Room">
      <div class="pull-right">
        <b-button type="submit" variant="primary" :disabled="loading">Add Room</b-button>
      </div>
    </MainTitle>
    <b-row>
      <FullCard cols="12" type="card-feed">
        <HeaderTitle subtitle="Room Details" />
        <div class="row p-lr-20">
          <div class="col-md-6">
            <div class="row">
              <b-form-group label="Name" label-for="title" class="col-md-12">
                <b-form-input id="title" type="text" class="form-control" placeholder="Name of Room" v-model="room.name" />
              </b-form-group>
              <b-form-group label="Price per hour" label-for="price_per_hour" class="col-md-9">
                <b-form-input id="price_per_hour" type="number" step="0.01" class="form-control" placeholder="0.00" v-model="room.price_per_hour" />
              </b-form-group>
              <b-form-group label="Currency" label-for="currency" class="col-md-3">
                <b-form-input :value="$store.getters.getCurrency" id="currency" class="form-control" readonly />
              </b-form-group>
              <b-form-group label="Description" label-for="description" class="col-md-12">
                <b-form-textarea placeholder="Add details about this room" rows="5" class="form-control" v-model="room.description" />
              </b-form-group>
              <div class="clearfix"></div>
              <div class="col-md-3">
                <img :src="(image) ? image : '/images/small/img-1.jpg'" class="img-responsive" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <b-form-group label="Amenities" label-for="amenities" class="col-md-12">
                <multiselect v-model="room.amenities" :options="options" :multiple="true" :taggable="true" @tag="addTag" tag-placeholder="Add Amenities" placeholder="Add Amenities" />
              </b-form-group>
              <b-form-group label="Number of Seats" label-for="seats" class="col-md-12">
                <b-form-input id="seats" type="number" class="form-control" placeholder="0" v-model="room.number_of_seats" />
              </b-form-group>
              <!-- <b-form-group label="Open From" label-for="open_from" class="col-md-6">
                <b-form-input id="open_from" type="time" class="form-control" placeholder="08:00" v-model="room.open_from" />
              </b-form-group>
              <b-form-group label="Open Till" label-for="open_till" class="col-md-6">
                <b-form-input id="open_till" type="time" class="form-control" placeholder="20:00" v-model="room.open_till" />
              </b-form-group> -->
              <h5 class="col-md-12"><span style="text-decoration: underline;">Available Booking Time</span> <b-button variant="link" @click="addSlot()">Add Time</b-button> </h5>
              <div class="row" v-for="(sl, i) in slots" :key="i">
                <div class="col-md-12">
                  <b-form-group label="Day" label-for="date" class="col-md-3">
                    <b-form-select v-model="sl.day" :options="days">
                      <option value="" disabled>-- Choose day --</option>
                    </b-form-select>
                  </b-form-group>
                  <b-form-group label="Open From" label-for="time" class="col-md-3">
                    <!-- <b-form-input id="time" type="time" class="form-control" v-model="sl.open_from" /> -->
                    <date-picker v-model="sl.open_from" width="100%" input-class="form-control" lang="en"
                      value-type="format" :time-picker-options="timePickerOptions"
                    type="time" format="HH:mm" placeholder="Select Time">
                      <template slot="calendar-icon" >
                        <i></i>
                      </template>
                    </date-picker>
                  </b-form-group>
                  <b-form-group label="Open Till" label-for="time" class="col-md-3">
                    <!-- <b-form-input id="time" type="time" class="form-control" v-model="sl.open_to" /> -->
                    <date-picker v-model="sl.open_to" width="100%" input-class="form-control" lang="en"
                      value-type="format" :time-picker-options="timePickerOptions"
                    type="time" format="HH:mm" placeholder="Select Time">
                      <template slot="calendar-icon" >
                        <i></i>
                      </template>
                    </date-picker>
                  </b-form-group>
                  <b-form-group label="Closed" label-for="time" class="col-md-1">
                    <b-form-checkbox id="checkbox1"
                    v-model="sl.closed"
                    :value="1"
                    :unchecked-value="null">
                  </b-form-checkbox>
                </b-form-group>
                <b-form-group label="Remove" label-for="remove" class="col-md-2" v-if="i !== 0">
                  <b-button id="remove" variant="danger" @click="removeDate(i)"><i class="fa fa-close"></i></b-button>
                </b-form-group>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="upload-btn-wrapper p-lr-20 mr-t-30 bg-light-blue">
          <button class="btn"><i class="fa fa-paperclip"></i> Upload room image</button>
          <input type="file" name="image" accept="image/*" required @change="getBase64" />
        </div> -->
        <UploadButton v-model="image" name="room_image" />
      </FullCard>
    </b-row>
    </b-form>
  </div>
</template>

<script>
import MainTitle from '~/components/MainTitle.vue'
import FullCard from '~/components/FullCard.vue'
import HeaderTitle from '~/components/HeaderTitle'
import Multiselect from 'vue-multiselect'
import UploadButton from '~/components/UploadButton'
import { mapState } from 'vuex'
import { days } from '~/static/data'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle,
    Multiselect,
    UploadButton
  },
  data: () => ({
    image: undefined,
    options: ['Projector'],
    timePickerOptions: {
      start: '00:00',
      step: '01:00',
      end: '23:00'
    },
    room: {
      images: [],
      amenities: [],
      number_of_seats: '',
      price_per_hour: '',
      description: '',
      name: '',
      core_workspace_id: ''
    },
    slots: [
      {
        core_rooms_id: '',
        open_to: '',
        open_from: '',
        day: '',
        closed: null
      }
    ],
    days: days,
    _id: undefined
  }),
  computed: {
    ...mapState({
      current_space: state => state.current_space,
      loading: state => state.loading,
      base_url: state => state.base_url + '/rooms'
    })
  },
  methods: {
    addTag(newTag) {
      this.options.push(newTag)
      this.room.amenities.push(newTag)
    },
    async saveSlots(data) {
      try {
        return await this.$devless
          .addData('core', 'room_opening_days', data)
          .then(res => {
            if (res.status_code === 609) {
              return true
            }
            this.$toast.error(
              'Error Occurred! Try Adding Available Booking Time Again'
            )
          })
      } catch (e) {
        this.$sentry.captureException(e)
      }
    },
    async addRoom() {
      this.room.core_workspace_id = this.current_space.id

      if (!this.image) {
        this.$toast.error('Please provide an image')
        return
      }

      if (
        !(this.room.images[0] = await this.$store.dispatch('uploadImage', {
          base64: this.image
        }))
      )
        return

      let room = this.room
      room.amenities = JSON.stringify(this.room.amenities)
      room.images = JSON.stringify(this.room.images)

      let res = ''

      if ((res = await this.$store.dispatch('addRoom', room))) {
        let xhrData = _.map(this.slots, v => {
          v.core_rooms_id = res
          return this.saveSlots(v)
        })

        Promise.all(xhrData)
          .catch(err => {
            this.$toast.error(
              'Error Occurred While Adding Available Booking Time. Try Again...'
            )
            this.$router.push(`${this.base_url}`)
            this.$sentry.captureException(err)
          })
          .finally(done => {
            this.$router.go(-1)
          })
      }
    },
    addSlot() {
      this.slots.push({
        core_rooms_id: '',
        open_to: '',
        open_from: '',
        day: '',
        closed: null
      })
    },
    removeDate(i) {
      this.slots.splice(i, 1)
    }
  }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css">
</style>
<style lang="css">
</style>
