<template lang="rooms">
  <div class="">
    <MainTitle title="Rooms">
      <div class="pull-right">
        <b-button
          :to="base_url + '/add'"
          variant="primary">Add Room</b-button>
      </div>
    </MainTitle>
    <b-row class="masonry">
      <FullCard type="pd-0" cols="4" v-for="(room, i) in rooms" :key="i">
        <img :src="setImage(room.images)" class="img-responsive" alt="">
        <span class="card-label label label-warning">{{ current_space.name }}</span>
        <div class="p-lr-20 m-t-20 pd-b-20">
          <HeaderTitle :subtitle="room.name" :titleright="getPrice(room.price_per_hour)" />
          <p class="text-muted m-b-20">{{ room.description }}</p>
          <p class="mr-t-40">Amenties: {{ listAmenties(room.amenities) }}</p>
          <p>Number of Seats: {{ room.number_of_seats }}</p>
          <!-- <p>Available from: Mondays - Fridays, {{ formatTime(room.open_from) }} - {{ formatTime(room.open_till) }}</p> -->
          <div class="mr-t-30">
            <b-button variant="link" class="c-blue mr-r-20" @click="editRoom(room, i)"><i class="fa fa-pencil"></i> Edit Room</b-button>
            <b-button variant="link" class="c-red" @click="deleteRoom(room, i)"><i class="fa fa-trash"></i> Delete Room</b-button>
          </div>
        </div>
      </FullCard>
    </b-row>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'

export default {
  async asyncData({ store }) {
    await store.dispatch('fetchRooms', store.state.current_space.id)
  },
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  computed: {
    ...mapState({
      base_url: state => state.base_url + '/rooms',
      rooms: state => state.rooms.rooms,
      current_space: state => state.current_space,
      loading: state => state.loading
    })
  },
  methods: {
    setImage(images) {
      if (typeof images === 'object') {
        return images[0]
      }
      return JSON.parse(images)[0]
    },
    listAmenties(amenities) {
      if (typeof amenities === 'object') {
        return amenities
      }
      return _.upperFirst(_.map(JSON.parse(amenities)).join(', '))
    },
    formatTime(time) {
      return this.$moment(time, 'HH:mm').format('h:mm A')
    },
    getPrice(price) {
      let currency = _.upperCase(this.current_space.currency)
      return `${price} ${currency} / hr`
    },
    editRoom(payload, index) {
      this.$router.push(this.$route.path + '/' + payload.id)
    },
    deleteRoom(payload, index) {
      if (!confirm('Are you sure?')) return

      let room = {
        row: payload,
        index: index
      }
      this.$store.dispatch('deleteRoom', room)
    }
  }
}
</script>

<style lang="css">
</style>
