<template id="edit-givebackoptions">
  <div class="">
    <b-form @submit.prevent="updateOption">
    <MainTitle title="Edit Option">
			<div class="pull-right">
				<b-button type="submit" variant="primary">Update Option</b-button>
			</div>
		</MainTitle>
    <b-row>
			<FullCard cols="6">
				<HeaderTitle subtitle="Edit Give Back Option" />

        <b-form-group id="givebackoptions_title"
              label="Name of Plan:"
              label-for="givebackoptions_title">
          <b-form-input id="givebackoptions_title"
            v-model="current_opt.row.title"
            type="text"
            placeholder="Add option title"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group id="description"
            label="Description:"
            label-for="description">
          <b-form-textarea id="description"
            v-model="current_opt.row.desription"
              placeholder="Description about this option"
              required>
          </b-form-textarea>
        </b-form-group>
      </FullCard>
      </b-row>
    </b-form>
    <b-button variant="link" class="m-r-15 c-blue" @click="$router.go(-1)"><i class="fa fa-chevron-left"></i> Back</b-button>
  </div>
</template>

<script type="text/javascript">
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'
import { mapState } from 'vuex'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: () => ({
    plan: {}
  }),
  computed: {
    ...mapState({
      current_opt: state => state.givebackoptions.current_opt
    })
  },
  methods: {
    updateOption() {
      this.$store.dispatch('updateOption', this.current_opt)
    }
  }
}
</script>
