<template lang="html">
  <div class="">
    <MainTitle title="Event Attendees">
      <div class="pull-right">
        <form class="form-inline" action="index.html" method="post">

          <div class="input-group top-search">
            <span class="input-group-btn">
              <button
              type="button"
              class="btn btn-icon"><i class="fa fa-search"/></button>
            </span>
            <input
            id="example-input3-group2"
             v-model="search"
            type="text"
            name="example-input3-group2"
            class="form-control"
            placeholder="Search">
            <span class="input-group-btn">
              <button
              type="button"
              class="btn bg-charcoal-grey txt-light"
              @click="resetSearch">Clear</button>
            </span>
          </div>
        </form>
        <!-- <form class="form-inline" action="index.html" method="post">
          <div class="form-group">
            <input type="text" name="search" id="search" v-model="search" style="width: 300px;" class="form-control" placeholder="Search...">
          </div>
        </form> -->
       </div>
    </MainTitle>
    <b-row>
      <TheWidget
        :value="totalTickets"
        text="# of Tickets Purchased" />
        <TheWidget
          :value="totalAmount | currency"
          text="# of Tickets Purchased" />
    </b-row>

    <b-row>
      <FullCard type="card-feed">
        <HeaderTitle subtitle="Add New Attendee" />
        <form
          class="row p-lr-20"
          @submit.prevent="addAttendee">
          <div class="form-group col-sm-6 col-md-3">
            <label for="name">Attendee Name</label>
            <multiselect v-model="client_id" searchable :custom-label="fullName" :show-labels="false" track-by="id" :options="members" placeholder="Choose a member" />
          </div>
          <div class="form-group col-sm-6 col-md-4">
            <label for="description">Number of Tickets</label>
            <input
              id="description"
              v-model="number_of_tickets"
              type="number"
              class="form-control"
              placeholder="Brief comments…">
          </div>
          <div class="form-group pull-left m-l-10">
            <label for="">&nbsp;</label>
            <b-button
              type="submit"
              class="form-control dashed"
              variant="primary">Add to Attendee List</b-button>
          </div>
        </form>
        <div class="table-responsive">
          <vue-good-table
            :columns="columns"
            :rows="attendees"
            :search-options="{enabled: true, externalQuery: search}"
            style-class="feed table table-hover table-striped m-0">
            <template
              slot="table-row"
              slot-scope="props">
              <span v-if="props.column.field === 'actions'">
                <b-button
                  variant="link"
                  class="c-pinky-red"
                  @click="removeAttendee(props)">
                  <i class="fa fa-fw fa-times c-pinky-red"/> Remove
                </b-button>
              </span>
              <p v-else>
                {{ props.formattedRow[props.column.field] }}
              </p>
            </template>
          </vue-good-table>
        </div>
      </FullCard>
    </b-row>
    <b-button
      variant="link"
      class="m-r-15 c-blue"
      @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script>
import MainTitle from '~/components/MainTitle.vue'
import FullCard from '~/components/FullCard.vue'
import Multiselect from 'vue-multiselect'
import HeaderTitle from '~/components/HeaderTitle.vue'
import TheWidget from '~/components/TheWidget'
import Vue2Filters from 'vue2-filters'
import { mapState } from 'vuex'

export default {
  async asyncData({ store, route }) {
    await store.dispatch('getAttendees', route.params.id)
    await store.dispatch('getAllMembers', store.getters.getCurrentSpaceId)
    return await store
      .dispatch('getSingleEvent', route.params.id)
      .then(event => {
        return {
          event: event[0]
        }
      })
  },
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle,
    Multiselect,
    TheWidget
  },
  mixins: [Vue2Filters.mixin],
  data: () => ({
    search: '',
    columns: [
      {
        label: 'Attendee Name',
        field: 'name'
      },
      {
        label: 'Email',
        field: 'email'
      },
      {
        label: 'Phone Number',
        field: 'phone_number'
      },
      {
        label: 'Number of Tickets',
        field: 'number_of_tickets'
      },
      {
        label: 'Purchase Date',
        field: 'booking_date'
      },
      {
        label: '',
        field: 'actions'
      }
    ],
    number_of_tickets: 1,
    client_id: ''
  }),
  computed: {
    ...mapState({
      attendees: state => state.events.attendees,
      members: state => state.members.data
    }),
    totalTickets() {
      return _.sumBy(this.attendees, o => {
        return o.number_of_tickets
      })
    },
    totalAmount() {
      return _.sumBy(this.attendees, o => {
        return o.number_of_tickets * this.event.price
      })
    }
  },
  methods: {
    removeAttendee(props) {
      if (!confirm('Are you sure?')) return

      this.$store.dispatch('removeAttendee', props)
    },
    async addAttendee() {
      await this.$devless
        .call('core', 'attendAnEvent', [
          {
            event_id: this.$route.params.id,
            number_of_tickets: this.number_of_tickets,
            client_id: this.client_id.id
          }
        ])
        .then(res => {
          if (res.status_code === 1000) {
            this.$store.dispatch('getAttendees', this.$route.params.id)
            this.$toast.success('Adding Attendee Successfully')
            return
          }
          this.$toast.error('Error Adding Attendee. Try Again ...')
        })
    },
    fullName({ first_name, last_name }) {
      return `${first_name} ${last_name}`
    },
    resetSearch() {
      this.search = ''
    }
  }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css">
</style>
<style lang="css">
.multiselect__tags {
  height: 38px;
  border-radius: 0px;
  border-color: #dcdcdc;
}

.multiselect__single {
  font-size: 14px;
}

.multiselect__content-wrapper {
  font-size: 14px;
}

.multiselect__input, .multiselect__single {
  font-size: 14px;
}
</style>
