<template>
  <div>
    <b-form @submit.prevent="updateEvent">
    <MainTitle title="Edit Event">
			<div class="pull-right">
        <b-button type="submit" variant="primary" :disabled="loading"
        >Update Event</b-button>
			</div>
		</MainTitle>

    <b-row>
			<FullCard type="card-feed">
				<HeaderTitle subtitle="Event Details" />
        <div class="col-md-6">
        	<div class="row">
            <div class="form-group col-md-6">
        		   <label for="title">Event Title</label>
        		   <input v-model="event.title" type="text" class="form-control" id="title" placeholder="Awesome Co" required>
        		</div>
            <div class="form-group col-md-6">
        		   <label for="capacity">Capacity</label>
        		   <input v-model="event.number_of_tickets" type="number" class="form-control" id="capacity" placeholder="0" required>
        		</div>
            <div class="form-group col-md-12">
        		   <label for="">Event Description</label>
        		   <textarea  v-model="event.description" class="form-control" placeholder="Add details about the event" rows="5" required></textarea>
        		</div>
            <div class="form-group col-md-6">
        		   <label for="">Start Date</label>
               <date-picker v-model="event.date" width="100%" input-class="form-control" lang="en"
                 value-type="format" confirm
               type="date" format="DD/MM/YYYY" placeholder="Event Start Date">
               <template slot="calendar-icon" >
                 <i></i>
               </template>
               </date-picker>
        		   <!-- <input v-model="event.date" type="date" class="form-control" required> -->
        		</div>
            <div class="form-group col-md-6">
        		   <label for="">Start Time</label>
               <date-picker v-model="event.time" width="100%" input-class="form-control" lang="en"
                 value-type="format" confirm
               type="time" format="HH:mm" placeholder="Select Time">
                 <template slot="calendar-icon" >
                   <i></i>
                 </template>
               </date-picker>
        		</div>
            <div class="form-group col-md-6">
        		   <label for="">End Date</label>
               <date-picker v-model="event.end_date" width="100%" input-class="form-control" lang="en"
                 value-type="format" confirm
               type="date" format="DD/MM/YYYY" placeholder="Event End Date">
                 <template slot="calendar-icon" >
                   <i></i>
                 </template>
               </date-picker>
        		   <!-- <input v-model="event.end_date" type="date" class="form-control" required> -->
        		</div>
        		<div class="form-group col-md-6">
        		   <label for="">End Time</label>
               <date-picker v-model="event.end_time" width="100%" input-class="form-control" lang="en"
                 value-type="format" confirm
               type="time" format="HH:mm" placeholder="Select Time">
                 <template slot="calendar-icon" >
                   <i></i>
                 </template>
               </date-picker>
        		</div>
        		<div class="form-group col-md-6">
        		   <label for="">Price</label>
        		   <input v-model="event.price" type="number" step="0.01" class="form-control" placeholder="0" required>
        		</div>
            <div class="form-group col-md-6">
              <label for="">Host Logo</label>
              <input type="file" @change="getBase64($event, 'host')" class="form-control" accept=".jpg, .png" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
        	<div class="row">
            <div class="form-group col-md-6">
      		   	<label for="title">Event Category <nuxt-link :to="base_url + '/categories'">Add Categories</nuxt-link></label>
      		   	<select class="form-control" placeholder="Select Category" v-model="event.core_event_categories_id">
                <option
                  value=""
                  disabled>Select category</option>
                <option
                  v-for="(category, i) in categories"
                  :value="category.id"
                  :key="i">{{ category.name }}</option>
              </select>
        		</div>
            <div class="form-group col-md-6">
      		   	<label for="title">Organiser</label>
              <b-form-select
                v-model="event.members_only"
                :options="organizers" />
        		</div>
            <div class="form-group col-md-6">
              <p for="title">Location</p>
              <b-form-checkbox-group
                id="venue"
                v-model="event.venue"
                name="venue">
                <b-form-checkbox
                  class="checkbox-inline"
                  v-for="(venue, i) in rooms"
                  :key="i"
                  :value="venue.name">{{ venue.name }}</b-form-checkbox>
              </b-form-checkbox-group>
            </div>
            <div class="col-md-12 m-t-20">
        		   <h5>Attendee Email</h5>
        		   <p class="text-muted">Attendees will be sent emails as below if you fill out the fields below</p>
        		</div>
        		<div class="form-group col-md-6">
        		   <label for="">Email Subject</label>
        		   <input v-model="event.email_subject" type="text" class="form-control" id="" placeholder="Add Subject of Email" required>
        		</div>
        		<div class="form-group col-md-12">
        		   <label for="">Message</label>
        		   <textarea v-model="event.email_content" class="form-control" placeholder="Add details about the event" rows="5" required></textarea>
        		</div>
          </div>
        </div>

        <div class="upload-btn-wrapper p-lr-20 mr-t-30 bg-light-blue">
          <button class="btn"><i class="fa fa-paperclip"></i> {{ filename }}</button>
          <input type="file" accept="image/*" name="event_image"
          @change="getBase64">
        </div>
      </FullCard>
      </b-row>
      </b-form>
    <b-button variant="link" class="m-r-15 c-blue" @click="$router.go(-1)"><i class="fa fa-chevron-left"></i> Back</b-button>
  </div>
</template>

<script>
import MainTitle from '~/components/MainTitle.vue'
import FullCard from '~/components/FullCard.vue'
import HeaderTitle from '~/components/HeaderTitle.vue'
import { mapState } from 'vuex'

export default {
  async asyncData({ store, route }) {
    await store.dispatch('fetchCategories')
    await store.dispatch('fetchRooms', store.state.current_space.id)

    return await store.dispatch('getSingleEvent', route.params.id).then(res => {
      let response = res[0]
      const _ = require('lodash')
      response.venue = _.map(res[0].venue.split(','), o => {
        return _.trim(o)
      })
      return {
        event: response
      }
    })
  },
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: function() {
    return {
      file: undefined,
      filename: 'Upload event image (< 1MB) & size 800 x 530',
      image: undefined,
      organizers: [
        { value: null, text: 'Internal' },
        { value: 1, text: 'External' }
      ]
    }
  },
  computed: {
    base_url() {
      return this.$store.state.base_url + '/events'
    },
    ...mapState({
      events: state => state.events.events,
      schedule: state => state.events.schedule,
      loading: state => state.loading,
      rooms: state => state.rooms.rooms,
      current_space: state => state.current_space,
      categories: state => state.events.categories
    })
  },
  methods: {
    getBase64(e, key = 'image') {
      let input = event.target
      if (input.files && input.files[0]) {
        let reader = new FileReader()
        reader.onload = e => {
          if (key !== 'host') {
            this.filename = input.files[0].name
            this.image = e.target.result
          } else {
            this.file = e.target.result
          }
        }

        reader.readAsDataURL(input.files[0])
      }
    },
    async updateEvent() {
      this.event.core_workspace_id = this.current_space.id

      this.event.venue = _.map(this.event.venue).join(', ')

      if (this.image) {
        if (
          !(this.event.images[0] = await this.$store.dispatch('uploadImage', {
            base64: this.image
          }))
        )
          return
      }

      if (this.file) {
        if (this.file) {
          this.event.host_img = await this.$store.dispatch('uploadImage', {
            base64: this.file
          })
        }
      }

      let data = this.event
      delete data.related

      if (await this.$store.dispatch('editEvent', data)) {
        this.$router.go(-1)
      }
    }
  }
}
</script>

<style>
</style>
