<template lang="html">
  <div class="">
    <MainTitle title="Preview Event">
			<div class="pull-right">
				<b-button variant="primary" @click="editEvent"><i class="fa fa-pencil"></i> Edit Event</b-button>
			</div>
		</MainTitle>

    <b-row>
			<FullCard type="pd-0" cols="4">
        <img :src="event.images[0]" class="img-responsive">
      	<div class="p-lr-20 m-t-20 pd-b-20">
          <HeaderTitle :subtitle="event.title" />
          <p class="text-muted m-b-20">{{ event.description }}</p>
          <a class="btn rd-20" :style="{ backgroundColor: event.color+'1A', color: event.color }">{{ event.category }}</a>
          <a href="#" class="btn c-orange bg-light-orange rd-20">{{ event.members_only === "0" ? 'Internal Event' : 'External Event' }}</a>
          <p class="m-t-20 m-b-20">
						Price:  {{ getCurrency }}{{ event.price }}/<span class="text-muted">ticket</span> <br>
						{{ this.$moment(`${event.date} ${event.time}`, 'DD/MM/YYYY HH:mm').format('MMM DD, YYYY - h:mm a') }} -- {{ this.$moment(`${event.date} ${event.end_time}`, 'DD/MM/YYYY HH:mm').format('MMM DD, YYYY - h:mm a') }} <br>
						{{ event.venue }}
					</p>
        </div>
      </FullCard>
    </b-row>
    <b-button variant="link" class="m-r-15 c-blue" @click="$router.go(-1)"><i class="fa fa-chevron-left"></i> Back</b-button>
  </div>
</template>

<script>
import MainTitle from '~/components/MainTitle.vue'
import FullCard from '~/components/FullCard.vue'
import HeaderTitle from '~/components/HeaderTitle.vue'
import { mapState, mapGetters } from 'vuex'

export default {
  async asyncData({ store, route, redirect }) {
    return await store.dispatch('getSingleEvent', route.params.id).then(res => {
      if (res) {
        let response = res[0]
        response.category = res[0].related.event_categories[0].name
        response.color = res[0].related.event_categories[0].bg_color
        response.images = JSON.parse(res[0].images)
        return {
          event: response
        }
      }
      redirect(`/space/${store.state.current_space.tag}/events`)
    })
  },
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  computed: {
    ...mapGetters(['getCurrency'])
  },
  methods: {
    editEvent() {
      this.$router.push(this.$route.path + '/edit')
    }
  }
}
</script>

<style lang="css">
</style>
