<template>
  <div>
    <form @submit.prevent="addMember" autocomplete="on">
      <MainTitle title="Add New Member">
        <div class="pull-right">
          <b-button
            type="submit"
            :disabled="loading"
            variant="primary">Add Member</b-button>
        </div>
      </MainTitle>
      <b-row>
        <FullCard type="card-feed">
          <div class="row p-lr-20">
            <div class="col-md-4">
              <h4>Personal Details</h4>
              <b-form-group
                label="First Name"
                label-for="first_name">
                <b-form-input
                  v-model="details.first_name"
                  required
                  placeholder="First Name"
                  type="text" />
              </b-form-group>
              <b-form-group
                label="Last Name"
                label-for="last_name">
                <b-form-input
                  v-model="details.last_name"
                  required
                  placeholder="Last Name"
                  type="text" />
              </b-form-group>
              <b-form-group
                label="Date of Birth"
                label-for="date_of_birth">
                <date-picker v-model="details.date_of_birth" width="100%" input-class="form-control" lang="en"
                  value-type="format" confirm
                type="date" format="DD/MM/YYYY" placeholder="Date of Birth"></date-picker>
              </b-form-group>
              <b-form-group
                label="Address"
                label-for="address">
                <b-form-textarea
                  v-model="details.mailing_address"
                  required
                  placeholder="Address"
                  rows="3"/>
              </b-form-group>
              <b-form-group
                label="Email"
                label-for="email">
                <b-form-input
                  v-model="details.email"
                  required
                  placeholder="you@somemail.com"
                  type="text" />
              </b-form-group>
              <b-form-group
                label="Phone Number"
                label-for="phone_number">
                <b-row>
                <b-col md="5">
                  <b-form-input v-model="details.country_code"  placeholder="Country Code" required/>
                </b-col>
                <b-col md="7">
                <b-form-input
                  v-model="details.phone_number"
                  required
                  placeholder="Phone Number"
                  type="tel" />
                </b-col>
                </b-row>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <h4>Professional Details</h4>
              <b-form-group
                label="Linkedin"
                label-for="linkedin">
                <b-form-input
                  v-model="details.linkedin"
                  placeholder="https://linkedin.com/in/someone"
                  type="url"
                  />
              </b-form-group>
              <b-form-group
                label="Twitter"
                label-for="twitter">
                <b-form-input
                  v-model="details.twitter"
                  placeholder="https://twitter.com/someone"
                  type="url"
                 />
              </b-form-group>
              <b-form-group
                label="Company"
                label-for="company">
                <div slot="label">
                  <label>Company </label>
                  <nuxt-link :to="base_url+'/companies/add'">Add Company</nuxt-link>
                </div>
                <b-form-select v-model="details.devless_companies_id" @change="handleCompany" required>
                  <option value="" disabled>{{ companies.length == 0 ? 'Loading list' : 'Choose a company' }}</option>
                  <option v-for="(company, i) in companies" :key="i" :value="company.id">{{ company.name }}</option>
                </b-form-select>
              </b-form-group>
              <b-form-group
                label="Job Title"
                label-for="job_title">
                <b-form-input
                  v-model="details.job_title"
                  required
                  placeholder="CEO"
                  type="text" />
              </b-form-group>
              <b-form-group label="Assign Admin" label-for="assigned_admin">
                <b-form-select id="assigned_admin" v-model="details.assigned_admin">
                  <option :value="null">Unassigned</option>
                  <option v-for="admin in admins" :key="admin.id" :value="admin.users_id">{{ `${admin.first_name} ${admin.last_name}`}}</option>
                </b-form-select>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <h4>References</h4>
              <b-form-group
                label="First Reference Name"
                label-for="first_reference_name">
                <b-form-input
                  id="first_reference_name"
                  v-model="details.first_reference_name"
                  placeholder="First Reference Name"
                  type="text" />
              </b-form-group>
              <b-form-group
                label="First Reference Email"
                label-for="first_reference_email">
                <b-form-input
                  id="first_reference_email"
                  v-model="details.first_reference_email"
                  placeholder="First Reference Email"
                  type="email" />
              </b-form-group>
              <b-form-group
                label="Second Reference Name"
                label-for="second_reference_name">
                <b-form-input
                  id="second_reference_name"
                  v-model="details.second_reference_name"
                  placeholder="Second Reference Name"
                  type="text" />
              </b-form-group>
              <b-form-group
                label="Second Reference Email"
                label-for="second_reference_email">
                <b-form-input
                  v-model="details.second_reference_email"
                  placeholder="Second Reference Email"
                  type="email" />
              </b-form-group>
              <b-form-group
                label="Membership Package"
                label-for="membership">
                  <b-form-select id="membership" v-model="details.membership_package_id" required>
                    <option value="" disabled>{{ packages.length == 0 ? 'Loading list' : 'Assign a membership plan' }}</option>
                    <option v-for="(pkg, i) in packages" :key="i" :value="pkg.id">{{ pkg.title }}</option>
                  </b-form-select>
              </b-form-group>
              <!-- <b-form-group
                label="Give Back Option"
                label-for="give_back_option">
                  <b-form-select v-model="details.give_back_option" required>
                    <option value="" disabled>{{ options.length == 0 ? 'Loading list' : 'Please select an option' }}</option>
                    <option v-for="(opt, i) in options" :key="i" :value="opt.desription">{{ opt.title }}</option>
                  </b-form-select>
              </b-form-group> -->
            </div>
          </div>
        </FullCard>
      </b-row>
    </form>

    <b-button
      variant="link"
      class="m-r-15 c-blue"
      @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle'
import HeaderTitle from '~/components/HeaderTitle'
import FullCard from '~/components/FullCard'

export default {
  async asyncData({ store }) {
    await store.dispatch(
      'getMembershipPackages',
      store.getters.getCurrentSpaceId
    )
    // await store.dispatch('getOptions')
    await store.dispatch('getCompanies', store.getters.getCurrentSpaceId)
    await store.dispatch('getAllAdmins')
  },
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: () => ({
    details: {
      first_name: '',
      last_name: '',
      phone_number: '',
      email: '',
      linkedin: '',
      twitter: '',
      company: '',
      job_title: '',
      country_code: '',
      date_of_birth: '',
      mailing_address: '',
      first_reference_name: '',
      first_reference_email: '',
      second_reference_name: '',
      second_reference_email: '',
      membership_package_id: '',
      give_back_option: '',
      devless_companies_id: '',
      assigned_admin: null
    }
  }),
  storage: {
    keys: ['details'],
    //keep data.count in localStorage
    namespace: 'shack15-new-member'
  },
  computed: {
    ...mapState({
      base_url: state => state.base_url,
      options: state => state.givebackoptions.options,
      loading: state => state.loading,
      companies: state => state.companies.data,
      packages: state => state.members.membership_packages,
      admins: state => state.admins.data
    })
  },
  methods: {
    addMember() {
      this.$store.dispatch('addMember', this.details)
    },
    handleCompany(e) {
      _.map(this.companies, v => {
        if (v.id === e) {
          this.details.company = v.name
        }
      })
    }
  }
}
</script>

<style>
</style>
