<template>
  <div>
    <MainTitleSearch
      title="New Members"
      search="true">
      <template slot="dropdown">
        •
        <div
          class="btn-group"
          role="group">
          <button
            type="button"
            class="btn btn-default dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            {{ dropname.title }}
            <span class="caret"/>
          </button>
          <ul class="dropdown-menu">
            <li
              v-for="(drop, i) in drops"
              :key="i"><a @click="setDrop(drop)">{{ drop.title }}</a></li>
          </ul>
        </div>
      </template>
      <template slot="search">
        <div class="input-group col-md-4 top-search">
          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-icon"><i class="fa fa-search"/></button>
          </span>
          <input
            id="example-input3-group2"
            v-model="searchTerm"
            type="text"
            name="example-input3-group2"
            class="form-control"
            placeholder="Search">
          <span class="input-group-btn">
            <button
              type="button"
              class="btn bg-charcoal-grey txt-light"
              @click="resetSearch">Clear</button>
          </span>
        </div>
      </template>
      <b-button
        :to="$route.path + '/add'"
        variant="primary">Add Member</b-button>
    </MainTitleSearch>
    <b-row>
      <FullCard type="card-feed pd-t-0">
        <div class="table-responsive">
          <invitation-pending :base_url="base_url" :searchTerm="searchTerm" :rows="members" v-if="dropname.tag == 'pending'" />
          <vue-good-table
            v-else
            ref="member_table"
            :columns="columns"
            :rows="members"
            :search-options="{
              enabled: true,
              externalQuery: searchTerm
            }"
            style-class="feed-2 table table-hover table-striped m-0"
          >
            <template
              slot="table-column"
              slot-scope="props">
              <div>
                {{ props.column.label }}
              </div>
            </template>
            <template
              slot="table-row"
              slot-scope="props">
              <div v-if="props.column.field === 'status'">
                <b-button
                  variant="danger"
                  @click="confirmMember(props)">Confirm/Reject</b-button>
              </div>
              <div v-else-if="props.column.label === 'Name'">
                <img
                  :src="props.row.profile_pic ? props.row.profile_pic : '/images/users/avatar-1.jpg'"
                  alt="user"
                  class="thumb-sm img-circle pull-left"
                  width="35">
                <a @click="editMember(props)"><span class="c-shack-red">{{ props.row.first_name }} {{ props.row.last_name }}</span></a> <br>
                {{ props.row.company ? props.row.company : 'N/A' }}
              </div>
              <div
                v-else-if="props.column.field === 'membership_package_id'"
                v-html="getPackage(props.row)"/>
              <div v-else>{{ props.formattedRow[props.column.field] }}</div>
            </template>
          </vue-good-table>
        </div>
      </FullCard>
    </b-row>

    <Modal>
      <h4>Confirm Membership</h4>
      <p>Clicking on the Confirm Membership button would approve the member and send the user an invitation email</p>
      <div style="margin-top: 2em;">
        <b-button
          variant="success"
          @click="approveMember">Confirm Membership</b-button>
        <b-button
          variant="danger"
          @click="rejectMember">Reject Membership</b-button>
      </div>
    </Modal>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitleSearch from '~/components/MainTitleSearch.vue'
import FullCard from '~/components/FullCard.vue'
import Modal from '~/components/Modal.vue'
import InvitationPending from '~/components/InvitationPending'

export default {
  async asyncData({ store, app }) {
    let token = app.$auth.$storage.getUniversal('token', false)

    app.$devless.setToken(token)

    // get unapproved members first when the view loads
    await store.dispatch('getUnapprovedMembers')

    store.dispatch('getMembershipPackages', store.state.current_space.id)
  },
  layout: 'dashboard',
  components: {
    Modal,
    FullCard,
    MainTitleSearch,
    InvitationPending
  },
  data: function() {
    return {
      dropname: {
        title: 'Unconfirmed',
        tag: 'unconfirmed'
      },
      drops: [
        { title: 'Unconfirmed', tag: 'unconfirmed' },
        { title: 'Invitation Pending', tag: 'pending' },
        { title: 'Rejected', tag: 'rejected' }
      ],
      searchTerm: '',
      columns: [
        {
          label: 'Name',
          field: rowObj => {
            return `${rowObj.first_name} ${rowObj.last_name}`
          },
          thClass: 'bold-n'
        },
        {
          label: 'Company',
          field: 'company',
          thClass: 'bold-n',
          hidden: true
        },
        {
          label: 'Plan / Price',
          field: 'membership_package_id',
          thClass: 'bold-n'
        },
        {
          label: 'Status',
          field: 'status',
          thClass: 'bold-n',
          sortable: false
        }
      ],
      member: {
        row: {
          membership_package_id: ''
        }
      }
    }
  },
  computed: {
    ...mapState({
      members: state => state.members.data,
      packages: state => state.members.membership_packages,
      current_space: state => state.current_space,
      loading: state => state.loading,
      base_url: state => state.base_url
    })
  },
  methods: {
    async fetchMembers() {
      if (this.dropname.tag === 'unconfirmed') {
        this.$store.dispatch('getUnapprovedMembers')
      } else if (this.dropname.tag == 'pending') {
        this.$store.dispatch('getPendingAcceptance')
      } else {
        this.$store.dispatch('getRejectedMembers')
      }
    },
    addMember() {
      this.$router.push(this.$route.path + '/add')
    },
    resetSearch() {
      this.searchTerm = ''
    },
    confirmMember(props) {
      // this.$refs.confirmModal.show()
      $('#myModal').modal('show')
      this.member = props
    },
    async approveMember() {
      if (await this.$store.dispatch('approveMember', this.member)) {
        $('#myModal').modal('hide')
      }
    },
    async rejectMember() {
      if (await this.$store.dispatch('rejectMember', this.member)) {
        $('#myModal').modal('hide')
      }
    },
    getPackage(obj) {
      let pkg = _.find(this.packages, o => {
        return o.id === obj.membership_package_id
      })
      return pkg
        ? `${pkg.title}<td><span> / ${pkg.price} ${_.upperCase(
            this.$store.state.current_space.currency
          )}</span></td>`
        : 'No Package Selected'
    },
    editMember(props) {
      this.$store.commit('SET_MEMBER', props)
      this.$router.push(this.$route.path + '/' + props.row.id)
    },
    setDrop(row) {
      this.dropname = row
      this.fetchMembers()
    }
  }
}
</script>

<style>
</style>
