<template>
  <div id="wrapper">
    <TopBar />
    <SideBar />
    <div class="content-page">
      <div class="content">
        <div
          class="container">
          <nuxt />
        </div>
      </div>
      <footer class="footer text-right">
        © {{ getYear }} SHACK15
      </footer>
    </div>
    <script>
      var resizefunc = [];
    </script>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import TopBar from '~/components/TopBar.vue'
import SideBar from '~/components/SideBar.vue'

export default {
  components: {
    TopBar,
    SideBar
  },
  computed: {
    ...mapState({
      count: state => state.checkins.count,
      base_url: state => state.base_url
    }),
    getYear() {
      return this.$moment().format('YYYY')
    }
  },
  mounted() {
    let token = this.$auth.$storage.getUniversal('token', false)
    this.$devless.setToken(token)

    let _self = this

    if (!this.$pusher.channels.channels['main']) {
      var channel = this.$pusher.subscribe('main')

      /** socket for food orders */
      channel.bind('eatry_order', async function(data) {
        await _self.$store.dispatch('getFoodOrders', null)
        await _self.$store
          .dispatch('getUserById', data.users_id)
          .then(async res => {
            let { first_name, last_name } = res.payload.results[0]

            _self.$toast.info(
              `New order alert from ${first_name} ${last_name}`,
              {
                position: 'top-right',
                singleton: true,
                duration: null,
                fullWidth: false,
                action: {
                  text: 'View Now',
                  onClick: (e, toastObject) => {
                    _self.$router.push(`${_self.base_url}/inventory`)
                    toastObject.goAway(0)
                  }
                }
              }
            )
          })
      })

      /** socket for user checkins */
      channel.bind('checkIn', async function(data) {
        if (data.status_code !== 'user_check_in') return false

        await _self.$store
          .dispatch('getUserById', data.users_id)
          .then(async res => {
            if (
              res.payload.results &&
              data.workspace_id == _self.$store.getters.getCurrentSpaceId
            ) {
              let user = res.payload.results[0]

              let timestamp = _self
                .$moment(parseFloat(user.last_checkin_date) * 1000)
                .format('YYYY-MM-DD H:mm:ss')

              if (
                !_.includes(_self.count, `${user.first_name} ${user.last_name}`)
              ) {
                _self.$store.commit(
                  'addToCount',
                  `${user.first_name} ${user.last_name}`
                )
              }

              let msg =
                _self.count.length > 1
                  ? `${user.first_name} +${_self.count.length -
                      1} trying to check-in`
                  : `${user.first_name} ${user.last_name} trying to check-in`

              _self.$toast.info(msg, {
                position: 'top-right',
                singleton: true,
                duration: null,
                fullWidth: false,
                action: {
                  text: 'Approve',
                  onClick: (e, toastObject) => {
                    _self.$router.push(`${_self.base_url}/checkins`)
                    toastObject.goAway(0)
                  }
                }
              })
            }
          })
      })
    }
  }
}
</script>
