<template>
  <div class="container dead-center">
    <div class="row w-100">
      <div class="col-md-12 text-center">
        <nuxt/>
      </div>
    </div>
    <script>
      var resizefunc = [];
    </script>
  </div>
</template>

<script>
export default {
  auth: false
}
</script>

<style scoped>
</style>
