<template>
	<div class="error-page">
		<h1 v-if="error.statusCode">{{ error.statusCode }}</h1>
		<h4 v-if="error.message">{{ error.message }}</h4>
		<p class="text-muted">Whoops!. Let’s find a way back to the Dashboard.</p>
		<a :href="base_url">Go to Dashboard <i class="fa fa-angle-right mr-l-10"></i></a>
	</div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  props: {
    error: {
      type: Object,
      default: () => {
        return {
          statusCode: 404
        }
      }
    }
  },
  layout: 'dashboard',
  computed: {
    ...mapState({
      base_url: state => state.base_url
    })
  }
}
</script>
