<template lang="html">
  <div id="wrapper" class="no-side">
    <TopNoSide />
    <div class="content-page">
			<div class="content">
				<div class="container">
					<nuxt/>
				</div>
			</div>
		</div>
		<script>
      var resizefunc = [];
	   </script>
  </div>
</template>

<script>
import TopNoSide from '~/components/TopNoSide.vue'

export default {
  components: {
    TopNoSide
  }
}
</script>

<style lang="css">
</style>
