<template lang="html">
  <div class="">
    <MainTitle
      :subtitle="`${companies.length} Companies Signed Up`"
      title="Companies">
      <div class="pull-right">
        <b-button
          :to="$route.path + '/add'"
          variant="primary">Add Company</b-button>
      </div>
      </MainTitle>
    <b-row>
      <FullCard type="card-feed pd-t-0" >
        <div class="table-responsive">
          <table class="feed table table-hover table-striped m-0">
            <thead>
              <tr>
                <th>Companies</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(company, index) in companies" :key="index">
                <td><nuxt-link class="c-shack-red" :to="`${base_url}/companies/${company.name}`">{{ company.name }}</nuxt-link></td>
                <td>
                  <div
                    class="row">
                    <b-col md="2">
                      <b-button
                        variant="link"
                        class="c-blue"
                      :to="`${base_url}/companies/${company.name}/edit`">
                        <i class="fa fa-fw fa-pencil c-blue"/> Edit
                      </b-button>
                    </b-col>
                    <!-- <b-col md="3">
                      <b-button
                        variant="link"
                        class="c-pred"
                        @click="deleteEntry({row: company, index})">
                        <i class="fa fa-fw fa-times c-pred"/> Remove
                      </b-button>
                    </b-col> -->
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </FullCard>
    </b-row>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'

export default {
  async asyncData({ store, app }) {
    await store.dispatch('getCompanies', store.getters.getCurrentSpaceId)
  },
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard
  },
  data: () => ({}),
  computed: {
    ...mapState({
      companies: state => state.companies.data,
      loading: state => state.loading,
      base_url: state => state.base_url
    })
  },
  methods: {
    countProperties(obj) {
      var count = 0

      for (var prop in obj) {
        if (obj.hasOwnProperty(prop)) ++count
      }

      return count
    },
    deleteEntry(props) {
      if (!confirm('Are you sure?')) return

      try {
        const { commit, dispatch } = this.$store

        commit('CHANGE_LOADING', true)

        dispatch('removeCompany', props)
      } catch (e) {
        this.$sentry.captureException(e)
      }
    }
  }
}
</script>

<style lang="css" scoped>
</style>
