@font-face { font-family: BrownPro; src: url('../fonts/Brown-Regular.otf'); }
body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, strong, .font-secondary, .label, label, th, .radio label, .checkbox label, * {
	font-family: "BrownPro";
}

html, body {
	color: #4c4d4f;
	background: #fafbfc;
}

/* Colors */
.c-dull-red, .c-shack-red { color: #af4830 !important; }
.c-coral, .c-red { color: #ed5454 !important; }
.c-beige { color: #e7d5b4 !important; }
.c-tealish-green { color: #0ad484 !important; }
.c-very-light-pink { color: #d8d8d8 !important; }
.c-pinky-red, .c-pred { color: #ff1747 !important; }
.c-pale-grey { color: #fafbfc !important; }
.c-charcoal-grey, .text-dark { color: #4c4d4f !important; }
.c-brown-grey { color: #9b9b9b !important; }
.c-brown-grey { color: #6f6f6f !important; }
.c-brownish-grey { color: #9b9b9b !important; }
.c-orange { color: #e79000 !important; }
.c-dark-sky-blue, .c-blue { color: #4a90e2 !important; }

/* Background Colors */
.bg-dull-red { background-color: #af4830 !important; }
.bg-coral { background-color: #ed5454 !important; }
.bg-beige { background-color: #e7d5b4 !important; }
.bg-tealish-green { background-color: #0ad484 !important; }
.bg-very-light-pink { background-color: #d8d8d8 !important; }
.bg-pinky-red { background-color: #ff1747 !important; }
.bg-pale-grey { background-color: #fafbfc !important; }
.bg-charcoal-grey { background-color: #4c4d4f !important; }
.bg-brown-grey { background-color: #9b9b9b !important; }
.bg-brown-grey { background-color: #6f6f6f !important; }
.bg-brownish-grey { background-color: #9b9b9b !important; }
.bg-orange { background-color: #e79000 !important}
.bg-dark-sky-blue, .bg-blue { background-color: #4a90e2 !important; }
.bg-light-blue { background: rgba(74,144,226, 0.2) !important }
.bg-light-orange { background: rgba(231,144,0, 0.2) !important }
.bg-oranbrown {background-color: #f0d8b7 !important }
/* Forms */

.form-control {
	border-radius: unset;
	border-color: #dcdcdc;
}
label {
	font-weight: normal;
}
.btn.dashed {
	border: 2px dashed #188ae2 !important;
	background: #E7EFF8 !important;
	color: #188ae2 !important;
}

/* Navigation */

.side-menu, .topbar .topbar-left {
	width: 190px;
}
footer, .footer {
	left: 190px;
	background: #fff;
}
.content-page {
	margin-left: 190px;
}

/**************/

#sidebar-menu > ul > li > a:hover, #sidebar-menu .subdrop, #sidebar-menu ul ul, #sidebar-menu > ul > li > a.active, #wrapper.enlarged #sidebar-menu ul ul, #wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a:hover, #wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a:active, #wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a:focus, #wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > a {
    background-color: #414243;
}
#sidebar-menu ul ul a:hover, .button-menu-mobile:hover {
	background: #3D3E3F;
	color: #fff;
}
#wrapper.enlarged .topbar .topbar-left, #wrapper.forced .topbar .topbar-left {
    width: 190px !important;
}
.button-menu-mobile i, .logo, .user-box a.user-link {
    line-height: 80px;
}
.topbar .topbar-left {
	height: 81px;
}
body.fixed-left .side-menu.left {
	margin-top: 15px;
}
.side-menu, .topbar .topbar-left {
	background: #4c4d4f;
	font-size: 15px;
    top: 1px; /* this and below removes the border */
    margin-top: -1px;
}
.page-title, .header-title {
	font-weight: normal;
}
.page-title span, .header-title span, .feed td span{
    color: #af4830;
}
.card-feed .header-title {
	padding-right: 20px;
	padding-left: 20px;
}
.p-lr-20 { padding-left: 20px; padding-right: 20px; }
.m-lr-20 { margin-left: 20px; margin-right: 20px; }
.card-feed .table-links {
	padding: 20px 20px 0;
}
.card-feed tr td, .card-feed tr th {
    padding-left: 20px;
}
.card-feed tr td:last-child, .card-feed tr th:last-child {
    padding-right: 20px;
}
.sh-btn-grp {
	box-shadow: -5px 5px 20px 0 rgba(30, 30, 30, 0.1);
	margin-bottom: 20px;
	text-transform: uppercase;
}
.sh-btn-grp .btn-default {
	color: #98a6ad;
}
.sh-btn-grp .btn-default, .sh-btn-grp .btn-default:hover {
	border: none !important;
	padding: 10px 25px;
}
.sh-btn-grp .btn-default:hover {
	color: #4c4d4f;
}
.card-box {
	box-shadow: -5px 5px 20px 0 rgba(30, 30, 30, 0.1);
	border: unset;
	border-radius: unset;
	margin-bottom: 38px;
}
.card-box.card-feed {
	padding: 20px 0;
}
.page-title-box {
    padding: 34px 20px 30px;
    border-bottom: unset;
    margin-bottom: 0px;
}
.page-title-box .btn.btn-default.dropdown-toggle {
    background: transparent;
    border: none;
    font-size: 20px;
    padding: 0 0 0 5px;
}
.page-title-box .btn.btn-default.dropdown-toggle:hover, .btn-group.open .dropdown-toggle {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
#sidebar-menu a {
	line-height: unset;
}
#sidebar-menu ul ul li.active a {
	color: #fff;
}
#sidebar-menu ul ul a {
    padding: 18px 20px 14px 59px;
}
#sidebar-menu ul ul a.active {
    border-left: 3px solid #fff;
}
#sidebar-menu > ul > li > a {
	margin: 1px;
}
#sidebar-menu > ul > li > a {
    padding: 17px 20px;
}
.navbar-default {
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(155, 155, 155, 0.6);
}
.content-page .content {
	margin-top: 80px;
}
#sidebar-menu {
	margin-top: 30px;
}
#sidebar-menu > ul > li > a, #accordion .panel .panel-body {
    color: #9b9b9b;
}
#sidebar-menu ul ul {
	text-transform: uppercase;
	font-size: 12px;
}
#sidebar-menu ul ul a {
    color: #9b9b9b;
}
.content-page .content {
    background: #fafbfc;
}
.user-box .user-img {
	height: 30px;
	width: 30px;
	margin-right: 5px;
	margin-top: -4px;
}
.user-box a.user-link {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.footer {
	text-align: right !important;
}
table {
	font-size: 13px;
}
thead {
	border-bottom: 1px solid #f4f4f4;
}
table.feed tr td, table.feed th td, table.feed-2 tr td, table.feed-2 th td {
	border-top: unset;
	border-bottom: 1px solid #f4f4f4;
	vertical-align: middle;
}
table.feed tr td {
	height: 45px;
}
table.feed-2 tr td {
	height: 75px;
}
.feed i {
	color: #9b9b9b;
	margin-right: 10px;
}
.feed-2 img {
	height: 36px;
	width: 42px;
	margin-right: 10px;
}
.feed-2 span {
	color: #98a6ad;
}
.tight-space{
    width:1%;
    white-space:nowrap;
}
.table-striped > tbody > tr:nth-of-type(2n+1){
	background: rgba(250, 250, 250);
}
.page-title-box .alert, .alert-info {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0;
	border-radius: 2px;
	background: #E7EFF8;
	color: #4c4d4f;
	border: none;
	font-size: 13px;
}
.page-title-box .alert i, .alert-info i {
	margin-right: 5px;
	font-size: 15px;
	margin-top: 3px;
	color: #4a90e2;
}
.b-1 {
	border: 1px solid #dcdcdc !important;
	padding: 10px !important;
}
thead tr {
	border-top: 1px solid #f4f4f4;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding-left: 20px;
}
.table > thead > tr > th {
	border-bottom: 0;
	border-right: 1px solid #f4f4f4;
	text-transform: uppercase;
	height: 75px;
	font-weight: normal;
	vertical-align: middle;
}
.dead-center{
	height: 100vh; 
	display: flex; 
	align-items: center; 
	justify-content: center;
}
.logins input.form-control {
	border: none;
	border-bottom: 1px solid #d8d8d8;
	padding-left: 0
}
.logins input.form-control::placeholder {
	color: #4a4a4a;
}
.logins button {
	background: #4c4d4f;
	color: #e7d5b4;
}
.logins button:hover {
	color: #fff;
}
.card-label {
	background: rgba(76,77,79, 0.7);
	position: relative;
	bottom: 40px;
	left: 20px;
	color: #fff;
	padding: 8px 15px;
	font-size: 13px;
	border-radius: 15px;
	font-weight: normal;
}
.modal .modal-dialog .modal-content .modal-header {
	border: unset;
	padding-bottom: 0;
}
.modal .modal-dialog .modal-content .modal-body {
	padding-top: 0;
}
.modal-content .modal-body h4 {
	font-size: 25px;
}
.modal .modal-dialog .modal-content .modal-footer {
	text-align: left;
	border-top: unset;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
}
.upload-btn-wrapper .btn {
  background-color: transparent;
  cursor: grab !important;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.feed-2 img.thumb-sm {
	width: 32px;
	height: 32px;
}
.pd-t-0 {
	padding-top: 0 !important;
}
.input-group-btn .btn.btn-icon {
    background: transparent;
    border-bottom: 1px solid #d4d4d4;
    padding-left: 3px;
    padding-right: 0;
}
.top-search .form-control {
	border: unset;
	background: transparent;
	border-bottom: 1px solid #dcdcdc;
}
.top-search input:focus {
    outline-width: 0 !important;
    outline: none !important;
}
.input-group[class*="col-"].top-search {
	padding-right: 10px;
	padding-left: 10px;
	float: left;
}
#accordion .panel {
	border: none;
	border-bottom: 1px solid #dcdcdc;
	border-radius: unset;
	padding: 25px 0;
}
#accordion .panel:first-child {
	padding-top: 0;
}
#accordion .panel .panel-body {
	padding: 25px 0 0;
}
#accordion .panel a {
	color: #4c4d4f;
}
#accordion .radio {
	margin: 0;
}
#accordion .radio label {
	color: #4a90e2;
}
.form-title {
	margin-bottom: 35px;
	font-size: 14px;
}
.pd-lr-10 {
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.pd-lr-5 {
	padding-left: 5px !important;
	padding-right: 5px !important;
}
dt {
	font-weight: normal;
}
.text-muted, dd {
	color: #9b9b9b;
}
.no-side .content-page {
    margin-left: 0 !important;
}
.onboard label.card-box {
	display: block;
	padding: 60px;
	border: solid 2px #fff;
}
@media (max-width: 576px) {
	.onboard label.card-box {
		padding: 40px;
	}
}
.onboard label img {
	float: left;
	margin-bottom: 50px;
	margin-right: 30px;
}
.onboard label p {
	height: 45px;
}
.onboard input[type=checkbox], .onboard input[type=radio] {
    display: none;
}
.onboard input:checked + label {
    border: solid 2px #4c4d4f;
}
tbody + tbody {
    border-top: none !important;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.img-card img {
    float: left;
    margin-right: 15px;
    margin-bottom: 25px;
}
.img-card .label {
    position: absolute;
    right: 25px;
    top: 15px;
    font-weight: normal;
    background: #f4f4f4;
    color: #4c4d4f;
}
.img-card .img-card-content {
    padding: 25px 10px 10px;
}
.up-photo {
	margin-bottom: 20px;
}
.up-photo img {
	margin-right: 20px;
	float: left;
}
.up-photo p {
	padding-top: 10px;
}
.up-photo .btn {
	color: #4a90e2;
	border: 1px solid #4a90e2;
	background: none;
	text-transform: uppercase;
}
.up-photo .btn:hover {
	color: #fff;
	background: #4a90e2;
}
.sh-profile-card {
	padding: 0;
}
.sh-p-header {
	background: #ed8100;
	padding: 30px;
}
.sh-p-header img{
	margin-right: 20px;
	float: left;
}
.sh-p-header, .sh-p-header h3, .sh-p-header h4 {
	color: #fff;
}
.sh-p-header h3 {
	font-weight: bold;
	padding-top: 20px;
}
.sh-p-header h3, .sh-p-header h4 {
	margin: 3px 0;
}
.sh-p-header p {
	margin-top: 5px;
}
.sh-p-header .label {
    position: absolute;
    right: 35px;
    top: 25px;
    font-weight: normal;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: unset;
}
.sh-p-content {
	padding: 30px;
}
.label-inverse {
    background-color: #4a4a4a;
    font-weight: normal;
    font-size: 13px;
    border-radius: 2px;
}
.fc-body .fc-resource-area .fc-cell-content::before {
    content: "\2022";
    width: 13px;
    display: inline-block;
    margin-left: 8px;
}
.fc-body .fc-resource-area .fc-cell-content {
    border: none !important;
    margin-left: 15px;
}
.fc-resource-area.fc-widget-header {
    min-width: 180px !important;
}
.fc-view {
    margin-top: 13px;
}
.sh-btn-grp.sh-cal {
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 20px;
}
.fc-resource-area tr:nth-child(1) .fc-cell-content::before { color: #e79000; }
.fc-resource-area tr:nth-child(2) .fc-cell-content::before { color: #4a90e2; }
.fc-resource-area tr:nth-child(3) .fc-cell-content::before { color: #9013fe; }
.fc-resource-area tr:nth-child(4) .fc-cell-content::before { color: #00aa69; }
.fc-resource-area tr:nth-child(5) .fc-cell-content::before { color: #ff1747; }
.fc-resource-area tr:nth-child(6) .fc-cell-content::before { color: #B53471; }
.fc-resource-area tr:nth-child(7) .fc-cell-content::before { color: #474787; }

.onboarding .breadcrumb a {
    line-height: 90px;
}
.onboarding {
    background: #fff;
    min-height: 100vh;
    margin-bottom: -60px;
}
.onboarding .navbar-default {
	padding: 0;
}
.onboarding .navbar-nav {
	background: #f1f0ed;
	text-transform: uppercase;
	padding: 0 50px;
	letter-spacing: 2.2px;
}
.onboarding .navbar-default .navbar-nav > li > a {
    line-height: 85px;
    padding-top: 0;
    padding-bottom: 0;
    color: #4c4d4f;
}
.onboarding .navbar-nav span {
	margin-left: 20px;
}
.onboarding .navbar-header {
    margin-left: 30px;
}
.title-caps {
	font-size: 20px;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	margin-bottom: 30px;
	line-height: 1.92;
}
.text-spaced {
	letter-spacing: 2.4px;
}
.btn-sh {
	color: #4c4d4f;
	border: 1px solid #4c4d4f;
	border-radius: 0;
	padding: 10px 70px;
	margin-top: 30px;
	background: #fff;
}
.onboarding label {
	color: #9b9b9b;
	font-size: 12px;
}
.onboarding .form-control {
    border-left: none;
    border-top: none;
    border-right: none;
    padding: 0;
}
.onb-body p {
	font-weight: 300;
}
.onb-body {
	margin-top: 80px;
}
.onb-body .price {
	font-size: 35px;
}
.onb-body .price sup {
	font-size: 16px;
	color: #9b9b9b;
	vertical-align: middle;
}
.onb-body form {
	margin-top: 30px;
}
.onb-body a {
	color: #4c4d4f;
}
.flex-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.error-page {
	margin-top: 100px;
	margin-left: 60px;
	max-width: 400px;
}
.error-page h1 {
	font-size: 100px;
	font-weight: bold;
	margin-bottom: 0;
}
.error-page h4 {
	font-size: 26px;
	font-weight: bold;
}
.error-page p {
	margin: 25px 0;
}
.error-page a {
	text-decoration: underline;
}
.sh-tags .label {
	display: inline-block;
}
.u-line {
	text-decoration: underline;
}
.sh-event-wrap {
	width: 50%;
	float: left;
	margin-bottom: 15px;
}