<template lang="resources-add">
  <div class="">
    <b-form @submit.prevent="addTable">
      <MainTitle title="Add New Table">
			<div class="pull-right">
				<b-button type="submit" variant="primary" :disabled="loading">Add Table</b-button>
			</div>
		</MainTitle>
    <b-row>
			<FullCard cols="12" type="card-feed">
				<HeaderTitle subtitle="Table Details" />
        <div class="row p-lr-20">
          <div class="col-md-6">
            <div class="row">
              <b-form-group label="Name" label-for="title" class="col-md-12">
                <b-form-input id="title" type="text" class="form-control" placeholder="Name of Table" v-model="tbl.name" />
              </b-form-group>
              <b-form-group label="Reservation Fee" label-for="price_per_hour" class="col-md-9">
                <b-form-input id="price_per_hour" type="number" step="0.01" class="form-control" placeholder="0.00" v-model="tbl.reservation_fee" />
              </b-form-group>
              <b-form-group label="Currency" label-for="currency" class="col-md-3">
                <b-form-input :value="$store.getters.getCurrency" id="currency" class="form-control" readonly />
              </b-form-group>
              <b-form-group label="Description" label-for="description" class="col-md-12">
                <b-form-textarea placeholder="Add details about this table" rows="5" class="form-control" v-model="tbl.description" />
              </b-form-group>
              <div class="clearfix"></div>
              <div class="col-md-3">
								<img :src="(image) ? image : '/images/small/img-1.jpg'" class="img-responsive" alt="">
							</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <b-form-group label="Sitting Capacity" label-for="seats" class="col-md-12">
                <b-form-input id="seats" type="number" class="form-control" placeholder="0" v-model="tbl.sitting_capacity" />
              </b-form-group>
              <b-form-group label="Reservation Limit" label-for="limit" class="col-md-12">
                <b-form-input id="limit" type="number" class="form-control" placeholder="0" v-model="tbl.reservation_limit" />
              </b-form-group>
              <b-form-group label="Allow Over Reservation" label-for="over_reservation" class="col-md-12">
                <b-form-checkbox id="over_reservation" class="checkbox-inline" v-model="tbl.allow_over_reservation" value="1" unchecked-value="">Yes</b-form-checkbox>
              </b-form-group>
              <!-- <b-form-group label="Open From" label-for="open_from" class="col-md-6">
                <b-form-input id="open_from" type="time" class="form-control" placeholder="08:00" v-model="tbl.open_from" />
              </b-form-group>
              <b-form-group label="Open To" label-for="open_till" class="col-md-6">
                <b-form-input id="open_till" type="time" class="form-control" placeholder="20:00" v-model="tbl.open_to" />
              </b-form-group> -->
              <h5 class="col-md-12"><span style="text-decoration: underline;">Available Booking Time</span> <b-button variant="link" @click="addSlot()">Add Time</b-button> </h5>
              <div class="row" v-for="(sl, i) in slots" :key="i">
                <div class="col-md-12">
                  <b-form-group label="Day" label-for="date" class="col-md-3">
                    <b-form-select v-model="sl.day" :options="days">
                      <option value="" disabled>-- Choose day --</option>
                    </b-form-select>
                  </b-form-group>
                  <b-form-group label="Open From" label-for="time" class="col-md-3">
                    <b-form-input id="time" type="time" class="form-control" v-model="sl.open_from" />
                  </b-form-group>
                  <b-form-group label="Open Till" label-for="time" class="col-md-3">
                    <b-form-input id="time" type="time" class="form-control" v-model="sl.open_to" />
                  </b-form-group>
                  <b-form-group label="Closed" label-for="time" class="col-md-1">
                    <b-form-checkbox id="checkbox1"
                    v-model="sl.closed"
                    value="1"
                    unchecked-value="0">
                  </b-form-checkbox>
                </b-form-group>
                <b-form-group label="Remove" label-for="remove" class="col-md-2" v-if="i !== 0">
                  <b-button id="remove" variant="danger" @click="removeDate(i)"><i class="fa fa-close"></i></b-button>
                </b-form-group>
                </div>
              </div>
            </div>
          </div>
        </div>
        <UploadButton v-model="image" name="room_image" />
        <!-- <div class="upload-btn-wrapper p-lr-20 mr-t-30 bg-light-blue">
          <button class="btn"><i class="fa fa-paperclip"></i> Upload table image</button>
          <input type="file" name="image" accept="image/*" required @change="getBase64" />
        </div> -->
      </FullCard>
    </b-row>
    </b-form>
  </div>
</template>

<script>
import MainTitle from '~/components/MainTitle.vue'
import FullCard from '~/components/FullCard.vue'
import HeaderTitle from '~/components/HeaderTitle'
import UploadButton from '~/components/UploadButton'
import { days } from '~/static/data'
import { mapState } from 'vuex'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle,
    UploadButton
  },
  data: () => ({
    image: undefined,
    options: ['Projector'],
    tbl: {
      core_workspace_id: '',
      sitting_capacity: '',
      images: {
        pic1: ''
      },
      description: '',
      name: '',
      reservation_fee: '',
      reservation_limit: '',
      allow_over_reservation: ''
    },
    slots: [
      {
        core_restaurant_id: '',
        open_to: '',
        open_from: '',
        closed: 0,
        day: ''
      }
    ],
    days: days,
    _id: undefined
  }),
  computed: {
    ...mapState({
      current_space: state => state.current_space,
      loading: state => state.loading,
      base_url: state => state.base_url + '/tables'
    })
  },
  methods: {
    // getBase64(e) {
    //   let input = event.target
    //   if (input.files && input.files[0]) {
    //     let reader = new FileReader()
    //     reader.onload = e => {
    //       this.image = e.target.result
    //     }
    //
    //     reader.readAsDataURL(input.files[0])
    //   }
    // },
    async saveSlots(data) {
      try {
        return await this.$devless
          .addData('core', 'restaurant_opening_days', data)
          .then(res => {
            if (res.status_code === 609) {
              return true
            }
            this.$toast.error(
              'Error Occurred! Try Adding Available Booking Time Again'
            )
            // this.$router.push(`${this.base_url}/${this._id}`)
          })
      } catch (e) {
        this.$sentry.captureException(e)
      }
    },
    async addTable() {
      this.tbl.core_workspace_id = this.current_space.id

      if (!this.image) {
        this.$toast.error('Please provide an image')
        return
      }

      if (
        !(this.tbl.images.pic1 = await this.$store.dispatch('uploadImage', {
          base64: this.image
        }))
      )
        return

      let tbl = this.tbl
      let res = ''
      tbl.images = JSON.stringify(this.tbl.images)

      if ((res = await this.$store.dispatch('addTable', tbl))) {
        let xhrData = _.map(this.slots, v => {
          v.core_restaurant_id = res
          return this.saveSlots(v)
        })

        Promise.all(xhrData)
          .catch(err => {
            this.$toast.error(
              'Error Occurred While Adding Available Booking Time. Try Again...'
            )
            this.$router.push(`${this.base_url}`)
            this.$sentry.captureException(err)
          })
          .finally(done => {
            this.$router.go(-1)
          })
      }
    },
    addSlot() {
      this.slots.push({
        core_restaurant_id: '',
        open_to: '',
        open_from: '',
        closed: 0,
        day: ''
      })
    },
    removeDate(i) {
      this.slots.splice(i, 1)
    }
  }
}
</script>

<style lang="css">
</style>
