<template lang="resources">
  <div class="">
    <MainTitle title="Restaurant Tables">
      <div class="pull-right">
        <b-button
          :to="base_url + '/add'"
          variant="primary">Add Table</b-button>
      </div>
    </MainTitle>
    <b-row class="masonry" v-if="loading">
      <FullCard type="pd-0" cols="4" v-for="(tbl, i) in 3" :key="i">
        <content-placeholders>
          <content-placeholders-img />
          <content-placeholders-heading />
          <content-placeholders-text :lines="6" />
        </content-placeholders>
      </FullCard>
    </b-row>
    <b-row class="masonry" v-else>
      <FullCard type="pd-0" cols="4" v-for="(tbl, i) in data" :key="i">
        <img :src="setImage(tbl.images)" class="img-responsive" alt="">
        <span class="card-label label label-warning">{{ current_space.name }}</span>
        <div class="p-lr-20 m-t-20 pd-b-20">
          <HeaderTitle :subtitle="tbl.name" :titleright="getPrice(tbl.reservation_fee)" />
          <p class="text-muted m-b-20">{{ tbl.description }}</p>
          <p class="mr-t-20">Reservation Limit: {{ tbl.reservation_limit }}</p>
          <p>Capacity: {{ tbl.sitting_capacity }}</p>
          <p>Allow Over Booking: {{ tbl.allow_over_reservation === 1 ? 'Yes' : 'No' }}</p>
          <!-- <p>Available from: {{ formatTime(tbl.open_from) }} - {{ formatTime(tbl.open_to) }}</p> -->
          <div class="mr-t-30">
            <b-button variant="link" class="c-blue mr-r-20" @click="editTable(tbl, i)"><i class="fa fa-pencil"></i> Edit Table</b-button>
            <b-button variant="link" class="c-red" @click="deleteTable(tbl, i)"><i class="fa fa-trash"></i> Delete Table</b-button>
          </div>
        </div>
      </FullCard>
    </b-row>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  computed: {
    ...mapState({
      base_url: state => state.base_url + '/tables',
      data: state => state.tables.data,
      current_space: state => state.current_space,
      loading: state => state.loading
    })
  },
  created() {
    this.$store.dispatch('fetchTables', this.current_space.id)
  },
  methods: {
    setImage(images) {
      if (typeof images === 'object') {
        return images[0]
      }
      return JSON.parse(images)[0]
    },
    formatTime(time) {
      return this.$moment(time, 'HH:mm').format('h:mm A')
    },
    getPrice(price) {
      let currency = _.upperCase(this.current_space.currency)
      return `${price} ${currency} / hr`
    },
    editTable(payload, index) {
      payload.images = JSON.parse(payload.images)

      let table = {
        row: payload,
        index: index
      }
      this.$store.commit('SET_TABLE', table)
      this.$router.push(this.$route.path + '/' + payload.id)
    },
    deleteTable(payload, index) {
      if (!confirm('Are you sure?')) return

      let table = {
        row: payload,
        index: index
      }
      this.$store.dispatch('deleteTable', table)
    }
  }
}
</script>

<style lang="css">
</style>
