<template>
  <b-row>
		<div class="col-md-8 col-md-offset-2 mr-t-30">
			<MainTitle title="Select Your Coworking Space" />
      <b-form class="onboard" @submit.prevent="setSpace">
        <div class="col-sm-6" v-for="(space, i) in spaces" :key="i">
          <input :id="'sh-space-'+i" type="radio" @change="handleInput(space)" name="sh-space" />
					<label :for="'sh-space-'+i" class="card-box">
						<img src="/images/logo3.png" alt="" height="37px">
						<p class="m-0">{{ space.name}} <br>{{ space.description}}</p>
					</label>
        </div>
        <div class="col-sm-12">
					<button class="btn btn-primary" type="submit">Manage Space</button>
				</div>
      </b-form>
  </div>
</b-row>
</template>

<script>
import MainTitle from '~/components/MainTitle.vue'

export default {
  layout: 'onboard',
  components: {
    MainTitle
  },
  data: () => ({
    selected_space: undefined
  }),
  computed: {
    spaces() {
      return this.$store.state.spaces
    }
  },
  created() {
    this.$store.dispatch('getSpaces')
  },
  methods: {
    setSpace() {
      if (this.selected_space) {
        this.$store.commit('SET_CURRENT_SPACE', this.selected_space)
        // this.$router.push({
        //   name: 'space-admin',
        //   params: { admin: this.selected_space.tag }
        // })
        location.href = location.origin + '/space/' + this.selected_space.tag
      } else {
        this.$toast.info('Select A Space First ...')
      }
    },
    handleInput(e) {
      this.selected_space = e
    }
  }
}
</script>

<style>
</style>
