<template lang="html">
  <div class="">
    <MainTitleSearch title="Inventory" search="true" dropdown="true" :value="tag" :drops="drops" v-on:dropValue="getDropValue">
      <template slot="search">
        <div class="input-group col-md-4 top-search">
          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-icon"><i class="fa fa-search"/></button>
          </span>
          <input
            id="example-input3-group2"
            v-model="searchTerm"
            type="text"
            name="example-input3-group2"
            class="form-control"
            placeholder="Search">
          <span class="input-group-btn">
            <button
              type="button"
              class="btn bg-charcoal-grey txt-light"
              @click="resetSearch">Clear</button>
          </span>
        </div>
      </template>
      <div class="pull-right">
        <b-button
          :to="base_url + '/manage'"
          variant="primary">Manage Inventory</b-button>
      </div>
    </MainTitleSearch>
    <b-row>
      <FullCard type="card-feed pd-t-0">
        <div class="table-responsive">
          <vue-good-table
            ref="orders_table"
            :columns="columns"
            :rows="orders"
            :search-options="{
              enabled: true,
              externalQuery: searchTerm
            }"
            style-class="feed-2 table table-hover table-striped m-0"
          >
          <template slot="table-row"
            slot-scope="props">
  <div v-if="props.column.field === 'member'">{{ setMember(props.row) }}</div>
  <div v-else-if="props.column.field == 'timestamp'">{{ formatTime(props.row.timestamp) }}</div>
  <div v-else-if="props.column.field === 'action'">
    <b-button variant="link" class="c-blue" @click="viewDetails(props)">
      <i class="fa fa-fw fa-pencil c-blue" /> Details
    </b-button>
  </div>
  <div v-else>{{ props.formattedRow[props.column.field] }}</div>
</template>
        </vue-good-table>
        </div>
      </FullCard>
    </b-row>
    <Modal identifier="viewOrder">
      <div class="" v-if="singleOrder">
        <h4>Order Details</h4>
        <p class="text-muted">{{ singleOrder.fullname }}  •  {{ singleOrder.type }}  •  {{ $moment(singleOrder.timestamp * 1000).format('YYYY-MM-DD HH:mm:ss') }}</p>
        <p>Item Name: {{ singleOrder.title }}</p>
        <p>Quantity: {{ singleOrder.quantity }}</p>
        <p>Reserved Table Spot: {{ singleOrder.table_number }}</p>
        <p>Serve Time: {{ $moment(singleOrder.timestamp * 1000).format('h:mm a') }}</p>
        <p v-if="singleOrder">Notes: {{ singleOrder.notes }}</p>
      </div>
      <template slot="footer">
  <b-button
    :disabled="(singleOrder) ? singleOrder.status != null : false"
    variant="primary"
    @click="completeOrder()"
  >Complete Order</b-button>
  <b-button variant="link" class="c-red pull-right" style="padding-top: 5px" @click="cancelOrder()">
    <i class="fa fa-trash" /> Cancel Order
  </b-button>
</template>
    </Modal>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import moment from 'moment'
import MainTitleSearch from '~/components/MainTitleSearch.vue'
import Modal from '~/components/Modal.vue'
import FullCard from '~/components/FullCard.vue'

export default {
  async asyncData({ store }) {
    let tag = 'uncompleted'

    await store.dispatch('getFoodOrders', null)

    return {
      tag: tag
    }
  },
  layout: 'dashboard',
  components: {
    MainTitleSearch,
    Modal,
    FullCard
  },
  data: () => ({
    searchTerm: '',
    columns: [
      {
        label: 'Title',
        field: rowObj => {
          return rowObj.name
        },
        tdClass: 'c-shack-red'
      },
      {
        label: 'Type',
        field: rowObj => {
          return rowObj.type
        }
      },
      {
        label: 'Quantity',
        field: 'quantity'
      },
      {
        label: 'Table Reserved',
        field: 'table_number'
      },
      {
        label: 'Ordered By',
        field: rowObj => {
          return `${rowObj.first_name} ${rowObj.last_name}`
        }
      },
      {
        label: 'Timestamp',
        field: 'timestamp'
      },
      {
        label: '',
        field: 'action'
      }
    ],
    drops: [
      { title: 'Uncompleted', tag: 'uncompleted' },
      { title: 'Completed', tag: 'completed' }
    ],
    singleOrder: undefined,
    index: 0
  }),
  computed: {
    ...mapState({
      base_url: state => state.base_url + '/inventory',
      orders: state => state.inventory.orders,
      current_space: state => state.current_space,
      loading: state => state.loading
    })
  },

  methods: {
    getDropValue(drop) {
      this.$store.commit('CHANGE_LOADING', true)

      if (drop.tag == 'uncompleted') {
        this.$store.dispatch('getFoodOrders', null)
      } else {
        this.$store.dispatch('getFoodOrders', 1)
      }

      this.$store.commit('CHANGE_LOADING', false)

      // alert('Start handling that. WIP. We getting there')
    },
    resetSearch() {
      this.searchTerm = ''
    },
    formatTime(time) {
      if (this.current_space.timezone == 'America/Los_Angeles') {
        const moment = require('moment-timezone')

        return moment
          .unix(time)
          .tz('America/Los_Angeles')
          .format('ddd, Do MMM YYYY hh:mm a')
      }
      return this.$moment(time * 1000)
        .tz('Europe/London')
        .format('ddd, Do MMM YYYY hh:mm a')
    },
    hideModal() {
      $('#viewOrder').modal('hide')
    },
    viewDetails(props) {
      $('#viewOrder').modal('show')
      this.index = props.index
      this.singleOrder = props.row
      this.singleOrder.fullname = `${props.row.first_name} ${
        props.row.last_name
      }`
      this.singleOrder.title = props.row.name
    },
    async completeOrder() {
      // toggle loading
      this.$store.commit('CHANGE_LOADING', true)
      await this.$devless
        .updateData('core', 'eatry_orders', 'id', this.singleOrder.c_id, {
          status: 1
        })
        .then(res => {
          //toggle loading
          this.$store.commit('CHANGE_LOADING', false)

          if (res.status_code == 619) {
            this.orders.splice(this.index, 1)
            this.$toast.success('Order Updated Successfully.')
            this.hideModal()
            return
          }
          this.$toast.error('Error Completing Order. Try Again ...')
        })
    },
    cancelOrder() {
      if (!confirm('Are you sure?')) return

      this.$store
        .dispatch('superApi', {
          table: 'core_eatry_orders',
          action: 'destroy',
          queries: [{ where: ['id', this.singleOrder.c_id] }]
        })
        .then(res => {
          if (res.payload == 1) {
            this.orders.splice(this.index, 1)
            this.$toast.success('Order Deleted Successfully.')
            this.hideModal()
            return
          }
          this.$toast.error('Error Deleting Order. Try Again...')
        })
    }
  }
}
</script>

<style lang="css">
</style>
