<template lang="html">
  <div class="">
    <EditRoomBookings v-if="anyData.type === 'rooms'" :data="anyData" />
    <EditTableBookings v-else :data="anyData" />
    <b-button variant="link" class="m-r-15 c-blue" @click="$router.go(-1)"><i class="fa fa-chevron-left"></i> Back</b-button>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import EditRoomBookings from '~/components/EditRoomBookings'
import EditTableBookings from '~/components/EditTableBookings'

export default {
  layout: 'dashboard',
  components: {
    EditRoomBookings,
    EditTableBookings
  },
  computed: {
    ...mapState({
      anyData: state => state.anyData
    })
  },
  methods: {
    updateBooking() {}
  }
}
</script>

<style lang="css">
</style>
