<template>
  <div class="wrapper-page logins">
    <img src="/images/logo2.png" alt="" width="150">
		<p class="mr-t-30">RESET PASSWORD</p>
		<form class="mr-t-70" @submit.prevent="resetPassword">
			<div class="form-group">
				<input class="form-control" v-model="email" type="email" required="" placeholder="Email">
			</div>
			<div class="form-group account-btn text-center mr-t-70">
				<button class="form-control btn waves-effect waves-light" type="submit" :disabled="loading">Reset Password</button>
			</div>
		</form>

		<p class="mr-t-30 text-muted">Remembered your Password? <nuxt-link href="#" class="c-brown-grey" to="/login">Login</nuxt-link></p>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  auth: false,
  data: () => ({
    email: ''
  }),
  computed: {
    ...mapState({
      loading: state => state.loading
    })
  },
  methods: {
    async resetPassword() {
      this.loading = !this.loading
      await this.$store
        .dispatch('sendResetCode', { email: this.email })
        .then(res => {
          this.loading = !this.loading
        })
    }
  }
}
</script>

<style>
</style>
