<template>
  <div class="wrapper-page logins">
    <img src="/images/logo2.png" alt="" width="150">
		<p class="mr-t-30">RESET PASSWORD</p>
		<form class="mr-t-70" @submit.prevent="resetPassword">
			<div class="form-group">
				<input class="form-control" v-model="details.reset_code" type="hidden" required="" placeholder="Reset Code">
			</div>
			<div class="form-group">
				<input class="form-control" v-model="details.new_password" type="password" required="" placeholder="New Password">
			</div>
      <div class="form-group">
				<input class="form-control" v-model="confirmPassword" type="password" required="" placeholder="Confirm Password">
			</div>
			<div class="form-group account-btn text-center mr-t-70">
				<button class="form-control btn waves-effect waves-light" type="submit" :disabled="loading">Reset Password</button>
			</div>
		</form>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  auth: false,
  async asyncData({ app, route }) {
    return {
      details: {
        reset_code: route.query.q,
        new_password: ''
      }
    }
  },
  data: () => ({
    confirmPassword: '',
    code: ''
  }),
  computed: {
    ...mapState({
      loading: state => state.loading
    })
  },
  mounted() {
    // this.setResetCode()
  },
  methods: {
    /* format http://localhost:3000/forgot-password/reset?q=5bfe8eb5e82c7 */
    async resetPassword() {
      if (this.details.new_password === this.confirmPassword) {
        this.loading = !this.loading
        await this.$store.dispatch('resetPassword', this.details).then(res => {
          this.$router.push('/login')
        })
        return
      }
      this.$toast.error("Password doesn't much. Please check and try again")
    },
    setResetCode() {
      this.details.reset_code = this.$route.query.q
    }
  }
}
</script>

<style>
</style>
