<template lang="html">
  <div class="">
    <MainTitleSearch
      title="Restaurant Table Reservations"
      search="true">
      <template slot="search">
        <div class="input-group col-md-4 top-search">
          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-icon"><i class="fa fa-search"/></button>
          </span>
          <input
            id="example-input3-group2"
            v-model="searchTerm"
            type="text"
            name="example-input3-group2"
            class="form-control"
            placeholder="Search">
          <span class="input-group-btn">
            <button
              type="button"
              class="btn bg-charcoal-grey txt-light"
              @click="resetSearch">Clear</button>
          </span>
        </div>
      </template>
      <div class="btn-group sh-btn-grp pull-right">
         <a class="btn btn-default waves-effect pd-lr-10" @click="navigateToNextOrPrev('prev')"><i class="fa fa-angle-left"></i></a>
         <a class="btn btn-default waves-effect text-dark">{{ format(month) }}</a>
         <a class="btn btn-default waves-effect pd-lr-10" @click="navigateToNextOrPrev('next')"><i class="fa fa-angle-right"></i></a>
      </div>
    </MainTitleSearch>
    <b-row>
      <FullCard type="card-feed pd-t-0">
        <div class="table-responsive">
          <vue-good-table
            :columns="columns"
            :rows="reservations"
            :search-options="{
              enabled: true,
              externalQuery: searchTerm
            }"
            style-class="feed-2 table table-hover table-striped m-0">
            <template
              slot="table-column"
              slot-scope="props">
              <div>
                {{ props.column.label }}
              </div>
            </template>
            <template
              slot="table-row"
              slot-scope="props">
              <div v-if="props.column.field === 'member'">
                <nuxt-link :to="base_url + '/directory/'+props.row.member_id"><span class="c-shack-red">{{ props.row.member }}</span></nuxt-link>
              </div>
              <div v-else>{{ props.formattedRow[props.column.field] }}</div>
            </template>
          </vue-good-table>
        </div>
      </FullCard>
    </b-row>
    <b-button
      variant="link"
      class="m-r-15 c-blue"
      @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script>
import MainTitleSearch from '~/components/MainTitleSearch'
import FullCard from '~/components/FullCard'
import { mapState } from 'vuex'

export default {
  async asyncData({ store, app, error }) {
    const moment = require('moment')

    let month = moment().format('DD/MM/YYYY')

    await store.dispatch('fetchReservations', month)

    return {
      month: month
    }
  },
  layout: 'dashboard',
  components: {
    MainTitleSearch,
    FullCard
  },
  data: () => ({
    searchTerm: '',
    columns: [
      {
        label: 'Member',
        field: 'member'
      },
      {
        label: 'Table',
        field: 'table'
      },
      {
        label: 'Date',
        field: 'date',
        type: 'date',
        dateInputFormat: 'DD/MM/YYYY',
        dateOutputFormat: 'ddd, MMM Do YYYY'
      },
      {
        label: 'From',
        field: 'from'
      },
      {
        label: 'To',
        field: 'to'
      },
      {
        label: 'Seats Reserved',
        field: 'seats'
      },
      {
        label: 'Booked On',
        field: 'created_on'
      }
    ]
  }),
  computed: {
    ...mapState({
      base_url: state => state.base_url,
      reservations: state => state.tables.reservations
    })
  },
  methods: {
    resetSearch() {
      this.searchTerm = ''
    },
    format(date) {
      return this.$moment(date, 'DD/MM/YYYY').format('MMM DD, YYYY')
    },
    navigateToNextOrPrev(opt) {
      if (opt == 'prev') {
        this.month = this.$moment(this.month, 'DD/MM/YYYY')
          .subtract(1, 'days')
          .format('DD/MM/YYYY')
        this.$store.dispatch('fetchReservations', this.month)
      } else {
        this.month = this.$moment(this.month, 'DD/MM/YYYY')
          .add(1, 'days')
          .format('DD/MM/YYYY')
        this.$store.dispatch('fetchReservations', this.month)
      }
    }
  }
}
</script>

<style lang="css" scoped>
</style>
