<template lang="html">
  <div class="">
    <b-form
      @submit.prevent="addInventory">
      <MainTitle title="Add Inventory">
        <div class="pull-right">
          <b-button
            type="submit"
            variant="primary">Save Inventory</b-button>
        </div>
      </MainTitle>
      <b-row>
        <FullCard
          cols="6"
          type="card-feed">
          <HeaderTitle subtitle="New Inventory" />
          <div class="row p-lr-20">
            <div class="col-md-12">
              <b-form-group
                id="inventory_name"
                label="Name:"
                label-for="inventory_name">
                <b-form-input
                  id="inventory_name"
                  v-model="inventory.name"
                  type="text"
                  placeholder="Add inventory name"
                  required/>
              </b-form-group>
              <b-form-group
                id="description"
                label="Description:"
                label-for="description">
                <b-form-textarea
                  id="description"
                  v-model="inventory.description"
                  placeholder="Description about this inventory"
                  required/>
              </b-form-group>
              <b-form-group
                id="inventory_price"
                label="Price:"
                label-for="inventory_price">
                <b-form-input
                  id="inventory_price"
                  v-model="inventory.price"
                  type="number"
                  placeholder="10"
                  required/>
              </b-form-group>
              <b-form-group
                id="inventory_type"
                label="Type:"
                label-for="inventory_type">
                <b-form-select
                  v-model="inventory.type"
                  :options="options"
                  required
                  placeholder="Select Inventory Type"
                >
                  <template slot="first">
                    <option
                      value=""
                      disabled>-- Select Inventory Type --</option>
                  </template>
                </b-form-select>
              </b-form-group>
              <b-form-group
                id="meal_time"
                label="Meal Time:"
                label-for="meal_time">
                <label slot="label">Meal Time:
                  <nuxt-link :to="base_url+'/inventory/labels'">Add Labels
                </nuxt-link></label>
                <b-form-select
                  v-model="inventory.core_eatry_specials_id"
                  required
                >
                  <option
                    :value="undefined"
                    disabled>-- Select Meal Label --</option>
                  <option
                    v-for="(meal, i) in meal_times"
                    :key="i"
                    :value="meal.id">{{ meal.label }}</option>
                </b-form-select>
              </b-form-group>
            </div>
          </div>
          <UploadButton
            v-model="image"
            name="inventory_image" />
        </FullCard>
      </b-row>
    </b-form>
    <b-button
      variant="link"
      class="m-r-15 c-blue"
      @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script>
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'
import UploadButton from '~/components/UploadButton'
import { mapState } from 'vuex'

export default {
  async asyncData({ store }) {
    await store.dispatch('fetchLabels')
  },
  layout: 'dashboard',
  components: {
    MainTitle,
    HeaderTitle,
    FullCard,
    UploadButton
  },
  data: () => ({
    image: undefined,
    inventory: {
      core_workspace_id: '',
      images: [],
      type: '',
      description: '',
      name: '',
      price: ''
    },
    options: [
      { text: 'Food', value: 'food' },
      {
        text: 'Drink',
        value: 'drink'
      }
    ]
  }),
  computed: {
    ...mapState({
      meal_times: state => state.inventory.meal_times,
      base_url: state => state.base_url
    })
  },
  methods: {
    async addInventory() {
      this.inventory.core_workspace_id = this.$store.getters.getCurrentSpaceId

      if (!this.image) {
        this.$toast.error('Please provide an image')
        return
      }

      if (
        !(this.inventory.images[0] = await this.$store.dispatch('uploadImage', {
          base64: this.image
        }))
      )
        return

      let inventory = this.inventory
      inventory.images = JSON.stringify(this.inventory.images)

      this.$store.dispatch('addInventory', inventory)
    }
  }
}
</script>

<style lang="css">
</style>
