<template lang="html">
  <div class="">
    <MainTitleSearch
      title="Manage"
      search="true">
      <template slot="dropdown">
         •
        <div
          class="btn-group"
          role="group">
          <button
            type="button"
            class="btn btn-default dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            {{ dropname.title }}
            <span class="caret"/>
          </button>
          <ul class="dropdown-menu">
            <li
              v-for="(drop, i) in drops"
              :key="i"><a @click="setDrop(drop)">{{ drop.title }}</a></li>
          </ul>
        </div>
      </template>
      <template slot="search">
        <div class="input-group col-md-4 top-search">
          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-icon"><i class="fa fa-search"/></button>
          </span>
          <input
            id="example-input3-group2"
            v-model="searchTerm"
            type="text"
            name="example-input3-group2"
            class="form-control"
            placeholder="Search">
          <span class="input-group-btn">
            <button
              type="button"
              class="btn bg-charcoal-grey txt-light"
              @click="resetSearch">Clear</button>
          </span>
        </div>
      </template>
      <div class="pull-right">
        <b-button
          :to="$route.path + '/add'"
          variant="primary">Add Inventory</b-button>
      </div>
    </MainTitleSearch>
    <b-row>
      <FullCard type="card-feed pd-t-0">
        <div
          class="table-responsive">
          <vue-good-table
            ref="inventory_table"
            :columns="columns"
            :rows="inventory"
            :search-options="{
              enabled: true,
              externalQuery: searchTerm
            }"
            style-class="feed-2 table table-hover table-striped m-0"
          >
            <template
              slot="table-column"
              slot-scope="props">
              <div>
                {{ props.column.label }}
              </div>
            </template>
            <template
              slot="table-row"
              slot-scope="props">
              <div
                v-if="props.column.field === 'name'"
                class="c-shack-red">
                {{ props.row.name }}
              </div>
              <div v-else-if="props.column.field === 'images'">
                <img
                  :src="setImage(props.row.images)"
                  alt="no-image"
                  width="100"
                  height="100" >
              </div>
              <div v-else-if="props.column.field === 'price'">
                <span>{{ $store.getters.getCurrency }} {{ props.row.price }}</span>
              </div>
              <div v-else-if="props.column.label === 'Status'">
                <b-badge
                  :variant="props.row.disable ? 'danger' : 'primary'"
                  style="color: white;">
                  {{ props.row.disable ? 'Inactive' : 'Active' }}
                </b-badge>
              </div>
              <div v-else-if="props.column.field === 'type'">
                <b-badge
                  :variant="props.row.type === 'food' ? 'warning' : 'info'"
                  style="color: white;">{{ props.row.type }}</b-badge>
              </div>
              <div
                v-else-if="props.column.field === 'option'"
                class="row">
                <b-col md="6">
                  <b-button
                    variant="link"
                    class="c-blue"
                    @click="editEntry(props)">
                    <i class="fa fa-fw fa-pencil c-blue"/> Edit
                  </b-button>
                </b-col>
                <b-col md="6">
                  <b-button
                    variant="link"
                    class="c-pred"
                    @click="deleteEntry(props)">
                    <i class="fa fa-fw fa-times c-pred"/> Remove
                  </b-button>
                </b-col>
              </div>
              <div v-else>
                {{ props.formattedRow[props.column.field] }}
              </div>
            </template>
          </vue-good-table>
        </div>
      </FullCard>
    </b-row>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitleSearch from '~/components/MainTitleSearch'
import FullCard from '~/components/FullCard'
import SearchBar from '~/components/SearchBar'

export default {
  async asyncData({ store }) {
    await store.dispatch('getInventory', {
      workspace: store.state.current_space.id,
      type: 'food'
    })
  },
  layout: 'dashboard',
  components: {
    MainTitleSearch,
    FullCard,
    SearchBar
  },
  data: () => ({
    dropname: {
      title: 'Foods',
      tag: 'food'
    },
    drops: [{ title: 'Foods', tag: 'food' }, { title: 'Drinks', tag: 'drink' }],
    columns: [
      {
        label: 'Name',
        field: 'name',
        thClass: 'bold-n'
      },
      {
        label: 'Image',
        field: 'images',
        thClass: 'bold-n'
      },
      {
        label: 'Price',
        field: 'price',
        thClass: 'bold-n'
      },
      {
        label: 'Type',
        field: 'type',
        thClass: 'bold-n'
      },
      {
        label: 'Status',
        field: row => {
          return row.disable ? `inactive` : 'active'
        },
        thClass: 'bold-n'
      },
      {
        label: '',
        field: 'option',
        sortable: false
      }
    ],
    searchTerm: ''
  }),
  computed: {
    ...mapState({
      inventory: state => state.inventory.data,
      current_space: state => state.current_space,
      loading: state => state.loading
    })
  },
  methods: {
    setDrop(row) {
      this.dropname = row
      this.getInventory()
    },
    getInventory() {
      this.$store.dispatch('getInventory', {
        workspace: this.$store.state.current_space.id,
        type: this.dropname.tag
      })
    },
    setImage(images) {
      if (typeof images === 'object') {
        return images[0]
      }
      return JSON.parse(images)[0]
    },
    resetSearch() {
      this.searchTerm = ''
    },
    editEntry(props) {
      this.$store.commit('SET_CURRENT_INVENTORY', props)
      this.$router.push(this.$route.path + '/' + props.row.id)
    },
    deleteEntry(props) {
      if (!confirm('Are you sure')) return

      this.$store.dispatch('removeInvetory', props)
    }
  }
}
</script>

<style lang="css">
  a {
    cursor: pointer;
  }
</style>
