<template lang="html">
  <div class="">
    <b-form @submit.prevent="updateCard">
      <MainTitle
        :subtitle="`${member.first_name} ${member.last_name}`"
        title="Edit Profile">
        <div class="pull-right">
          <b-button
            :disabled="loading"
            type="submit"
            variant="primary">Add Card</b-button>
        </div>
      </MainTitle>
      <b-row>
        <FullCard>
          <div class="col-md-6">
            <HeaderTitle subtitle="Update Billing Information" />

            <b-row>
              <b-form-group
                class="col-md-6"
                label="Name On Card"
                label-for="name">
                <b-form-input
                  id="name"
                  v-model="owner.name"/>
              </b-form-group>
              <b-form-group
                class="col-md-6"
                label="Email"
                label-for="email">
                <b-form-input
                  id="email"
                  v-model="owner.email"
                  type="email"/>
              </b-form-group>
              <b-form-group
                class="col-md-6"
                label="Phone Number"
                label-for="phone">
                <b-form-input
                  id="phone"
                  v-model="owner.phone"
                  type="tel"/>
              </b-form-group>
              <b-form-group
                class="col-md-6"
                label="Address"
                label-for="address">
                <b-form-input
                  id="address"
                  v-model="owner.address.line1" />
              </b-form-group>
              <b-form-group
                class="col-md-6"
                label="City"
                label-for="city">
                <b-form-input
                  id="city"
                  v-model="owner.address.city" />
              </b-form-group>
              <b-form-group
                class="col-md-6"
                label="State"
                label-for="state">
                <b-form-input
                  id="state"
                  v-model="owner.address.state" />
              </b-form-group>
              <b-form-group
                class="col-md-6"
                label="Postal Code"
                label-for="postal_code">
                <b-form-input
                  id="state"
                  v-model="owner.address.postal_code"
                  type="number" />
              </b-form-group>
              <b-form-group
                class="col-md-6"
                label="Country"
                label-for="country">
                <b-form-select
                  id="country"
                  v-model="owner.address.country">
                  <option
                    value
                    disabled>-- Choose country --</option>
                  <option
                    v-for="(country, i) in countries"
                    :key="i"
                    :value="country.country"
                  >{{ country.country }}</option>
                </b-form-select>
              </b-form-group>
            </b-row>
          </div>
          <HeaderTitle subtitle="Card Detail" />
          <b-row>
            <div
              :class="{ complete }"
              class="row credit-card-inputs">
              <div class="form-group col-md-6">
                <label>Card Number</label>
                <card-number
                  ref="cardNumber"
                  :stripe="stripe"
                  :options="options"
                  class="form-control stripe-element card-number"
                  @change="number = $event.complete"
                />
              </div>
              <div class="form-group col-md-6">
                <label>Expires</label>
                <card-expiry
                  ref="cardExpiry"
                  :stripe="stripe"
                  :options="options"
                  class="form-control stripe-element card-expiry"
                  @change="expiry = $event.complete"
                />
              </div>
              <div class="form-group col-md-6">
                <label>CVV</label>
                <card-cvc
                  ref="cardCvc"
                  :stripe="stripe"
                  :options="options"
                  class="form-control stripe-element card-cvc"
                  @change="cvc = $event.complete"
                />
              </div>
            </div>
          </b-row>
        </FullCard>
      </b-row>
    </b-form>
    <b-button
      variant="link"
      class="m-r-15 c-blue"
      @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script>
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'
import { mapState } from 'vuex'
import {
  CardNumber,
  CardExpiry,
  CardCvc,
  createToken,
  createSource
} from 'vue-stripe-elements-plus'
import { countries } from '~/static/countries'

const publishable_key = process.env.stripe.publishable_key

export default {
  async asyncData({ store, params, error, route, app }) {
    return await store.dispatch('getUserById', route.params.id).then(res => {
      if (res.payload.results) {
        return {
          member: res.payload.results[0]
        }
      } else {
        error({ statusCode: 404, message: 'Member Not Found' })
      }
    })
  },
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle,
    CardNumber,
    CardExpiry,
    CardCvc
  },
  props: {
    stripe: {
      type: String,
      default: publishable_key
    }
  },
  data: () => ({
    countries: countries,
    complete: false,
    number: false,
    expiry: false,
    cvc: false,
    options: {
      style: {
        base: {
          color: '#555'
        }
      }
    },
    owner: {
      name: '',
      address: {
        line1: '',
        line2: '',
        postal_code: '',
        city: '',
        state: '',
        country: ''
      },
      phone: '',
      email: ''
    }
  }),
  computed: {
    ...mapState({
      loading: state => state.loading
    })
  },
  watch: {
    number() {
      this.update()
    },
    expiry() {
      this.update()
    },
    cvc() {
      this.update()
    }
  },
  created() {
    this.owner = {
      name: this.member.first_name + ' ' + this.member.last_name,
      address: {
        line1: this.member.mailing_address
      },
      phone: this.member.phone_number,
      email: this.member.email
    }
  },
  methods: {
    update() {
      this.complete = this.number && this.expiry && this.cvc

      // field completed, find field to focus next
      if (this.number) {
        if (!this.expiry) {
          this.$refs.cardExpiry.focus()
        } else if (!this.cvc) {
          this.$refs.cardCvc.focus()
        }
      } else if (this.expiry) {
        if (!this.cvc) {
          this.$refs.cardCvc.focus()
        } else if (!this.number) {
          this.$refs.cardNumber.focus()
        }
      }
      // no focus magic for the CVC field as it gets complete with three
      // numbers, but can also have four
    },
    updateCard() {
      let owner = this.owner

      let qs = require('qs')
      let _self = this

      //toggle loading
      this.$store.commit('CHANGE_LOADING', true)

      try {
        createSource({
          owner: owner
        }).then(async data => {
          let details = {
            source: data.source.id
          }

          details = qs.stringify(details)

          var xhr = new XMLHttpRequest()
          xhr.withCredentials = true

          xhr.addEventListener('readystatechange', function() {
            if (this.readyState === 4) {
              _self.$toast.success('Payment Source Updated Successfully')
              _self.$router.go(-1)
            }
          })

          xhr.open(
            'POST',
            `https://api.stripe.com/v1/customers/${
              _self.member.payment_token
            }/sources`
          )
          xhr.setRequestHeader(
            'Content-Type',
            'application/x-www-form-urlencoded'
          )
          xhr.setRequestHeader(
            'Authorization',
            `Bearer ${process.env.stripe.secret_key}`
          )

          xhr.send(details)
        })
      } catch (e) {
        this.$toast.error('Error Occurred. Try Again ...')
        this.$sentry.captureException(e)
      }
    }
  }
}
</script>

<style lang="css" scoped>
</style>
