<template lang="html">
  <div class="">
    <b-form @submit.prevent="updateMember">
      <MainTitle title="Edit Profile" :subtitle="`${member.first_name} ${member.last_name}`">
  			<div class="pull-right">
  				<b-button type="submit" variant="primary" :disabled="loading">Update Profile</b-button>
  			</div>
  		</MainTitle>
      <b-row>
        <FullCard cols="6">
          <div class="up-photo">
            <img
              :src="(image) ? image : getProfilePic(member.profile_pic)"
              alt="user"
              class="thumb-lg img-circle">
  					<p v-if="!image"><strong>Choose file:</strong>  no file attached</p>
            <p v-else><strong>Choose file:</strong> {{ filename }}</p>
            <!-- <input type="file" name="" value="">
  					<a href="#" class="btn"> Upload Photo </a> -->
            <div class="upload-btn-wrapper">
  						<button class="btn">Upload Photo</button>
  						<input type="file" name="myfile" accept="image/*" @change="getBase64" />
  					</div>
  					<div class="clearfix"></div>
  				</div>
          <div class="form-group col-md-6">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" v-model="member.first_name" class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" v-model="member.last_name" class="form-control">
          </div>
          <div class="form-group col-md-12">
						<label for="">About You:</label>
						<textarea class="form-control" v-model="member.bio" rows="5"></textarea>
					</div>
          <div class="form-group col-md-12">
						<label for="tags">Tags</label>
						<!-- <input type="text" class="form-control" id="tags" placeholder="Add tags about you separated by comma(,)"> -->
            <multiselect v-model="member.tags" :options="tags" :multiple="true" :taggable="true"></multiselect>
					</div>
          <div class="form-group col-md-6">
						<label for="location">Mailing Address</label>
						<input type="text" class="form-control" id="location" v-model="member.mailing_address" placeholder="San Francisco, USA">
					</div>
          <div class="form-group col-md-6">
						<label for="company">Company</label>
						<!-- <input type="text" class="form-control" id="company" v-model="member.company" placeholder="Awesome Co"> -->
            <select class="form-control" name="company" v-model="member.devless_companies_id" @change="handleCompany">
              <option value="" disabled>{{ companies.length == 0 ? 'Loading list' : 'Choose a company' }}</option>
              <option v-for="(company, i) in companies" :key="i" :value="company.id">{{ company.name }}</option>
            </select>
					</div>
          <div class="form-group col-md-6">
						<label for="job">Job Title</label>
						<input type="text" class="form-control" id="job" v-model="member.job_title" placeholder="Awesome Co">
					</div>
					<div class="form-group col-md-6">
						<label for="dob">Date of Birth</label>
            <date-picker v-model="member.date_of_birth" width="100%" input-class="form-control" lang="en"
              value-type="format" confirm
            type="date" format="DD/MM/YYYY" placeholder="dd/mm/yyyy">
              <template slot="calendar-icon" >
                <i></i>
              </template>
            </date-picker>
						<!-- <input type="date" class="form-control" v-model="member.date_of_birth" id="dob" placeholder="dd/mm/yyyy"> -->
					</div>
          <div class="form-group col-md-6">
						<label for="dob">Member ID</label>
						<input type="text" class="form-control" v-model="member.member_id">
					</div>
					<div class="form-group col-md-6">
						<label for="website">Website</label>
						<input type="text" class="form-control" id="website" v-model="member.website" placeholder="http://www.your-website.com">
					</div>
					<div class="form-group col-md-6">
						<label for="email">Email</label>
						<input type="email" class="form-control" id="email" v-model="member.email" placeholder="you@somemail.com">
					</div>
					<div class="form-group col-md-6">
						<label for="phone">Phone</label>
						<input type="text" class="form-control" id="phone" v-model="member.phone_number" placeholder="+1 800 4000 200">
					</div>
					<div class="form-group col-md-6">
						<label for="linkedin">Linkedin</label>
						<input type="text" class="form-control" id="linkedin" v-model="member.linkedin" placeholder="https://linkedin.com/username">
					</div>
					<div class="form-group col-md-6">
						<label for="linkedin">Twitter</label>
						<input type="text" class="form-control" id="linkedin" v-model="member.twitter" placeholder="@username">
					</div>
          <b-form-group label="Assign Admin" label-for="assigned_admin" class="col-md-6">
            <b-form-select id="assigned_admin" v-model="member.assigned_admin">
              <option :value="null">Unassigned</option>
              <option v-for="admin in admins" :key="admin.id" :value="admin.users_id">{{ `${admin.first_name} ${admin.last_name}`}}</option>
            </b-form-select>
          </b-form-group>
					<div class="clearfix"></div>
        </FullCard>
      </b-row>
    </b-form>
  <b-button
    variant="link"
    class="m-r-15 c-blue"
    @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import Multiselect from 'vue-multiselect'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    Multiselect
  },
  data: () => ({
    image: undefined,
    filename: ''
  }),
  computed: {
    ...mapState({
      loading: state => state.loading,
      companies: state => state.companies.data,
      admins: state => state.admins.data
    })
  },
  async asyncData({ store, params, error, route, app }) {
    const _ = require('lodash')

    store.dispatch('getCompanies', store.getters.getCurrentSpaceId)
    store.dispatch('getAllAdmins')

    let tags = []

    await store
      .dispatch('getTags', store.getters.getCurrentSpaceId)
      .then(res => {
        if (res) {
          tags = _.map(res, o => {
            return o.label
          })
        }
      })

    return await store.dispatch('getUserById', route.params.id).then(res => {
      if (res.payload.results) {
        return {
          member: res.payload.results[0],
          tags: tags
        }
      } else {
        error({ statusCode: 404, message: 'Member Not Found' })
      }
    })
  },
  methods: {
    getBase64(e) {
      let input = event.target
      if (input.files && input.files[0]) {
        this.filename = input.files[0].name
        let reader = new FileReader()
        reader.onload = e => {
          this.image = e.target.result
        }

        reader.readAsDataURL(input.files[0])
      }
    },
    getProfilePic(image) {
      if (!image) {
        return '/images/users/avatar-1.jpg'
      }

      return image
    },
    handleCompany(e) {
      _.map(this.companies, v => {
        if (v.id === parseInt(e.target.value)) {
          this.member.company = v.name
        }
      })
    },
    async updateMember() {
      this.$store.commit('CHANGE_LOADING', true)

      let data = {
        'users.first_name': this.member.first_name,
        'users.last_name': this.member.last_name,
        'users.phone_number': this.member.phone_number,
        'users.email': this.member.email,
        'devless_user_profile.profile_pic': this.member.profile_pic,
        'devless_user_profile.bio': this.member.bio,
        'devless_user_profile.tags': this.member.tags,
        'devless_user_profile.linkedin': this.member.linkedin,
        'devless_user_profile.twitter': this.member.twitter,
        'devless_user_profile.company': this.member.company,
        'devless_user_profile.job_title': this.member.job_title,
        'devless_user_profile.date_of_birth': this.member.date_of_birth,
        'devless_user_profile.mailing_address': this.member.mailing_address,
        'devless_user_profile.devless_companies_id': this.member
          .devless_companies_id,
        'devless_user_profile.website': this.member.website,
        'devless_user_profile.member_id': this.member.member_id,
        'devless_user_profile.assigned_admin': this.member.assigned_admin
      }

      if (this.image) {
        if (
          !(data[
            'devless_user_profile.profile_pic'
          ] = await this.$store.dispatch('uploadImage', {
            base64: this.image
          }))
        )
          return
      }

      data['devless_user_profile.tags'] = JSON.stringify(this.member.tags)

      delete data.id

      /* Freeze the object to prevent tags stringifies showing on the UI */
      Object.freeze(data)

      await this.$store
        .dispatch('superApi', {
          table: 'users',
          action: 'update',
          queries: [{ where: ['users.id', this.member.id] }],
          records: data
        })
        .then(res => {
          this.$store.commit('CHANGE_LOADING', false)
          if (res.status_code === 1000) {
            // this.member.tags = JSON.parse(this.member.tags)
            this.$toast.success('Member Profile Updated Successfully')
            this.$router.go(-1)
            return
          }
          this.$toast.error('Error Updating Member Profile. Try Again ...')
        })
    }
  }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css">
</style>
