<template lang="html">
  <div class="">
    <MainTitle
      :subtitle="`${member.first_name} ${member.last_name}`"
      title="Community Profile">
      <div class="pull-right">
        <b-button
          v-if="member.is_admin"
          class="c-red"
          variant="link"
          @click="makeAdmin"><i class="fa fa-remove"/> Remove Admin</b-button>
        <b-button
          v-else
          class="c-blue mr-r-10"
          variant="link"
          @click="makeAdmin"><i class="fa fa-user"/> Make Admin</b-button>
        <b-button
          :to="$route.path + '/notes'"
          class="c-blue mr-r-10"
          variant="link"><i class="fa fa-sticky-note"/> View Notes</b-button>
        <b-button
          :to="$route.path + '/edit'"
          variant="link"
          class="c-blue mr-r-10"><i class="fa fa-pencil"/> Edit Profile</b-button>
        <b-button
          @click="removeUser"
          variant="link"
          style="color: red;"
          class="mr-r-20"><i class="fa fa-trash"/> Remove</b-button>
      </div>
    </MainTitle>
    <b-row>
      <FullCard
        cols="6"
        type="sh-profile-card">
        <div class="sh-p-header">
          <span class="label label-inverse">
            <i :class="'typcn typcn-lock-' + (checkMembership(member.last_membership_payment) !== 'expired' ? 'open-' : 'closed-') + 'outline'"/> {{ checkMembership(member.last_membership_payment) == 'expired' ? 'Expired' : 'Active' }}
          </span>
          <div>
            <img
              :src="(member.profile_pic || member.profile_pic == '') ? member.profile_pic : '/images/users/avatar-1.jpg'"
              alt="user"
              class="thumb-xl img-circle">
            <i
              :style="{color: member.check_in ? 'green' : 'red'}"
              style="position: relative; top: 7em; right: 3.5em;"
              class="fa fa-circle"/>
          </div>
          <h3>{{ `${member.first_name} ${member.last_name}` }}</h3>
          <h4><nuxt-link class="c-class" :to="`${base_url}/companies/${member.company}`">{{ member.company }}</nuxt-link></h4>
          <p class="pull-left mr-r-30">
            <i class="fa fa-map-marker"/> {{ (member.mailing_address !== '') ? member.mailing_address + ', ': '' }} {{ member.city }}
            <br>
            <i class="fa fa-calendar"/> {{ (member.date_of_birth !== null) ? $moment(member.date_of_birth, 'DD/MM/YYYY').format('DD MMMM YYYY') : 'N/A' }}
          </p>
          <div class="clearfix"/>
        </div>
        <div class="sh-p-content">
          <p class="pull-left mr-r-30"><i class="fa fa-envelope"/> {{ member.email }}</p>
          <p><i class="fa fa-phone"/> {{ member.phone_number }}</p>
          <div class="clearfix"/>

          <div class="mr-t-20">
            <p class="text-muted">Profile:</p>
            <p>{{ member.bio }}</p>
            <p v-if="!member.bio">No Bio Available</p>
          </div>

          <div class="mr-t-20 sh-tags">
            <span
              v-for="(tag, i) in member.tags"
              :key="i"
              class="label label-inverse"
              style="margin-right: 5px;">{{ tag }}</span>
            <span
              v-if="!member.tags"
              class="label label-inverse"
              style="margin-right: 5px;">
              No Tag(s) Assigned
            </span>
          </div>

          <div class="mr-t-20">
            <p><i class="fa fa-id-card"/> {{ member.member_id }}</p>
            <p><i class="fa fa-twitter"/> <a :href="member.twitter ? member.twitter : '#'">{{ member.twitter ? member.twitter : 'Not Available' }}</a></p>
            <p><i class="fa fa-linkedin"/> <a :href="member.linkedin ? member.linkedin : '#'">{{ member.linkedin ? member.linkedin : 'Not Available' }}</a></p>
            <p><i class="fa fa-globe"/> <a :href="member.website ? member.website : '#'">{{ member.website ? member.website : 'Not Available' }}</a></p>
          </div>

          <div class="mr-t-20">
            <p><span class="text-muted" style="margin-right: 0.5em;">Joined on:</span> {{ joinedDate }}</p>
            <p><span class="text-muted" style="margin-right: 0.5em;">Renewal on:</span> {{ renewalDate }}</p>
          </div>

          <div class="mr-t-30">
            <h5 class="u-line">References</h5>
            <dl class="">
              <dd>First References</dd>
              <dt>{{ `${member.first_reference_name} - ${member.first_reference_email}` }}</dt>
              <dd>Seconde References</dd>
              <dt>{{`${member.second_reference_name} - ${member.second_reference_email}`}}</dt>
            </dl>
          </div>

        </div>
      </FullCard>
      <div class="col-md-6">
        <!-- <InfoAlert>This is the Community Profile of <a href="#">{{ `${member.first_name} ${member.last_name}` }}</a>. Other SHACK15 members can view it in the <a href="#">Community Directory</a>.</InfoAlert> -->
        <PanelCard title="Card Details">
          <dl class="mr-b-0">
            <dd>Billing Details</dd>
            <dt v-if="last4">**** **** **** {{ last4 }} <b-link
              class="c-red"
              variant="danger"
              style="margin-left: 0.5em;"
              @click="removeCard"><br>(<i class="fa fa-remove"/> Remove Card)</b-link></dt>
            <dt v-else>No card attached <b-link
              :to="$route.path + '/card'"
              variant="danger"
              style="margin-left: 0.5em;">(<i class="fa fa-plus"/> Add Card)</b-link></dt>
          </dl>
        </PanelCard>

        <PanelCard title="Check In Status">
          <div>
            <span class="text-muted">Latest Check-in: {{ formatTime(member.last_checkin_date) }}</span>
          </div>
          <div class="">
            <p>Toggle Member Check-in Status</p>
            <b-button
              variant="info"
              @click="adminToggleCheckIn" class="mr-t-20">{{ member.check_in ? 'Check Out' : 'Check In' }}</b-button>
          </div>
        </PanelCard>

        <PanelCard title="Events">
          <div class="sh-events">
            <p class="u-line">Upcoming Events</p>
            <dl v-if="upcoming_events.length > 0">
              <div  class="sh-event-wrap"
              v-for="(event, index) in upcoming_events"
              :key="index">
              <dd>{{ $moment(event.date, 'DD/MM/YYYY').format('MMM Do, YYYY') + ' '+ event.time }}</dd>
              <dt><b-link :to="`${base_url}/events/${event.id}`">{{ event.event_title }}</b-link></dt>
            </div>
          </dl>
          <p v-else>No upcomings event</p>
        </div>
        <div class="clearfix"></div>
        <div class="sh-events">
          <p class="u-line mr-t-20">Past Events</p>
          <dl v-if="past_events.length > 0">
            <div class="sh-event-wrap" v-for="(event, index) in past_events"
            :key="index">
            <dd>{{ $moment(event.date, 'DD/MM/YYYY').format('MMM Do, YYYY') + ' '+ event.time }}</dd>
            <dt><b-link :to="`${base_url}/events/${event.id}`">{{ event.event_title }}</b-link></dt>
          </div>
        </dl>
        <p v-else>No past event</p>
      </div>
    </PanelCard>

      </div>
    </b-row>
    <b-button
      variant="link"
      class="m-r-15 c-blue"
      @click="$router.go(-1)"><i class="fa fa-chevron-left"/> Back</b-button>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import InfoAlert from '~/components/InfoAlert.vue'
import PanelCard from '~/components/PanelCard.vue'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    InfoAlert,
    PanelCard
  },
  async asyncData({ store, params, error, route, app }) {
    const moment = require('moment')

    let upcoming_events = null
    let past_events = null

    await store
      .dispatch('superApi', {
        table: 'core_events',
        action: 'read',
        queries: [
          {
            join: [
              'core_event_attendees',
              'core_events.id',
              '=',
              'core_event_attendees.core_events_id'
            ]
          },
          { take: [10] },
          { where: ['users_id', route.params.id] },
          { select: ['core_events.title as event_title', 'core_events.*'] }
        ]
      })
      .then(res => {
        if (res.status_code == 1000) {
          const today = moment()

          upcoming_events = _.filter(res.payload, o => {
            return today.isBefore(moment(o.date, 'DD/MM/YYYY'))
          })

          past_events = _.filter(res.payload, item => {
            return !today.isBefore(moment(item.date, 'DD/MM/YYYY'))
          })
        }
      })

    return await store.dispatch('getUserById', route.params.id).then(res => {
      if (res.payload.results) {
        return {
          member: res.payload.results[0],
          upcoming_events: upcoming_events,
          past_events: past_events,
          last4: null,
          source: null
        }
      } else {
        error({ statusCode: 404, message: 'Member Not Found' })
      }
    })
  },
  computed: {
    ...mapState({
      base_url: state => state.base_url,
      current_space: state => state.current_space
    }),
    joinedDate() {
      const { member, $moment } = this
      return $moment(member.last_membership_payment * 1000).format('YYYY-MM-DD')
    },
    renewalDate() {
      const { member, $moment } = this

      return $moment(member.last_membership_payment * 1000)
        .add(1, 'year')
        .format('YYYY-MM-DD')
    }
  },
  mounted() {
    let _self = this

    var data = null

    // make xhr to strip API
    var xhr = new XMLHttpRequest()
    xhr.withCredentials = true

    xhr.addEventListener('readystatechange', function() {
      if (this.readyState === 4) {
        let response = JSON.parse(this.response)

        //retrieve last4 card digits
        _.forEach(response.data, o => {
          if (o.object == 'source') {
            _self.source = o
            _self.last4 = o.card.last4
          }
        })
      }
    })

    xhr.open(
      'GET',
      `https://api.stripe.com/v1/customers/${
        _self.member.payment_token
      }/sources`
    )
    xhr.setRequestHeader(
      'Authorization',
      `Bearer ${process.env.stripe.secret_key}`
    )

    xhr.send(data)
  },
  methods: {
    formatTime(time) {
      if (this.current_space.timezone == 'America/Los_Angeles') {
        const moment = require('moment-timezone')

        return moment
          .unix(time)
          .tz('America/Los_Angeles')
          .format('ddd, Do MMM YYYY hh:mm a')
      }
      return this.$moment(time * 1000)
        .tz('Europe/London')
        .format('ddd, Do MMM YYYY hh:mm a')
    },
    checkMembership(date) {
      let today = this.$moment()
      let timeDiff = today.diff(this.$moment(date * 1000), 'days')
      if (timeDiff > 365) {
        return 'expired'
      }
    },
    async adminToggleCheckIn() {
      this.$store.commit('CHANGE_LOADING', true)

      await this.$devless
        .call('core', 'adminToggleCheckIn', [
          {
            user_id: this.member.id
          }
        ])
        .then(res => {
          this.$store.commit('CHANGE_LOADING', false)

          if (res.status_code) {
            this.member.check_in = this.member.check_in ? null : 1
            this.$toast.success('Toggling User Checkin Status Successful.')
            return
          }
          this.$toast.error('Error Changing User Checkin Status. Try Again ...')
        })
    },
    async makeAdmin() {
      this.$store.commit('CHANGE_LOADING', true)

      await this.$store
        .dispatch('superApi', {
          table: 'devless_user_profile',
          action: 'update',
          queries: [{ where: ['users_id', this.member.id] }],
          records: { is_admin: this.member.is_admin ? null : 1 }
        })
        .then(res => {
          this.$store.commit('CHANGE_LOADING', false)
          if (res.status_code == 1000) {
            if (!this.member.is_admin) {
              this.$store.dispatch('superApi', {
                table: 'devless_admin_role',
                action: 'create',
                queries: [],
                records: {
                  role: 1,
                  devless_user_id: 1,
                  users_id: this.member.id
                }
              })
            } else {
              this.$store.dispatch('superApi', {
                table: 'devless_admin_role',
                action: 'destroy',
                queries: [{ where: ['users_id', this.member.id] }]
              })
            }
            this.member.is_admin = this.member.is_admin ? null : 1
            this.$toast.success(
              this.member.is_admin
                ? 'Member Is Now An Admin'
                : 'Member Removed As An Admin'
            )
            return
          }
          this.$toast.error(
            'Error Occurred Making Member An Admin. Try Again ...'
          )
        })
    },
    removeUser() {
      if (!confirm('Are you sure?')) return

      this.$store
        .dispatch('superApi', {
          table: 'users',
          action: 'destroy',
          queries: [{ where: ['users.id', this.member.id] }]
        })
        .then(res => {
          if (res) {
            this.$toast.success('Member Account Removed Successfully.')
            this.$router.go(-1)
          } else {
            this.$toast.error('Error Removing Member.')
          }
        })
    },
    removeCard() {
      if (!confirm('Confirm removal of current payment source')) return

      this.$store.commit('CHANGE_LOADING', true)

      let _self = this

      var data = null

      var xhr = new XMLHttpRequest()
      xhr.withCredentials = true

      xhr.addEventListener('readystatechange', function() {
        _self.$store.commit('CHANGE_LOADING', false)
        if (this.readyState === 4) {
          _self.$store.commit('CHANGE_LOADING', false)
          _self.last4 = null
        }
      })

      xhr.open(
        'DELETE',
        `https://api.stripe.com/v1/customers/${
          _self.member.payment_token
        }/sources/${_self.source.id}`
      )
      xhr.setRequestHeader(
        'Authorization',
        `Bearer ${process.env.stripe.secret_key}`
      )

      xhr.send(data)
    }
  }
}
</script>

<style lang="css">
.c-class {
  color: white;
}

.c-class:hover {
  text-decoration: underline;
}
</style>
