<template lang="html">
  <div class="">
    <b-form @submit.prevent="updateNotes">
        <MainTitle title="Edit Profile" :subtitle="`${member.first_name} ${member.last_name}`">
  			<div class="pull-right">
  				<b-button type="submit" variant="primary" :disabled="loading">Save Note</b-button>
  			</div>
  		</MainTitle>
      <b-row>
        <FullCard cols="6">
          <HeaderTitle subtitle="New Note" />
          <no-ssr>
          <div class="quill-editor"
               :content="note"
               @change="onEditorChange($event)"
               v-quill:myQuillEditor="editorOption">
          </div>
        </no-ssr>
        </FullCard>
        <FullCard cols="6">
          <HeaderTitle subtitle="Administrator's Notes" />
          <dl class="" v-if="notes.length > 0">
            <div style="margin-bottom: 1em;" v-for="(nt, i) in notes" :key="nt.c_id">
              <dt><span>{{ nt.first_name + ' ' + nt.last_name}} <span v-if="admin.id == nt.admin_user_id">
                <b-button @click="removeNote(i)" variant="link" style="color: red;" size="sm"><i class="fa fa-trash c-red"></i></b-button>
              </span></span> <span class="float-right text-muted">{{ formatTime(nt.timestamp) }}</span></dt>
              <dd v-html="nt.notes" />
            </div>
          </dl>
          <p class="text-muted" v-else>No notes</p>
        </FullCard>
      </b-row>
    </b-form>
    <b-button variant="link" class="m-r-15 c-blue" @click="$router.go(-1)"><i class="fa fa-chevron-left"></i> Back</b-button>
  </div>
</template>

<script>
import MainTitle from '~/components/MainTitle'
import FullCard from '~/components/FullCard'
import HeaderTitle from '~/components/HeaderTitle'
import { mapState } from 'vuex'

export default {
  async asyncData({ store, route, error, app }) {
    let member = {}
    await store.dispatch('getUserById', route.params.id).then(res => {
      if (res.payload.results) {
        member = res.payload.results[0]
      } else {
        error({ statusCode: 404, message: 'Member Not Found' })
      }
    })

    return await store
      .dispatch('superApi', {
        table: 'core_user_notes',
        action: 'read',
        queries: [
          {
            where: ['users_id', route.params.id]
          },
          {
            join: ['users', 'core_user_notes.admin_user_id', '=', 'users.id']
          },
          {
            select: [
              'core_user_notes.id as c_id',
              'core_user_notes.*',
              'users.*'
            ]
          }
        ]
      })
      .then(res => {
        if (res.status_code == 1000) {
          return {
            notes: res.payload,
            member: member
          }
        } else {
          error({ statusCode: 500, message: 'Something went wrong' })
        }
      })
  },
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: () => ({
    note: '',
    editorOption: {
      modules: {}
    }
  }),
  computed: {
    ...mapState({
      admin: state => state.auth.authUser.profile,
      loading: state => state.loading,
      current_space: state => state.current_space
    })
  },
  methods: {
    onEditorChange({ editor, html, text }) {
      this.note = html
    },
    formatTime(time) {
      // if (this.current_space.timezone == 'America/Los_Angeles') {
      //   return this.$moment(`${time} -07:00`).fromNow()
      // }
      // return this.$moment(`${time}`).fromNow()
      const moment = require('moment-timezone')

      if (this.current_space.timezone == 'America/Los_Angeles') {
        return moment(time)
          .tz('America/Los_Angeles')
          .fromNow()
      }
      return moment(time)
        .tz('Europe/London')
        .fromNow()
    },
    async updateNotes() {
      this.$store.commit('CHANGE_LOADING', true)

      try {
        let payload = {
          users_id: this.member.id,
          admin_user_id: this.admin.id,
          notes: this.note
        }

        await this.$store
          .dispatch('superApi', {
            table: 'core_user_notes',
            action: 'create',
            records: payload
          })
          .then(res => {
            this.$store.commit('CHANGE_LOADING', false)

            if (res.status_code == 1000) {
              this.$toast.success('Notes Added Successfully')
              this.note = ''
              this.fetchNotes()
              return
            }
            this.$toast.error('Error Updating Notes. Try Again ...')
          })
      } catch (e) {
        console.log(e)
        this.$sentry.captureException(e)
      }
    },
    fetchNotes() {
      this.$store
        .dispatch('superApi', {
          table: 'core_user_notes',
          action: 'read',
          queries: [
            {
              where: ['users_id', this.$route.params.id]
            },
            {
              join: ['users', 'core_user_notes.admin_user_id', '=', 'users.id']
            },
            {
              select: [
                'core_user_notes.id as c_id',
                'core_user_notes.*',
                'users.*'
              ]
            }
          ]
        })
        .then(res => {
          if (res.status_code == 1000) {
            this.notes = res.payload
          } else {
            this.$toast.error('Error Fetching Notes.')
          }
        })
    },
    removeNote(index) {
      if (!confirm('Are you sure?')) return

      this.$store.commit('CHANGE_LOADING', true)
      this.$store
        .dispatch('superApi', {
          table: 'core_user_notes',
          action: 'destroy',
          queries: [{ where: ['id', this.notes[index].c_id] }]
        })
        .then(res => {
          this.$store.commit('CHANGE_LOADING', false)

          if (res.status_code == 1000) {
            this.notes.splice(index, 1)
            this.$toast.success('Note Deleted Successfully')
            return
          }
          this.$toast.error('Erorr Deleting Notes')
        })
        .catch(e => {
          this.$sentry.captureException(e)
        })
    }
  }
}
</script>

<style lang="css" scoped>
  .quill-editor {
    min-height: 100px;
    max-height: 400px;
    overflow-y: auto;
  }
</style>
