<template lang="html">
  <div class="">
    <EditTableBookings :data="data" />
    <b-button variant="link" class="m-r-15 c-blue" @click="$router.go(-1)"><i class="fa fa-chevron-left"></i> Back</b-button>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import EditTableBookings from '~/components/EditTableBookings'

export default {
  layout: 'dashboard',
  components: {
    EditTableBookings
  },
  async asyncData({ app, store, route, error }) {
    try {
      await store.dispatch('fetchTables', store.getters.getCurrentSpaceId)

      return app.$devless
        .queryData('core', 'restaurant_reservations', {
          where: `id,${route.params.id}`
        })
        .then(res => {
          if (res.status_code == 625) {
            return {
              data: res.payload.results[0]
            }
          }
        })
    } catch (e) {
      error({ statusCode: 404, message: 'Record Not Found' })
    }
  }
}
</script>

<style lang="css">
</style>
