<template lang="resources-add">
  <div class="">
    <b-form @submit.prevent="updateTable">
      <MainTitle title="Edit Table">
      <div class="pull-right">
        <b-button type="submit" variant="primary" :disabled="loading">Update Table</b-button>
      </div>
    </MainTitle>
    <b-row>
      <div class="pd-10" v-if="loading">
        <content-placeholders>
          <content-placeholders-heading />
          <content-placeholders-text :lines="6" />
        </content-placeholders>
      </div>
      <FullCard cols="12" type="card-feed" v-else>
        <HeaderTitle subtitle="Table Details" />
        <div class="row p-lr-20">
          <div class="col-md-6">
            <div class="row">
              <b-form-group label="Name" label-for="title" class="col-md-12">
                <b-form-input id="title" type="text" class="form-control" placeholder="Name of Table" v-model="table.row.name" />
              </b-form-group>
              <b-form-group label="Reservation Fee" label-for="price_per_hour" class="col-md-9">
                <b-form-input id="price_per_hour" type="number" step="0.01" class="form-control" placeholder="0.00" v-model="table.row.reservation_fee" />
              </b-form-group>
              <b-form-group label="Currency" label-for="currency" class="col-md-3">
                <b-form-input :value="$store.getters.getCurrency" id="currency" class="form-control" readonly />
              </b-form-group>
              <b-form-group label="Description" label-for="description" class="col-md-12">
                <b-form-textarea placeholder="Add details about this resource" rows="5" class="form-control" v-model="table.row.description" />
              </b-form-group>
              <div class="clearfix"></div>
              <div class="col-md-3">
                <img :src="(image) ? image : table.row.images[0]" class="img-responsive" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <b-form-group label="Sitting Capacity" label-for="seats" class="col-md-12">
                <b-form-input id="seats" type="number" class="form-control" placeholder="0" v-model="table.row.sitting_capacity" />
              </b-form-group>
              <b-form-group label="Reservation Limit" label-for="limit" class="col-md-12">
                <b-form-input id="limit" type="number" class="form-control" placeholder="0" v-model="table.row.reservation_limit" />
              </b-form-group>
              <b-form-group label="Allow Over Reservation" label-for="over_reservation" class="col-md-12">
                <b-form-checkbox id="over_reservation" class="checkbox-inline" v-model="table.row.allow_over_reservation" value="1" unchecked-value="">Yes</b-form-checkbox>
              </b-form-group>
              <h5 class="col-md-12"><b-button variant="link" :to="$route.path + '/slots'"><span style="text-decoration: underline;">Modify Availability Booking Times</span></b-button></h5>
            </div>
          </div>
        </div>
        <UploadButton v-model="image" name="resouce_image" />
      </FullCard>
    </b-row>
    </b-form>
    <b-button variant="link" class="m-r-15 c-blue" @click="$router.go(-1)"><i class="fa fa-chevron-left"></i> Back</b-button>
  </div>
</template>

<script>
import MainTitle from '~/components/MainTitle.vue'
import FullCard from '~/components/FullCard.vue'
import HeaderTitle from '~/components/HeaderTitle'
import UploadButton from '~/components/UploadButton'
import Modal from '~/components/Modal'
import { mapState } from 'vuex'
import { days } from '~/static/data'

export default {
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle,
    Modal,
    UploadButton
  },
  data: () => ({
    image: undefined,
    days: days
  }),
  computed: {
    ...mapState({
      current_space: state => state.current_space,
      loading: state => state.loading,
      table: state => state.tables.table,
      openings: state => state.tables.openings
    })
  },
  created() {
    if (!this.table) {
      this.$store.dispatch('getSingleTable', this.$route.params.id)
    }
    this.$store.dispatch('getTableOpeningDays', this.$route.params.id)
  },
  methods: {
    async updateTable() {
      if (this.image) {
        if (
          !(this.table.row.images[0] = await this.$store.dispatch(
            'uploadImage',
            {
              base64: this.image
            }
          ))
        )
          return
      }

      let table = this.table
      table.row.images = JSON.stringify(this.table.row.images)

      this.$store.dispatch('updateTable', table)
    }
  }
}
</script>

<style lang="css">
</style>
