<template lang="html">
  <div class="">
    <MainTitle title="Restaurant Table Availability Slots">
      <div class="pull-right">
        <b-button variant="primary" @click="addDate">
          Add New Slot
        </b-button>
      </div>
    </MainTitle>
    <b-row>
      <FullCard cols="9" type="card-feed">
        <HeaderTitle subtitle="Modify Availability Times & Dates" />
        <div class="row" v-for="(sl, i) in openings" :key="i">
            <div class="col-md-12">
              <b-form-group label="Day" label-for="date" class="col-md-3">
                <b-form-select v-model="sl.day" :options="days">
                  <option value="" disabled>-- Choose day --</option>
                </b-form-select>
              </b-form-group>
              <b-form-group label="Open From" label-for="time" class="col-md-3">
                <date-picker v-model="sl.open_from" width="100%" input-class="form-control" lang="en"
                  value-type="format" :time-picker-options="timePickerOptions"
                type="time" format="HH:mm" placeholder="Select Time">
                  <template slot="calendar-icon" >
                    <i></i>
                  </template>
                </date-picker>
                <!-- <b-form-input id="time" type="time" class="form-control" v-model="sl.open_from" /> -->
              </b-form-group>
              <b-form-group label="Open Till" label-for="time" class="col-md-3">
                <date-picker v-model="sl.open_to" width="100%" input-class="form-control" lang="en"
                  value-type="format" :time-picker-options="timePickerOptions"
                type="time" format="HH:mm" placeholder="Select Time">
                  <template slot="calendar-icon" >
                    <i></i>
                  </template>
                </date-picker>
                <!-- <b-form-input id="time" type="time" class="form-control" v-model="sl.open_to" /> -->
              </b-form-group>
              <b-form-group label="Closed" label-for="time" class="col-md-1">
                <b-form-checkbox id="checkbox1"
                v-model="sl.closed"
                :value="1"
                :unchecked-value="null">
              </b-form-checkbox>
            </b-form-group>
            <b-form-group label=" " label-for="remove" class="col-md-1">
              <b-button id="remove" variant="danger" @click="removeDate(i)"><i class="fa fa-close"></i></b-button>
            </b-form-group>
            <b-form-group label=" " label-for="update" class="col-md-1">
              <b-button id="update" variant="success" @click="updateDate(i)"><i class="fa fa-check"></i></b-button>
            </b-form-group>
          </div>
        </div>
      </FullCard>
    </b-row>
    <b-button variant="link" class="m-r-15 c-blue" @click="$router.go(-1)"><i class="fa fa-chevron-left"></i> Back</b-button>
  </div>
</template>

<script>
import MainTitle from '~/components/MainTitle.vue'
import FullCard from '~/components/FullCard.vue'
import HeaderTitle from '~/components/HeaderTitle.vue'
import { days } from '~/static/data'

export default {
  async asyncData({ store, route, app, redirect }) {
    return await store
      .dispatch('getTableOpeningDays', route.params.id)
      .then(res => {
        if (res) {
          return {
            openings: res
          }
        }
        redirect(
          `/space/${store.state.current_space.tag}/tables/${route.params.id}`
        )
      })
  },
  layout: 'dashboard',
  components: {
    MainTitle,
    FullCard,
    HeaderTitle
  },
  data: () => ({
    days: days,
    timePickerOptions: {
      start: '00:00',
      step: '01:00',
      end: '23:00'
    }
  }),
  methods: {
    addDate() {
      this.openings.push({
        core_restaurant_id: '',
        open_to: '',
        open_from: '',
        day: '',
        closed: null,
        new: true
      })
    },
    async removeDate(i) {
      if (!confirm('Are you sure?')) return

      if (!this.openings[i].id) {
        this.openings.splice(i, 1)
        return
      }

      try {
        await this.$devless
          .deleteData(
            'core',
            'restaurant_opening_days',
            'id',
            this.openings[i].id
          )
          .then(res => {
            if (res.status_code === 636) {
              this.openings.splice(i, 1)
              this.$toast.success('Opening Removed Successfully')
              return
            }
            this.$toast.error('Error Removing Opening. Try Again ...')
          })
      } catch (e) {
        this.$sentry.captureException(e)
      }
    },
    async updateDate(i) {
      if (this.openings[i].new) {
        try {
          delete this.openings[i].new
          this.openings[i].core_restaurant_id = this.$route.params.id
          await this.$devless
            .addData('core', 'restaurant_opening_days', this.openings[i])
            .then(res => {
              if (res.status_code === 609) {
                this.openings[i].id = res.payload.entry_id
                this.$toast.success('New Opening Added Successfully')
                return
              }
              this.$toast.error('Error Adding Opening. Try Again ...')
            })
        } catch (e) {
          this.$sentry.captureException(e)
        }
        return
      }

      try {
        this.$store.commit('CHANGE_LOADING')
        await this.$devless
          .updateData(
            'core',
            'restaurant_opening_days',
            'id',
            this.openings[i].id,
            this.openings[i]
          )
          .then(res => {
            this.$store.commit('CHANGE_LOADING')
            if (res.status_code === 619) {
              this.$toast.success('Opening Updated Successfully')
              return
            }
            this.$toast.error('Error Updating Opening. Try Again ...')
          })
      } catch (e) {
        this.$sentry.captureException(e)
      }
    }
  }
}
</script>

<style lang="css" scoped>
</style>
